<style>
    .table .row {
        margin-bottom: 2px;
        border-bottom: 1px solid #666;
        padding-bottom: 2px;
        padding-left: 2px;
        padding-right: 2px;
        padding: 0;
    }

    .table .row .buttons {
        margin-bottom: 0;
    }

    #sidebar {
        display: none;
    }

    ng-view {
        width: 100%;
        max-width: 100%;
        padding: 0 !important;
    }

    panel #styles-edit .scroll-area {
        float: left;
        overflow: hidden;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        padding-right: 0;
        margin: 0;
    }

    panel #styles-edit .scroll-container {
        width: 255px;
        overflow: hidden;
        float: left;
        position: relative;
        left: 0;
        padding-right: 0;
        top: 0;
        bottom: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
</style>
<header class="editor">
    <nav>
        <a href="{{baseUrl}}/"><img id="logo" src="/Public/Img/logo.png"></a>
        <a href="" class="expand rounded" ng-click="changePage()">
            Strona: {{config.defaultPageUrl}}
        </a>
        <i class="material-icons link save" ng-click="savePage()" title="Zapis całej strony do bazy danych.">cloud_upload</i>
        <i class="material-icons link exit" ng-click="closePage()"
           title="Wyjście z edytora. Powrót do listy projektów.">power_settings_new</i>
    </nav>
</header>

<panel class="animate" ng-if="$root.leftPanel"
       ng-class="{'elements': $root.selectedElementsShow=='elements',
            'configure': $root.leftPanel=='configure'}">
    <editor-left scroll="$root.scrollPanels()">
        <div class="my-scroll-area-left">
            <panels>
                <div ng-show="$root.leftPanel=='elements'"
                     ng-include="'/Public/Templates/SimpleEditor/Panels/SelectElementPanel.html'"></div>
                <div ng-show="$root.leftPanel=='configure'"
                     ng-include="'/Public/Templates/SimpleEditor/Panels/ConfigureElementPanel.html'"></div>
            </panels>
        </div>
    </editor-left>
</panel>

<resize class="animate">
    <span ng-click="$root.resizeView(0, 1280)" ng-class="{'active': $root.screenWidth==1280}">1280</span>
    <span ng-click="$root.resizeView(0, 890)" ng-class="{'active': $root.screenWidth==890}">890</span>
    <span ng-click="$root.resizeView(0, 690)" ng-class="{'active': $root.screenWidth==690}">690</span>
    <span ng-click="$root.resizeView(0, 490)" ng-class="{'active': $root.screenWidth==490}">490</span>
    <span ng-click="$root.resizeView(0, 320)" ng-class="{'active': $root.screenWidth==320}">320</span>
</resize>

<iframe class="animate" src="/Public/Templates/SimpleEditor/EditorView.html" name="viewFrame" id="viewFrame"></iframe>

<div id="add-links" class="anim">
    <div class="link" ng-if="tips.headerCreate"><span><a
            ng-click="$root.tipsShow=false;rebuildPanelLeftScrollbar();tips.headerCreateFunction($event)">Dodaj</a> nagłówek strony</span>
    </div>
    <div class="link" ng-if="tips.sidebarLeftCreate"><span><a
            ng-click="$root.tipsShow=false;rebuildPanelLeftScrollbar();tips.sidebarLeftCreateFunction($event)">Dodaj</a> lewy panel</span>
    </div>
    <div class="link" ng-if="tips.bodyCreate"><span><a
            ng-click="$root.tipsShow=false;rebuildPanelLeftScrollbar();tips.bodyCreateFunction($event)">Dodaj</a> ciało strony</span>
    </div>
    <div class="link" ng-if="tips.sidebarRightCreate"><span><a
            ng-click="$root.tipsShow=false;rebuildPanelLeftScrollbar();tips.sidebarRightCreateFunction($event)">Dodaj</a> prawy panel</span>
    </div>
    <div class="link" ng-if="tips.footerCreate"><span><a
            ng-click="$root.tipsShow=false;rebuildPanelLeftScrollbar();tips.footerCreateFunction($event)">Dodaj</a> stopkę strony</span>
    </div>
</div>

<div elem-ready="$root.scrollPanels();editorViewFrameSetup();editorViewBufforSetup();editorViewLookSetup();setupTips();"></div>