<style>
    #select-kind .kinds .kind h3 {
        font-weight: 400;
        font-size: 1.1em;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #select-kind .kinds .kind p {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
    }

    #select-kind .kinds {
        margin-top: 25px;
        text-align: center;
    }
</style>
<div id="select-kind">
    <div class="title">
        <h2>Wybierz rodzaj tworzonej strony.</h2>
    </div>
    <div class="row">
        <div class="kinds col col-xs-4 offset-xs-4">
            <div class="kind">
                <h3>Wizytówka</h3>
                <p>Strona wizytówka to zwykła strona informacyjna nie posiada bazy.</p>
                <button ng-click="select('wizytowka')">Wybierz</button>
            </div>
        </div>
    </div>
</div>