<style>
    #select-template .card {
        vertical-align: top;
        position: relative;
        margin: 10px;
        box-shadow: 5px 5px 5px #bbb;
    }

    #select-template .card {
        border: 2px solid #ccc;
        border-radius: 3px;
        overflow: hidden;
    }

    #select-template .image img {
        width: 100%;
        position: absolute;
        top: 0px;
    }

    #select-template .card .body:hover .material-icons {
        color: #8eb0c7;
    }

    #select-template .image {
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
    }

    #select-template .card:hover,
    #select-template .card.active {
        border: 2px solid #8eb0c7;
    }

    #select-template .card:hover:not(.add) .title,
    #select-template .card.active:not(.add) .title {
        border-top: 2px solid #8eb0c7;
    }

    #select-template .card .container {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1;
        opacity: 0;
        border: 2px solid transparent;
    }

    #select-template .card:hover .container,
    #select-template .card.active .container {
        border: 2px solid #8eb0c7;
        opacity: 1;
        border-radius: 3px;
    }

    #select-template .card .container .buttons {
        position: absolute;
        bottom: 0px;
        padding: 10px 15px;
        background-color: rgba(255, 255, 255, 0.5);
        border-top: 2px solid #8eb0c7;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 0px;
    }

    #select-template .cover button {
    }

    #select-template .projects h3{
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.35em;
        margin: 10px 0px;
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 0;
    }

    #select-template .projects .back{
        margin-bottom: 20px;
        float: left;
        width: 100%;
        box-sizing: border-box;
    }
    #select-template .card.add .title {
        border-top: none;
    }

    #select-template .card.add {
        padding: 0;
    }

    #select-template .card.add .title {
        padding: 6px;
    }

    #select-template .add-button {
        float: left;
        position: absolute;
        top: 50%;
        margin-top: -28px;
        left: 50%;
        margin-left: -28px;
    }

    #select-template .add-button .material-icons {
        font-size: 4em;
    }
</style>
<div id="select-template">
    <div class="title">
        <h2>Publiczna lista projektów</h2>
    </div>
    <div class="cards">
        <div class="projects">
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card add">
                    <a href="{{baseUrl}}/projekt/{{projectId}}/edycja">
                        <div class="body" title="Przejście na stronę dodawania nowego projektu.">
                            <div class="image">
                                <div class="add-button">
                                    <i class="material-icons">add_circle_outline</i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 col-xl-3"
                 ng-repeat="project in projects">
                <div class="card"
                     ng-click="projects.activeCard=project.id"
                     ng-class="{'active': projects.activeCard==project.id}" image-scroll>
                    <div class="content">
                        <div class="image"><img src="/pliki/{{project.image.id}}/{{project.image.name}}"></div>
                    </div>
                    <div class="container animate">
                        <div class="buttons">
                            <button ng-click="selectProject(project)">Wybierz</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>