<style>
    #select-style h3 {
        font-weight: 400;
        margin-top: 0px;
        padding-top: 0px;
    }

    #select-style .style {
        cursor: pointer;
        font-size: 1.2em;
        margin: 3px 0px;
        font-weight: 300;
    }

    #select-style .style:hover,
    #select-style .style.selected {
        font-weight: 500;
        color: #8eb0c7;
    }

    #select-style iframe {
        width: 99%;
        float: left;
        box-sizing: border-box;
        min-height: 500px;
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 5px;
        right: 0px;
        box-shadow: none;
        border-radius: 0;
    }

    #select-style .image img {
        width: 100%;
        position: absolute;
        top: 0px;
    }

    #select-style .image {
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
    }

    #select-style .card {
        margin: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 0px;
        border: 2px solid #ddd;
        border-radius: 3px;
        position: relative;
        box-shadow: 5px 5px 5px #bbb;
    }

    #select-style .card .body{
        padding: 0;
    }

    #select-style .footer {
        text-align: right;
        padding: 0px 10px;
    }

    #select-style .card .title {
        font-weight: 500;
        margin: 0px;
        font-size: 1.25em;
        padding: 5px 10px 5px 10px;
        user-select: none;
        position: absolute;
        bottom: 0px;
        width: 100%;
        box-sizing: border-box;
        border-top: 2px solid #ddd;
        background: rgba(255, 255, 255, 0.85);
    }

    #select-style .card .title .menu {
        position: absolute;
        top: 3px;
        font-size: 1.35em;
        right: 0px;
        left: auto;
    }

    #select-style .add-button {
        float: left;
        position: absolute;
        top: 50%;
        margin-top: -28px;
        left: 50%;
        margin-left: -28px;
    }

    #select-style .add-button .material-icons {
        font-size: 4em;
    }

    #select-style .card .body:hover .material-icons {
        color: #8eb0c7;
    }

    #select-style .material-icons.loading {
        font-size: 12em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -84px;
        margin-left: -84px;
    }

    #select-style .card.add .title {
        border-top: none;
    }

    #select-style .card.add {
        padding: 0;
    }

    #select-style .card.add .title {
        padding: 6px;
    }

    #select-style .card:hover,
    #select-style .card.active {
        border: 2px solid #8eb0c7;
    }

    #select-style .card:hover:not(.add) .title,
    #select-style .card.active:not(.add) .title {
        border-top: 2px solid #8eb0c7;
    }

    #select-style .card .edit-button-container {
        position: absolute;
        top: 0;
        bottom: 32px;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.75);
        opacity: 0;
        z-index: 1;
        text-align: center;
    }

    #select-style .card:hover .edit-button-container,
    #select-style .card.active .edit-button-container {
        opacity: 1;
    }

    #select-style .card .edit-button-container button {
        position: relative;
        top: 50%;
        margin-top: -46px;
    }

    #select-style .modal .cards .body {
        width: auto;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        float: none;
    }
</style>
<div id="select-style">
    <div class="title">
        <h2>Wybierz styl dla swojej nowej strony.</h2>
    </div>
    <div class="cards">
        <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="style in publicStyles">
            <div class="card" ng-click="styles.activeCard=style.id"
                 ng-class="{'active': styles.activeCard==style.id}">
                <div class="body">
                    <div class="image" image-scroll>
                        <img ng-src="/pliki/{{style.image.id}}/{{style.image.name}}"/>
                        <div class="edit-button-container">
                            <button ng-click="selectStyle(style)">Wybierz</button>
                        </div>
                    </div>
                </div>
                <div class="title">
                    {{style.name}}
                </div>
            </div>
        </div>
        <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-if="page<=pages">
            <div class="card add">
                <div class="body" style="cursor: pointer;" ng-click="loadNext()" title="Wczytanie kolejnych projektów.">
                    <div class="image">
                        <i class="material-icons loading">autorenew</i>
                        <div class="title">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>