<style>
    #components .table .row .buttons {
        position: relative;
    }
    #components p{
        font-size: 0.85em;
        padding: 0;
        margin: 0;
    }
</style>
<div id="components">
    <div class="title"><h2>Lista komponentów</h2></div>
    <div class="buttons">
        <button ng-click="editComponent()">Dodaj komponent</button>
    </div>
    <div class="table">
        <div class="row header">
            <div class="col col-xs-1"></div>
            <div class="col col-xs-1">Klucz</div>
            <div class="col col-xs-1">Rodzaj</div>
            <div class="col col-xs-1">SimpleView</div>
            <div class="col col-xs-1">Plik</div>
            <div class="col col-xs-2">Nazwa</div>
            <div class="col col-xs-1">Użycia</div>
            <div class="col col-xs-4">Opis</div>
        </div>
        <div class="row animate" ng-repeat="component in components">
            <div class="col col-xs-1">
                <div class="buttons">
                    <i class="material-icons" ng-click="editComponent(component)">edit</i>
                    <i class="material-icons delete" ng-click="delete(components, component)">delete</i>
                </div>
            </div>
            <div class="col col-xs-1">{{component.key}}</div>
            <div class="col col-xs-1">{{component.kind}}</div>
            <div class="col col-xs-1">{{component.simpleView}}</div>
            <div class="col col-xs-1">{{component.file}}</div>
            <div class="col col-xs-2">{{component.name}}</div>
            <div class="col col-xs-1">{{component.count}}</div>
            <div class="col col-xs-4"><p>{{component.description}}</p></div>
        </div>
    </div>
</div>