<style>
</style>
<div id="dashboard">
    <div class="title"><h2>Narzędzia konfiguracji serwisu</h2></div>
    <div id="config">
        <div class="col-xs-3">
            <div class="card">
                <h2>Baza w wersji {{version}}</h2>
                <div ng-if="(newVersion!=version)">
                    <h4>Nowa wersja {{newVersion}}</h4>
                    <button class="upgrade" ng-click="upgrade()">Upgrade</button>
                </div>
            </div>
        </div>
    </div>
</div>