<style>
    #dashboard .kind {
        margin-bottom: 15px;
    }

    #dashboard .kind-name {
        margin-right: 20px;
    }

    #dashboard .value-name {
        margin-right: 15px;
    }

    #dashboard .kind-name .name {
        font-size: 1.15em;
        font-weight: 400;
        margin-bottom: 5px;
        display: inline-block;
    }

    #dashboard .value-name .name {
        font-size: 1.1em;
        font-weight: 400;
        color: #9e9e9e;
        display: inline-block;
        margin-bottom: 5px;
    }

    #dashboard .kind .count {
        color: #55b5f3;
    }

    #dashboard .panel .card {
        padding: 0;
        border: none;
        box-shadow: none;
    }

    #dashboard .panel .card .head {
        font-size: 1.25em;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 400;
    }

    #dashboard .panel .count {
        margin-top: 50px;
    }

    #dashboard .panel .last.pages {
        margin-top: 25px;
        margin-left: 25px;
    }

    #dashboard .panel .count b {
        font-size: 7em;
        text-align: center;
        width: 100%;
        float: left;
        box-sizing: border-box;
    }

    #dashboard .panel .count span {
        font-size: 1.25em;
        font-weight: 400;
        text-align: center;
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
</style>
<div id="dashboard">
    <div class="title"><h2>Dashboard</h2></div>
    <tabs>
        <h3 class="tab" ng-class="{'active': ($root.selectedDashboardTab=='summary')||!$root.selectedDashboardTab}"
            ng-click="$root.selectedDashboardTab='summary'">
            Ogólne</h3>
        <h3 class="tab" ng-class="{'active': $root.selectedDashboardTab=='css'}"
            ng-click="$root.selectedDashboardTab='css'">
            CSS</h3>
    </tabs>
    <tab ng-if="($root.selectedDashboardTab=='summary')||!$root.selectedDashboardTab">
        <div class="panel">
            <div class="row">
                <div class="col col-xs-3">
                    <div class="count"><b>{{pagesCount}}</b><span>Liczba stron</span></div>
                </div>
                <div class="col col-xs-6">
                    <div class="card">
                        <div class="head">
                            Nowe strony w ciągu ostatnich 14 dni
                        </div>
                        <div class="body">
                            <canvas height="150" width="500"
                                    id="newPages" class="chart chart-line" chart-data="newPagesData"
                                    chart-labels="newPagesLabels" chart-series="newPagesSeries"
                                    chart-options="newPagesOptions"
                                    chart-dataset-override="newPagesDatasetOverride">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-3">
                    <div class="last pages">
                        <div class="page">Last page 1fsdoufhs7f8ser567</div>
                        <div class="page">Last page 1fsdoufhs7f8ser567</div>
                        <div class="page">Last page 1fsdoufhs7f8ser567</div>
                        <div class="page">Last page 1fsdoufhs7f8ser567</div>
                        <div class="page">Last page 1fsdoufhs7f8ser567</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary">
            <div>Liczba zajętego miejsca przez pliki: {{fileSystemSize}}</div>
            <div>Rozmiar bazy danych: {{databaseSize}}</div>
            <div>Wersja bazy danych: {{databaseVersion}}</div>
        </div>
    </tab>
    <tab ng-if="$root.selectedDashboardTab=='css'" class="style-kind-popularity">
        <p>Lista przedstawia najpopularniejsze wyrażenia w CSS wraz ich najpopularniejszymi wartościami.</p>
        <div class="kind" ng-repeat="kind in styleKindPopularity">
            <div class="kind-name">
                <span class="name">
                    {{kind.name}}
                </span>
                <span class="count">
                    {{kind.count}}
                </span>
            </div>
            <span ng-repeat="value in kind.values">
                <span class="value-name">
                    <span class="name">
                        {{value.name}}
                    </span>
                    <span class="count">
                        {{value.count}}
                    </span>
                </span>
            </span>
        </div>
    </tab>
</div>