<popup>
    <style>
    </style>
    <div class="body">
        Czy potwierdzasz usunięcie elementu?
    </div>
    <div class="buttons">
        <button class="{{button.class}}" ng-repeat="button in buttons" ng-click="button.click()">{{button.title}}</button>
    </div>
</popup>