<style>
    .module {
        margin-bottom: 50px;
    }

    .module .method .method-title {
        margin: 5px 0px;
        padding: 5px 10px;
    }

    .inline {
        display: inline-block;
    }

    .inline.url {
        color: #5656d0;
        font-weight: 500;
    }

    .module .method .method-type {
        font-weight: 500;
        width: 50px;
    }

    .module .method {
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .module .method .method-name {
        float: right;
        font-weight: 700;
        font-size: 1.25em;
    }

    .module .module-title {
        font-size: 1.4em;
        font-weight: 400;
        margin-left: 10px;
    }

    .module .method .description {
        font-size: 0.95em;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #3c756e;
    }

    .module .method .request .request-title,
    .module .method .response .response-title {
        font-weight: 500;
    }

    .module .method .request .properties .name,
    .module .method .response .properties .name {
        float: none;
        color: #000;
        font-weight: 400;
    }

    .module .method .request .properties,
    .module .method .response .properties {
        margin-left: 10px;
    }

    .module .method .request .properties.container .properties,
    .module .method .response .properties.container .properties {
        margin-left: 50px;
    }

    .module .method .request .properties .type,
    .module .method .response .properties .type {
        font-weight: 400;
        color: #888;
        font-size: 0.85em;
    }

    .module .method .request .properties .description,
    .module .method .response .properties .description {
        font-size: 0.85em;
        font-weight: 400;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 2px;
        color: #3c756e;
    }

    .module .method .material-icons.list {
        font-size: 1.25em;
        position: relative;
        top: 4px;
        width: 12px;
        color: #9b62b1;
    }

    .module .method .request .properties.container,
    .module .method .response .properties.container {
        margin-left: 10px;
    }

    .module .method .request .properties.container .description,
    .module .method .response .properties.container .description {
        margin-left: 20px;
        color: #3c756e;
    }

    .module .method .method-body {
        margin-top: -5px;
        padding: 0px 10px 20px 10px;
    }

    .module .method .request {
        margin-bottom: 10px;
    }

    .module .method .response .properties .array {
        padding: 0;
        display: inline-block;
        margin-left: 3px;
        color: #000;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .module .method-repeat {
        margin-bottom: 8px;
    }
</style>
<div id="documentation">
    <div class="title"><h2>Dokumentacja serwisu</h2></div>
    <div ng-repeat="(key,module) in modules track by $index">
        <div class="module">
            <div class="module-title">{{key}}</div>
            <div class="method-repeat" ng-repeat="method in module">
                <div class="method">
                    <div class="method-title" ng-click="method.show=!method.show">
                        <div class="inline method-type">{{method.method}}</div>
                        <div class="inline url">{{method.url}}</div>
                        <div class="inline method-name">{{method.name}}</div>
                        <div class="description">{{method.description}}</div>
                    </div>
                    <div class="method-body" ng-show="method.show">
                        <div class="request">
                            <div class="request-title">Request</div>
                            <script type="text/ng-template" id="properties.html">
                                <div class="properties" ng-class="{'container': property.container}">
                                    <i ng-if="property.container&&!((property.type=='int')||(property.type=='float')||(property.type=='string')
                                ||(property.type=='array')||(property.type=='bool'))"
                                       class="inline material-icons list"
                                       ng-click="property.show=true"
                                       ng-show="!property.show">keyboard_arrow_right</i>
                                    <i ng-if="property.container&&!((property.type=='int')||(property.type=='float')||(property.type=='string')
                                ||(property.type=='array')||(property.type=='bool'))"
                                       class="inline material-icons list"
                                       ng-click="property.show=false"
                                       ng-show="property.show">keyboard_arrow_down</i>
                                    <div class="inline name">{{property.name}}<p ng-if="property.array"
                                                                                 class="inline array"> [array]</p></div>
                                    <div class="inline type">{{property.type}}</div>
                                    <div class="description">{{property.description}}</div>
                                    <div ng-show="property.show">
                                        <div ng-repeat="property in types[property.type]"
                                             ng-include="'properties.html'"></div>
                                    </div>
                                </div>
                            </script>
                            <div class="properties">
                                <div ng-repeat="property in types[method.request]" ng-include="'properties.html'"></div>
                            </div>
                        </div>
                        <div class="response">
                            <div class="response-title">Response</div>
                            <div class="properties">
                                <div ng-repeat="property in types[method.response]"
                                     ng-include="'properties.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>