<style>
    #elements span {
        cursor: pointer;
    }

    #elements .image img {
        max-width: 100%;
        width: 100%;
    }

    #elements .image {
        border-radius: 5px;
        overflow: hidden;
    }

    #elements .table .row {
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        margin-bottom: 75px;
        width: 50%;
    }

    #elements .table .row:hover {
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
    }

    #elements .name {
        font-size: 1.25em;
        padding: 0px 10px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    #elements .description {
        font-size: 1.25em;
        padding: 0px 10px;
        font-weight: 300;
    }

    #elements .user-name {
        font-size: 1.15em;
        margin: 0px 10px;
        display: block;
        text-align: left;
        width: 250px;
    }

    #elements .user-name b {
        float: right;
    }

    #elements .user-name button {
        margin-right: 5px;
    }

    #elements .user-name.buttons {
        float: none;
        position: relative;
        margin: 10px 15px;
        text-align: right;
    }
</style>
<div id="elements">
    <div class="title"><h2>Lista elementów</h2></div>
    <div class="buttons">
        <button ng-click="createElement()">Dodaj element</button>
    </div>
    <div class="filters">
        <div class="col col-xs-3">
            <div class="input">
                <label>Status</label>
                <select ng-model="filter.kind" ng-change="change()" ng-model-options="{debounce: 500}">
                    <option value=""></option>
                    <option value="header">Nagłówek</option>
                    <option value="body">Ciało</option>
                    <option value="footer">Stopka</option>
                    <option value="sidebar">Sidebar</option>
                </select>
            </div>
        </div>
    </div>
    <div class="table no-hover">
        <div class="row" ng-repeat="element in elements">
            <div class="col col-xs-12">
                <div class="image">
                    <img ng-src="/pliki/{{element.image.id}}/{{element.image.name}}"/>
                </div>
            </div>
            <div class="col col-xs-12">
                <div class="name">{{element.name}}</div>
                <div class="description">{{element.description}}</div>
                <div class="user-name">Edytował <b>{{element.userName}}</b></div>
                <div class="user-name">Ilość pobrań <b>{{element.downloadTimes}}</b></div>
                <div class="user-name">Ilość wykorzystań <b>{{element.usedTimes}}</b></div>
                <div class="user-name buttons">
                    <a href="{{baseUrl}}/element/{{element.id}}/edycja">
                        <button>Edycja</button>
                    </a>
                    <button class="danger" ng-click="delete(elements, element)">Usuń</button>
                </div>
            </div>
        </div>
    </div>
    <pagination>
        <button ng-click="prev()" ng-if="page>1">Poprzednie</button>
        <button ng-click="next()" ng-if="ceil(totalCount/limit)>page">Następne</button>
    </pagination>
</div>