<style>
    #images .cards {
        float: left;
        width: 100%;
        box-sizing: border-box;
    }

    #images .card {
        margin: 5px;
        width: 225px;
        box-sizing: border-box;
        position: relative;
        float: left;
        padding: 0px;
    }

    #images .card img {
        width: 100%;
    }

    #images .card .body {
        padding: 10px;
        float: left;
        width: 100%;
        box-sizing: border-box;
    }

    #images .card .body span {
        cursor: pointer;
        font-size: 1.05em;
        margin: 12px;
    }

    #images .pixabay-link a {
        font-weight: 900;
        color: #8383ce;
        text-transform: uppercase;
    }

    #images .tags.margin {
        margin-top: 15px;
    }
</style>
<div id="images">
    <div class="title"><h2>Lista obrazków</h2></div>
    <div class="filters">
        <div class="col col-xs-3">
            <div class="input">
                <label>Tagi obrazka</label>
                <select ng-model="filter.tagsExists" ng-change="change()" ng-model-options="{debounce: 500}">
                    <option value=""></option>
                    <option value="true">Ma tagi</option>
                    <option value="false">Nie ma tagów</option>
                </select>
            </div>
        </div>
    </div>
    <div class="cards">
        <div ng-repeat="image in images">
            <div class="card">
                <img ng-src="/pliki/{{image.thumb.id}}/{{image.thumb.name}}"/>
                <div class="body">
                    <div class="col col-xs-12" style="text-align: center;">
                        <span class="pixabay-link" ng-if="image.pixabayLink"><a href="{{image.pixabayLink}}"
                                                                                target="_blank">pixabay</a></span>
                    </div>
                    <div class="col col-xs-12 tags margin">
                        <div class="input">
                            <label>Tagi zdjęcia</label>
                            <textarea ng-model="image.tags" ng-change="changeTag(image)"
                                      ng-model-options="{debounce: 2500}">
                                </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination>
        <button ng-click="prev()" ng-if="page>1">Poprzednie</button>
        <button ng-click="next()" ng-if="ceil(totalCount/limit)>page">Następne</button>
    </pagination>
</div>