<style>
    textarea{
        min-height: 250px;
    }
    #page-edit .margin-top{
        margin-top: 15px;
        padding: 0px 10px;
    }
</style>
<div id="page-edit">
    <div class="title"><h2>Edycja strony</h2></div>
    <div class="form col col-xs-6">
        <div class="input">
            <label>Url strony</label>
            <input ng-model="page.url">
        </div>
        <div class="input">
            <label>Tytuł strony</label>
            <input ng-model="page.title">
        </div>
        <div class="input">
            <label>Treść strony</label>
            <textarea ng-model="page.content"></textarea>
        </div>
        <div class="col col-xs-12 margin-top">
            <button ng-click="save()">Zapisz stronę</button>
        </div>
    </div>
</div>