<style>
    #pages .table .row .buttons {
        position: relative;
    }
</style>
<div id="pages">
    <div class="title"><h2>Lista stron</h2></div>
    <div class="buttons">
        <a href="{{baseUrl}}/strona/nowa">
            <button>Dodaj stronę</button>
        </a>
    </div>
    <div class="table">
        <div class="row header">
            <div class="col col-xs-1"></div>
            <div class="col col-xs-11">Tytuł strony</div>
        </div>
        <div class="row animate" ng-repeat="page in pages">
            <div class="col col-xs-1">
                <div class="buttons">
                    <a href="{{baseUrl}}/strona/{{page.id}}"><i class="material-icons">edit</i></a>
                    <i class="material-icons delete" ng-click="delete(pages, page)">delete</i>
                </div>
            </div>
            <div class="col col-xs-11">{{page.title}}</div>
        </div>
    </div>
</div>