<style>
    #projects .table h3 {
        padding: 0;
        font-size: 2em;
        font-weight: 400;
    }

    #projects .table h3 a {
        font-size: 0.45em;
        position: relative;
        top: -3px;
        margin-left: 10px;
    }

    #projects span {
        cursor: pointer;
        margin-right: 10px;
        color: #fff;
    }

    #projects .table .row {
        border-bottom: none;
        margin-bottom: 30px;
        float: left;
        width: 50%;
        box-sizing: border-box;
    }

    #projects .table .row:hover {
        background: transparent;
        border: none;
    }

    #projects .project .user-name {
        font-size: 1.15em;
        margin: 0px 10px;
        display: block;
        text-align: left;
        width: 250px;
    }

    #projects .project .user-name b {
        float: right;
    }

    #projects .padding-left {
        padding-left: 10px;
    }

    #projects div.input {
        margin-bottom: 0;
    }

    #projects .description p {
        font-size: 0.8em;
        padding: 5px 0px;
    }

    #projects .padding-right .user-name b {
        float: none;
        font-size: 1.15em;
    }

    #projects .padding-right .user-name {
        margin-left: 0px;
        padding-right: 10px;
        display: inline-block;
        font-size: 0.95em;
    }
</style>
<div id="projects">
    <div class="title"><h2>Lista projektów</h2></div>
    <div class="filters">
        <div class="col col-xs-3">
            <div class="input">
                <label>Nazwa</label>
                <input ng-model="filter.name" ng-change="change()" ng-model-options="{debounce: 500}">
            </div>
        </div>
    </div>
    <div class="table no-hover">
        <div class="row" ng-repeat="project in projects">
            <div class="project">
                <div class="col col-xs-12 padding-left padding-right">
                    <h3>{{project.name}}<a href="/podglad/{{project.id}}/" target="_blank"><span
                            class="black">Podgląd</span></a>
                    </h3>
                    <div class="col col-xs-12 user-name">{{timeConverter(project.added)}} <b>{{project.userName}}</b>
                        <div ng-if="project.forkedId">Projekt jest forkiem od <b>{{project.forkedId}}</b></div>
                    </div>
                </div>
                <div ng-if="project.description" class="col col-xs-12 description padding-left">
                    <p>{{project.description}}</p>
                </div>
                <div class="col col-xs-8 padding-left">
                    Zaktualizowano <b>{{timeConverter(project.updated)}}</b>
                </div>
            </div>
        </div>
    </div>
    <pagination>
        <button ng-click="prev()" ng-if="page>1">Poprzednie</button>
        <button ng-click="next()" ng-if="ceil(totalCount/limit)>page">Następne</button>
    </pagination>
</div>