<style>
    .card .body {
        padding: 10px;
    }

    .card .head {
        text-align: center;
        font-size: 1.25em;
        margin-bottom: 10px;
        font-weight: 400;
    }
</style>
<div id="statistics">
    <div class="title"><h2>Statystyki</h2></div>
    <div class="col col-xs-6">
        <div class="card">
            <div class="head">
                Nowe strony w ciągu ostatnich 60 dni
            </div>
            <div class="body">
                <canvas id="newPages" class="chart chart-line" chart-data="newPagesData"
                        chart-labels="newPagesLabels" chart-series="newPagesSeries" chart-options="newPagesOptions"
                        chart-dataset-override="newPagesDatasetOverride">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col col-xs-6">
        <div class="card">
            <div class="head">
                Nowe strony w ciągu ostatniego roku
            </div>
            <div class="body">
                <canvas id="newPagesMonth" class="chart chart-line" chart-data="newPagesMonthData"
                        chart-labels="newPagesMonthLabels" chart-series="newPagesMonthSeries"
                        chart-options="newPagesMonthOptions"
                        chart-dataset-override="newPagesMonthDatasetOverride">
                </canvas>
            </div>
        </div>
    </div>
</div>