<style>
    #styles img {
        width: 100%;
    }

    #styles span {
        cursor: pointer;
        margin-right: 10px;
    }

    #styles .image {
        width: 100%;
        height: 250px;
        overflow: hidden;
        margin-right: 15px;
    }

    #styles h3 i.material-icons{
        font-size: 1.15em;
        position: relative;
        top: 2px;
        left: 5px;
    }

    #styles .card h3{
        padding: 5px 0px;
        padding-top: 0px;
        margin-top: 0px;
    }
</style>
<div id="styles">
    <div class="title"><h2>Lista styli</h2></div>
    <div class="buttons">
        <button ng-click="editStyle()">Dodaj styl</button>
    </div>
    <div class="col col-xs-12 table no-hover">
        <div class="cards">
            <div class="col col-xs-4" ng-repeat="style in styles">
                <div class="card">
                    <div class="header image">
                        <div class="image" image-scroll>
                            <img ng-src="/pliki/{{style.image.thumb.id}}/{{style.image.thumb.name}}"/>
                        </div>
                    </div>
                    <div class="body">
                        <h3>{{style.name}}<i class="material-icons" ng-click="editStyle(style)">edit</i></h3>
                        <div class="links">
                            <span ng-if="!style.public" ng-click="setPublic(style, true)" class="red">Prywatny</span>
                            <span ng-if="style.public" ng-click="setPublic(style, false)" class="blue">Publiczny</span>
                        </div>
                        <div class="user-name">Edytował <b>{{style.userName}}</b></div>
                        <div class="user-name">Wykorzystany <b>{{style.usedTimes}}</b> razy</div>
                    </div>
                    <div class="footer">
                        <a href="{{baseUrl}}/styl/{{style.id}}/edycja"><button class="sm">Edycja</button></a>
                        <button class="sm" ng-click="fork(style)">Fork</button>
                        <button class="danger sm" ng-click="delete(styles, style)">Usuń</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination>
        <button ng-click="prev()" ng-if="page>1">Poprzednie</button>
        <button ng-click="next()" ng-if="ceil(totalCount/limit)>page">Następne</button>
    </pagination>
</div>