<style>
</style>
<div id="components">
    <div class="title"><h2>Lista komponentów</h2></div>
    <div class="buttons">
        <button ng-click="editTag()">Dodaj tag</button>
    </div>
    <div class="table">
        <div class="row header">
            <div class="col col-xs-1"></div>
            <div class="col col-xs-2">Nazwa</div>
            <div class="col col-xs-2">Tytuł</div>
            <div class="col col-xs-2 text-right">Ilość użyć</div>
        </div>
        <div class="row animate" ng-repeat="tag in tags">
            <div class="col col-xs-1">
                <div class="buttons">
                    <i class="material-icons" ng-click="editTag(tag)">edit</i>
                    <i class="material-icons delete" ng-click="delete(tags, tag)">delete</i>
                </div>
            </div>
            <div class="col col-xs-2">{{tag.name}}</div>
            <div class="col col-xs-2">{{tag.caption}}</div>
            <div class="col col-xs-2 text-right">{{tag.count}}</div>
        </div>
    </div>
</div>