<div id="users">
    <div class="title"><h2>Lista użytkowników</h2></div>
    <div class="filters">
        <div class="col col-xs-2">
            <div class="input">
                <label>Mail</label>
                <input ng-model="filter.mail" ng-change="change()" ng-model-options="{debounce: 500}">
            </div>
        </div>
        <div class="col col-xs-1">
            <div class="input">
                <label>Imię</label>
                <input ng-model="filter.firstName" ng-change="change()" ng-model-options="{debounce: 500}">
            </div>
        </div>
        <div class="col col-xs-1">
            <div class="input">
                <label>Nazwisko</label>
                <input ng-model="filter.lastName" ng-change="change()" ng-model-options="{debounce: 500}">
            </div>
        </div>
    </div>
    <div class="table">
        <div class="row header">
            <div class="col col-xs-2">Mail</div>
            <div class="col col-xs-1">Imię</div>
            <div class="col col-xs-1">Nazwisko</div>
            <div class="col col-xs-2">Dołączył</div>
            <div class="col col-xs-2">Ostatnia aktywność</div>
        </div>
        <div class="row animate" ng-repeat="user in users">
            <div class="col col-xs-2">{{user.mail}}</div>
            <div class="col col-xs-1">{{user.firstName}}</div>
            <div class="col col-xs-1">{{user.lastName}}</div>
            <div class="col col-xs-2">{{timeConverter(user.joinDate)}}</div>
            <div class="col col-xs-2">{{timeConverter(user.lastSeen)}}</div>
        </div>
    </div>
</div>