<style>
    #styles-edit iframe {
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        border: 2px solid #ccc;
        border-radius: 5px;
        position: absolute;
        overflow: hidden;
    }

    #styles-edit .frame-container {
        left: 375px;
        position: fixed;
        right: 75px;
        top: 75px;
        bottom: 25px;
    }

    ng-view {
        padding-top: 75px !important;
    }

    .sidebar{
        display: none;
    }
</style>
<div id="styles-edit">
    <header class="editor">
        <nav>
            <i class="material-icons link exit" ng-click="closeStyle()"
               title="Wyjście z edytora. Powrót do listy styli.">power_settings_new</i>
            <i class="material-icons link save" ng-click="saveStyleWithImage()" title="Zapis całej strony do bazy danych.">cloud_upload</i>
        </nav>
    </header>
    <div class="row">
        <div ng-include="'/Public/Templates/ElementEditor/Panels/ChangeStylePanel.html'"></div>
        <div class="frame-container">
            <iframe name="previewStyleFrame" src="/Public/Templates/Styles/StyleLookup.html"></iframe>
        </div>
    </div>
</div>