<style>
    #select-style img {
        width: 100%;
    }

    #select-style .card .body {
        padding: 0;
    }

    #select-style .buttons {
        text-align: center;
        width: 100%;
        margin-bottom: 7px;
    }

    #select-style .style {
        width: 33%;
        float: left;
    }
</style>
<div id="select-style">
    <div class="title">
        <h2>Wybierz styl dla swojej strony.</h2>
    </div>
    <div class="cards">
        <div class="style" ng-repeat="style in publicStyles">
            <div class="card">
                <div class="body">
                    <div class="image">
                        <img ng-src="/pliki/{{style.image.id}}/{{style.image.name}}"/>
                    </div>
                    <div class="buttons">
                        <button ng-click="selectStyle(style)">Wybierz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>