<div style="
    border: 1px solid #ddd;
    padding: 25px;
    text-align: center;
    margin: 25px auto;
    width: 70%;
    border-radius: 4px;
    box-shadow: 3px 3px 5px #ddd;
">
    <div style="
    margin-bottom: 25px;
    ">
        <img src="http://redaction.pl/Public/Img/logo.png">
    </div>
    <div style="
        font-size: 1.1em;
        ">
        Aby zresetować hasło kliknij
        <a style="
            text-decoration: none;
            color:#6189a5;
            font-weight: 600;
            " href="{{link}}">Tutaj</a>
    </div>
</div>