body {
    margin: 0;
    padding: 0;
}

body,
input:not([type=checkbox]),
button,
select,
option,
textarea {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.blue {
    color: #9e9ef1;
    font-weight: 500;
}

.red {
    color: #fd7e7e;
}

.title h2 {
    font-weight: 100;
    margin-top: 8px;
    text-align: left;
    padding-left: 0px;
}

body.xs .title h2 {
    text-align: center;
}

#sidebar a {
    font-weight: 300;
}

#sidebar a:hover {
    font-weight: 500;
    color: #000;
}

.table .row .col h3 {
    font-weight: 300;
    margin-bottom: 5px;
}

.table .row.header {
    font-weight: 500;
    font-size: 0.85em;
    padding: 0px 10px;
    border: none;
    margin-bottom: 5px;
}

.table .row.header:hover {
    border: none;
    box-shadow: none;
    background: transparent;
}

.table .row {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 10px;
    border-top: 1px solid #999;
    position: relative;
    padding-bottom: 3px;
}

.table .row:last-child {
    border-bottom: 1px solid #999;
}

.table .row:hover {
    background: rgba(0, 0, 0, 0.05);
}

.table.no-hover .row:hover {
    border: none;
    box-shadow: none;
    background: transparent !important;
}

.table.no-hover .row {
    border: none;
}

.table.no-hover .row:last-child {
    border-bottom: none;
}

.card {
    border: 1px solid #999;
    margin: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
}

.card .title h4 {
    padding-top: 0;
    font-size: 1.15em;
    font-weight: 400;
}

.card .header{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.card .header.image{
    padding: 0px;
}

.card .body {
    padding: 10px;
}

.card .footer {
    border-top: 1px solid #ccc;
    padding: 5px 10px;
    text-align: right;
}

body {
    padding: 0 15px 50px 0px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.black {
    color: #333;
}

body .sidebar {
    flex-basis: 200px;
    margin-right: 25px;
    background: rgba(0, 0, 0, 0.05);
    border-right: 1px solid #999;
}

.sidebar nav a,
.sidebar nav a:hover,
.sidebar nav a:focus,
.sidebar nav a:active {
    text-decoration: none;
    color: #fff;
}

body .sidebar nav a,
body .sidebar nav a:hover,
body .sidebar nav a:focus,
body .sidebar nav a:active {
    font-size: 1.15em;
    width: 100%;
    float: left;
    margin: 2px 0px;
    color: #666;
}

body .sidebar nav a:hover,
body .sidebar nav a:focus,
body .sidebar nav a:active {
    color: #333;
}

body .sidebar nav a.logout {
    font-size: 0.95em;
    cursor: pointer;
}

.table .row .buttons {
    position: absolute;
    margin: 0px;
    right: 0px;
}

.table .row .buttons i.material-icons {
    font-size: 1.25em;
    cursor: pointer;
    top: 0;
}

.col {
    min-height: 1px;
}

.material-icons {
    color: #ccc;
}

.material-icons.delete {
    color: #faa;
}

.material-icons:hover {
    color: #333;
}

.material-icons.delete:hover {
    color: #f33;
}

ng-view {
    left: 0;
    margin-right: 25px;
    padding-bottom: 75px;
    margin-top: 0px;
    position: relative;
    width: 100%;
}

.modal-window {
    position: fixed;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}

.modal-window .modal {
    border: 1px solid #ccc;
    width: 70%;
    margin: 75px 15%;
    float: left;
    border-radius: 5px;
    filter: drop-shadow(6px 6px 10px gray);
    overflow: hidden;
    background: #d7d7d7;
}

.modal-window .modal .title {
    font-size: 1.35em;
    position: relative;
    font-weight: 400;
}

.modal-window .footer {
    border-top: 1px solid #ccc;
    padding: 5px 15px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
}

.modal-window .header:not(.row) {
    position: relative;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #ccc;
}

.modal-window.modal-left .header:not(.row) {
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: none;
}

.modal-window .modal .body {
    width: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    position: relative;
    float: left;
}

.modal-window .modal .body .mask {
    position: absolute;
    z-index: 25;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}

.modal-window .material-icons.close {
    position: absolute;
    top: 0px;
    right: -8px;
    cursor: pointer;
}

.modal-window button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.input label {
    font-size: 0.8em;
    float: left;
    margin-left: 5px;
    color: #fff;
    background: #aaa;
    position: relative;
    top: 6px;
    padding: 0px 4px;
    font-weight: 400;
    border-radius: 6px;
}

.modal-window .input.checkbox label {
    width: 60%;
    display: inline-block;
    float: none;
    padding-left: 20px;
}

.modal-window .input.checkbox {
    position: relative;
    top: 13px;
}

.input input:not([type=checkbox]),
.input select {
    outline: none;
    padding: 5px 8px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    border: 1px solid #999;
    background: transparent;
    padding-top: 9px;
    border-radius: 4px;
}

.input textarea {
    background: transparent;
    width: 100%;
    height: 60px;
    padding: 3px 6px;
    font-weight: 500;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    border: 1px solid #fff;
}

.modal-window button {
    margin: 5px 0px;
    margin-right: 10px;
}

.modal-window .modal.xs {
    width: 26%;
    margin: 75px 36%;
}

.modal-window .modal.sm {
    width: 42%;
    margin: 75px 29%;
}

.modal-window .modal.md {
    width: 58%;
    margin: 75px 21%;
}

wrapper {
    display: block;
}

popup {
    position: fixed;
    z-index: 100;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    padding-bottom: 0px;
    text-align: center;
}

popup .buttons {
    margin-bottom: 6px;
}

popup button.red {
    background: rgba(220, 60, 60, 0.2);
}

popup .body {
    font-size: 1.1em;
    font-weight: 500;
}

popup button {
    padding: 1px 4px;
    margin: 0px 3px;
}

.popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #fff;
}

.filters {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-bottom: 25px;
}

.input {
    padding: 0px 10px;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

input:not([type=checkbox]),
button,
select,
option {
    height: 26px;
}

button {
    border: 1px solid #999;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    border: 1px solid #999;
}

pagination {
    margin-top: 25px;
    float: left;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.animate,
button,
.modal-window .material-icons.close {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.buttons:nth-child(2) {
    margin-bottom: 35px;
    margin-top: 10px;
    float: left;
}

.modal .input {
    margin-bottom: 20px;
}

.modal .col:last-child .input {
    margin-bottom: 0;
}

tabs {
    margin-bottom: 20px;
    display: block;
}

tabs h3.tab {
    font-weight: 300;
    cursor: pointer;
    color: #aaa;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 15px;
}

tabs h3.tab.active {
    font-weight: 400;
    text-decoration: underline;
    color: #333;
}

tabs tab {
}

nav {
    padding: 25px 20px;
    float: left;
    margin-right: 25px;
    font-size: 0.9em;
}

editor .save-name,
editor .page-url {
    font-weight: 300;
    position: relative;
    font-size: 0.75em;
    top: -2px;
}

editor .page-url {
    position: relative;
    left: 2px;
    top: -8px;
    font-weight: 500;
    font-size: 0.85em;
    color: #000;
}

editor .page-url .small {
    font-size: 0.8em;
    color: #888;
    margin-right: 5px;
}

editor select,
editor option {
    color: #fff;
    background: #333;
    border: 1px solid #666;
    margin-top: -2px;
    outline: none;
}

editor #buttons .right {
    float: right;
    position: absolute;
    right: 10px;
    font-size: 0.75em !important;
    font-weight: 300;
    padding: 0;
}

editor #buttons .right.close {
    bottom: 8px;
}

editor #buttons .right.delete {
    top: 6px;
}

editor #buttons .right.down,
editor #buttons .right.up {
    right: 65px;
}

editor #buttons .right.down {
    bottom: 8px;
}

editor #buttons .right.up {
    top: 6px;
}

editor #buttons .right.parent {
    top: 15px;
    right: 115px;
}

header .breadcumb .material-icons.link {
    font-size: 1.25em;
    position: relative;
    top: -4px;
}

editor .table.table-mini {
    font-size: 0.85em;
}

editor .table.table-mini .delete {
    cursor: pointer;
    font-size: 0.85em;
    font-weight: 700;
}

editor .table.table-mini .col.buttons {
    text-align: right;
    right: 6px;
    top: 1px;
}

editor .table.table-mini .row {
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}

editor a,
editor a:focus,
editor a:active,
editor a:hover {
    color: #000 !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.preloader {
    z-index: 1000;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50% !important;
    width: 100px;
    height: 100px;
    margin: -53px 0 0 -53px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.color-picker-wrapper .input-group .input-group-addon:first-child {
    border-right-width: auto;
    border: 2px solid #8eb0c7;
}

.color-picker-wrapper .input-group .color-picker-input-swatch {
    padding-left: 3px;
    margin-left: 0px;
    width: 150px;
}

.animate {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

body.md ng-view,
body.md header:not(.editor) {
    padding: 0px 35px;
}

body.xl ng-view,
body.xl header:not(.editor) {
    padding: 0px 75px;
}

body.xs ng-view,
body.xs header:not(.editor) {
    padding: 0px 15px;
}

header a {
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
}

panel,
editor {
    padding-top: 30px;
}

panel-body {
    padding-left: 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
}

header a:first-child {
    margin-left: 0px;
}

header a:last-child {
    margin-right: 0px;
}

header i.material-icons.user-panel {
    font-size: 2em;
    position: relative;
    top: -6px;
    background: #8eb0c7;
    border-radius: 50%;
    color: #fff;
}

header i.material-icons.user-panel:hover {
    background: #8eb0c7;
    color: #fff;
}

header .user-name {
    position: relative;
    top: -18px;
    font-size: 0.9em;
    font-weight: 300;
    margin-left: 5px;
}

header .user-expand {
    background: transparent;
    color: #666;
    font-size: 1.25em;
    position: relative;
    top: -12px;
}

.popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header.editor .expand.rounded {
    border: 1px solid rgb(147, 179, 255);
    top: 0px;
}

header.editor .expand {
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 10px;
    padding-right: 30px;
    top: 1px;
}

header.editor .expand i {
    position: absolute;
    right: 6px;
    top: 3px;
}

header nav {
    position: relative;
}

header i.link {
    float: right;
    top: 11px;
    font-size: 2.25em;
    padding: 11px 5px;
}

header i.save {
    right: 42px;
}

header i.exit {
    right: 0px;
}

header.editor a {
    margin-right: 15px !important;
}

div.input {
    margin-bottom: 10px;
}

iframe {
    position: relative;
    left: 300px;
    right: 300px;
    bottom: 0px;
    display: block;
    border: 1px solid #fff;
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: none;
}

.my-scroll-area-left,
.my-scroll-area-right {
    height: 100%;
    overflow: hidden;
}

.ps__rail-y {
    position: absolute;
    width: 6px;
    right: 5px !important;
    left: auto !important;
    background: #e0e3f35c;
    top: 30px !important;
    margin-right: 2px;
    border-radius: 3px;
}

.ps__thumb-y {
    background: #bbc1e0c2;
    position: relative;
    width: 10px;
    right: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-window .modal.xs {
    width: 26%;
    margin: 75px 36%;
}

.modal-window .modal.sm {
    width: 42%;
    margin: 75px 29%;
}

.modal-window .modal.md {
    width: 58%;
    margin: 75px 21%;
}

body,
input:not([type=checkbox]),
button,
select,
option,
textarea {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #666;
}

input:not([type=checkbox]),
button,
select,
option,
textarea {
    outline: none;
    padding: 4px 8px;
    height: auto;
}

input[type=checkbox] {
    position: absolute;
    top: 2px;
    z-index: 10;
    left: 14px;
}

.input.checkbox {
    float: left;
    width: 100%;
    box-sizing: border-box;
    top: 0 !important;
}

.input.checkbox label {
    top: 3px;
    position: relative;
    font-size: 0.9em;
    font-weight: 400;
    padding-left: 20px;
}

view {
    right: auto;
    left: auto;
    z-index: 0;
    top: 0;
    width: 100%;
}

view a,
view a:focus,
view a:active,
view a:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

view-body .element {
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

view-body .element.lookup,
view-body .element:hover.lookup {
    padding-bottom: 0px;
}

view-body center {
    border-top: 1px solid #000;
}

view-body .input {
    outline: none;
    float: left;
}

view {
    float: none;
    box-sizing: border-box;
    overflow-y: auto;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: block;
}

wrapper {
    position: absolute;
    float: none;
    width: 100%;
    display: flex;
    min-height: 100%;
}

h1 {
    margin: 0;
    padding: 18px 0px;
}

h2 {
    margin: 0;
    padding: 16px 0px;
}

h3 {
    margin: 0;
    padding: 14px 0px;
}

h4 {
    margin: 0;
    padding: 12px 0px;
}

h5 {
    margin: 0;
    padding: 10px 0px;
}

h6 {
    margin: 0;
    padding: 8px 0px;
}

p {
    margin: 0;
    padding: 15px 0px;
    font-size: 0.9em;
    color: #666;
}

#viewLook {
    width: 100%;
    left: 0px;
    right: 0px;
    float: left;
    top: 0px;
    margin: 0;
    box-shadow: none;
    border-radius: unset;
}

header.editor {
    position: fixed;
    left: 0px;
    top: 0px;
    color: #fff;
    padding: 0;
}

panel.elements {
    width: 390px;
}

panel.configure {
    width: 390px;
}

panel .header {
    position: relative;
    margin-top: -25px;
    height: 25px;
    margin-left: 0px;
    margin-right: -25px;
}

panel tabs {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

asc {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: rgb(147, 179, 255);
    padding: 2px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 3px 3px 5px #bbb;
}

asc i.material-icons {
    font-size: 2.5em;
    color: #fff !important;
    margin-top: 1px;
}

tips {
    background: #fff;
    position: fixed;
    right: 25px;
    border: 2px solid rgb(147, 179, 255);
    padding: 10px;
    border-radius: 10px;
    bottom: 95px;
    z-index: 100;
    box-shadow: 5px 5px 5px #bbb;
}

tips .header {
    position: relative;
    height: 15px;
    width: 100%;
}

tips .header i.material-icons.close {
    font-size: 1.25em;
    position: absolute;
    right: -5px;
    top: -6px;
}

tips b {
    cursor: pointer;
    font-weight: 400;
}

tips .tip {
    margin-bottom: 5px;
}

.row {
    width: 100%;
    box-sizing: border-box;
    float: left;
}

.form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.form-group label {
    margin-top: 7px;
    font-size: 0.9em;
    margin-right: 8px;
    width: auto;
}

.form-group input {
}

.hide {
    display: none;
}

.panel {
    padding: 15px;
    border: 1px solid #999;
    border-radius: 5px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

panel-body .panel {
    border: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

div.input.xl {
    margin-bottom: 25px;
}

.input.xl label {
    font-size: 1em;
    font-weight: 500;
    color: #888;
    padding: 0px 6px;
    left: 5px;
}

.input.xl input {
    font-size: 1.75em;
    padding: 6px 10px;
}

button.xl {
    font-size: 1.25em;
    padding: 8px 15px;
}

header a {
    font-size: 1.25em;
    margin: 0px 10px;
    font-weight: 300;
    position: relative;
}

header {
    padding: 0px 15px;
    position: relative;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

header .right {
    float: right;
    padding-top: 15px;
    padding-bottom: 0px;
}

panel {
    float: left;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    width: 290px;
    left: 0;
    top: 56px;
    z-index: 200;
    padding-bottom: 10px;
    padding-right: 25px;
    border-right: 1px solid #fff;
    margin: 20px 10px;
    border-radius: 5px;
}

panel.right {
    float: right;
    right: 5px;
    top: 56px;
    left: auto;
}

panel .header i {
    position: absolute;
    right: 3px;
    font-size: 1.4em;
}

.material-icons {
    color: #999;
    cursor: pointer;
    user-select: none;
}

.material-icons:hover {
    color: #fff;
}

panels h1,
.panel h1 {
    font-size: 1.35em;
    font-weight: 400;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: #5bc3ff;
    margin-bottom: 10px;
}

panels .card {
    padding: 0;
    border: none;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

button.danger {
    background: rgba(255, 0, 0, 0.2);
}

resize {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 76px;
    margin-bottom: 25px;
}

resize span {
    font-size: 1.25em;
    font-weight: 400;
    margin: 0px 5px;
    color: #aaa;
    cursor: pointer;
}

resize span.active {
    color: #fff;
}

#logo {
    height: 25px;
    margin-right: 25px;
    top: 7px;
    position: relative;
    margin-top: -10px;
}

button.sm {
    font-size: 0.85em;
    padding: 2px 6px;
}

.table .row .col.right {
    float: right !important;
}

.text-right {
    text-align: right;
}

option {
    color: #333;
}

header.editor nav {
    width: 100%;
    left: 0;
    padding: 0px 15px;
    margin: 0;
    box-sizing: border-box;
    border-right: none;
    position: relative;
}

body{
    border: none;
}