.col {
    float: left !important;
    box-sizing: border-box !important;
    vertical-align: middle !important;
}

.col-xs-1 {
    width: 8.33333% !important;
}

.col-xs-2 {
    width: 16.66667% !important;
}

.col-xs-3 {
    width: 25% !important;
}

.col-xs-4 {
    width: 33.33333% !important;
}

.col-xs-5 {
    width: 41.66667% !important;
}

.col-xs-6 {
    width: 50% !important;
}

.col-xs-7 {
    width: 58.33333% !important;
}

.col-xs-8 {
    width: 66.66667% !important;
}

.col-xs-9 {
    width: 75% !important;
}

.col-xs-10 {
    width: 83.33333% !important;
}

.col-xs-11 {
    width: 91.66667% !important;
}

.col-xs-12 {
    width: 100% !important;
}

@media screen and (min-width: 500px) {
    .col-sm-1 {
        width: 8.33333% !important;
    }

    .col-sm-2 {
        width: 16.66667% !important;
    }

    .col-sm-3 {
        width: 25% !important;
    }

    .col-sm-4 {
        width: 33.33333% !important;
    }

    .col-sm-5 {
        width: 41.66667% !important;
    }

    .col-sm-6 {
        width: 50% !important;
    }

    .col-sm-7 {
        width: 58.33333% !important;
    }

    .col-sm-8 {
        width: 66.66667% !important;
    }

    .col-sm-9 {
        width: 75% !important;
    }

    .col-sm-10 {
        width: 83.33333% !important;
    }

    .col-sm-11 {
        width: 91.66667% !important;
    }

    .col-sm-12 {
        width: 100% !important;
    }

}

@media screen and (min-width: 700px) {
    .col-md-1 {
        width: 8.33333% !important;
    }

    .col-md-2 {
        width: 16.66667% !important;
    }

    .col-md-3 {
        width: 25% !important;
    }

    .col-md-4 {
        width: 33.33333% !important;
    }

    .col-md-5 {
        width: 41.66667% !important;
    }

    .col-md-6 {
        width: 50% !important;
    }

    .col-md-7 {
        width: 58.33333% !important;
    }

    .col-md-8 {
        width: 66.66667% !important;
    }

    .col-md-9 {
        width: 75% !important;
    }

    .col-md-10 {
        width: 83.33333% !important;
    }

    .col-md-11 {
        width: 91.66667% !important;
    }

    .col-md-12 {
        width: 100% !important;
    }

}

@media screen and (min-width: 900px) {
    .col-lg-1 {
        width: 8.33333% !important;
    }

    .col-lg-2 {
        width: 16.66667% !important;
    }

    .col-lg-3 {
        width: 25% !important;
    }

    .col-lg-4 {
        width: 33.33333% !important;
    }

    .col-lg-5 {
        width: 41.66667% !important;
    }

    .col-lg-6 {
        width: 50% !important;
    }

    .col-lg-7 {
        width: 58.33333% !important;
    }

    .col-lg-8 {
        width: 66.66667% !important;
    }

    .col-lg-9 {
        width: 75% !important;
    }

    .col-lg-10 {
        width: 83.33333% !important;
    }

    .col-lg-11 {
        width: 91.66667% !important;
    }

    .col-lg-12 {
        width: 100% !important;
    }

}

@media screen and (min-width: 1100px) {
    .col-xl-1 {
        width: 8.33333% !important;
    }

    .col-xl-2 {
        width: 16.66667% !important;
    }

    .col-xl-3 {
        width: 25% !important;
    }

    .col-xl-4 {
        width: 33.33333% !important;
    }

    .col-xl-5 {
        width: 41.66667% !important;
    }

    .col-xl-6 {
        width: 50% !important;
    }

    .col-xl-7 {
        width: 58.33333% !important;
    }

    .col-xl-8 {
        width: 66.66667% !important;
    }

    .col-xl-9 {
        width: 75% !important;
    }

    .col-xl-10 {
        width: 83.33333% !important;
    }

    .col-xl-11 {
        width: 91.66667% !important;
    }

    .col-xl-12 {
        width: 100% !important;
    }

}

.offset-xs-0 {
    margin-left: 0% !important;
}

.offset-xs-1 {
    margin-left: 8.33333% !important;
}

.offset-xs-2 {
    margin-left: 16.66667% !important;
}

.offset-xs-3 {
    margin-left: 25% !important;
}

.offset-xs-4 {
    margin-left: 33.33333% !important;
}

.offset-xs-5 {
    margin-left: 41.66667% !important;
}

.offset-xs-6 {
    margin-left: 50% !important;
}

.offset-xs-7 {
    margin-left: 58.33333% !important;
}

.offset-xs-8 {
    margin-left: 66.66667% !important;
}

.offset-xs-9 {
    margin-left: 75% !important;
}

.offset-xs-10 {
    margin-left: 83.33333% !important;
}

.offset-xs-11 {
    margin-left: 91.66667% !important;
}

.offset-xs-12 {
    margin-left: 100% !important;
}

@media screen and (min-width: 500px) {
    .offset-sm-0 {
        margin-left: 0% !important;
    }

    .offset-sm-1 {
        margin-left: 8.33333% !important;
    }

    .offset-sm-2 {
        margin-left: 16.66667% !important;
    }

    .offset-sm-3 {
        margin-left: 25% !important;
    }

    .offset-sm-4 {
        margin-left: 33.33333% !important;
    }

    .offset-sm-5 {
        margin-left: 41.66667% !important;
    }

    .offset-sm-6 {
        margin-left: 50% !important;
    }

    .offset-sm-7 {
        margin-left: 58.33333% !important;
    }

    .offset-sm-8 {
        margin-left: 66.66667% !important;
    }

    .offset-sm-9 {
        margin-left: 75% !important;
    }

    .offset-sm-10 {
        margin-left: 83.33333% !important;
    }

    .offset-sm-11 {
        margin-left: 91.66667% !important;
    }

    .offset-sm-12 {
        margin-left: 100% !important;
    }

}

@media screen and (min-width: 700px) {
    .offset-md-0 {
        margin-left: 0% !important;
    }

    .offset-md-1 {
        margin-left: 8.33333% !important;
    }

    .offset-md-2 {
        margin-left: 16.66667% !important;
    }

    .offset-md-3 {
        margin-left: 25% !important;
    }

    .offset-md-4 {
        margin-left: 33.33333% !important;
    }

    .offset-md-5 {
        margin-left: 41.66667% !important;
    }

    .offset-md-6 {
        margin-left: 50% !important;
    }

    .offset-md-7 {
        margin-left: 58.33333% !important;
    }

    .offset-md-8 {
        margin-left: 66.66667% !important;
    }

    .offset-md-9 {
        margin-left: 75% !important;
    }

    .offset-md-10 {
        margin-left: 83.33333% !important;
    }

    .offset-md-11 {
        margin-left: 91.66667% !important;
    }

    .offset-md-12 {
        margin-left: 100% !important;
    }

}

@media screen and (min-width: 900px) {
    .offset-lg-0 {
        margin-left: 0% !important;
    }

    .offset-lg-1 {
        margin-left: 8.33333% !important;
    }

    .offset-lg-2 {
        margin-left: 16.66667% !important;
    }

    .offset-lg-3 {
        margin-left: 25% !important;
    }

    .offset-lg-4 {
        margin-left: 33.33333% !important;
    }

    .offset-lg-5 {
        margin-left: 41.66667% !important;
    }

    .offset-lg-6 {
        margin-left: 50% !important;
    }

    .offset-lg-7 {
        margin-left: 58.33333% !important;
    }

    .offset-lg-8 {
        margin-left: 66.66667% !important;
    }

    .offset-lg-9 {
        margin-left: 75% !important;
    }

    .offset-lg-10 {
        margin-left: 83.33333% !important;
    }

    .offset-lg-11 {
        margin-left: 91.66667% !important;
    }

    .offset-lg-12 {
        margin-left: 100% !important;
    }

}

@media screen and (min-width: 1100px) {
    .offset-xl-0 {
        margin-left: 0% !important;
    }

    .offset-xl-1 {
        margin-left: 8.33333% !important;
    }

    .offset-xl-2 {
        margin-left: 16.66667% !important;
    }

    .offset-xl-3 {
        margin-left: 25% !important;
    }

    .offset-xl-4 {
        margin-left: 33.33333% !important;
    }

    .offset-xl-5 {
        margin-left: 41.66667% !important;
    }

    .offset-xl-6 {
        margin-left: 50% !important;
    }

    .offset-xl-7 {
        margin-left: 58.33333% !important;
    }

    .offset-xl-8 {
        margin-left: 66.66667% !important;
    }

    .offset-xl-9 {
        margin-left: 75% !important;
    }

    .offset-xl-10 {
        margin-left: 83.33333% !important;
    }

    .offset-xl-11 {
        margin-left: 91.66667% !important;
    }

    .offset-xl-12 {
        margin-left: 100% !important;
    }

}

.pull-xs-1 {
    margin-right: 8.33333% !important;
}

.pull-xs-2 {
    margin-right: 16.66667% !important;
}

.pull-xs-3 {
    margin-right: 25% !important;
}

.pull-xs-4 {
    margin-right: 33.33333% !important;
}

.pull-xs-5 {
    margin-right: 41.66667% !important;
}

.pull-xs-6 {
    margin-right: 50% !important;
}

.pull-xs-7 {
    margin-right: 58.33333% !important;
}

.pull-xs-8 {
    margin-right: 66.66667% !important;
}

.pull-xs-9 {
    margin-right: 75% !important;
}

.pull-xs-10 {
    margin-right: 83.33333% !important;
}

.pull-xs-11 {
    margin-right: 91.66667% !important;
}

.pull-xs-12 {
    margin-right: 100% !important;
}

@media screen and (min-width: 500px) {
    .pull-sm-1 {
        margin-right: 8.33333% !important;
    }

    .pull-sm-2 {
        margin-right: 16.66667% !important;
    }

    .pull-sm-3 {
        margin-right: 25% !important;
    }

    .pull-sm-4 {
        margin-right: 33.33333% !important;
    }

    .pull-sm-5 {
        margin-right: 41.66667% !important;
    }

    .pull-sm-6 {
        margin-right: 50% !important;
    }

    .pull-sm-7 {
        margin-right: 58.33333% !important;
    }

    .pull-sm-8 {
        margin-right: 66.66667% !important;
    }

    .pull-sm-9 {
        margin-right: 75% !important;
    }

    .pull-sm-10 {
        margin-right: 83.33333% !important;
    }

    .pull-sm-11 {
        margin-right: 91.66667% !important;
    }

    .pull-sm-12 {
        margin-right: 100% !important;
    }

}

@media screen and (min-width: 700px) {
    .pull-md-1 {
        margin-right: 8.33333% !important;
    }

    .pull-md-2 {
        margin-right: 16.66667% !important;
    }

    .pull-md-3 {
        margin-right: 25% !important;
    }

    .pull-md-4 {
        margin-right: 33.33333% !important;
    }

    .pull-md-5 {
        margin-right: 41.66667% !important;
    }

    .pull-md-6 {
        margin-right: 50% !important;
    }

    .pull-md-7 {
        margin-right: 58.33333% !important;
    }

    .pull-md-8 {
        margin-right: 66.66667% !important;
    }

    .pull-md-9 {
        margin-right: 75% !important;
    }

    .pull-md-10 {
        margin-right: 83.33333% !important;
    }

    .pull-md-11 {
        margin-right: 91.66667% !important;
    }

    .pull-md-12 {
        margin-right: 100% !important;
    }

}

@media screen and (min-width: 900px) {
    .pull-lg-1 {
        margin-right: 8.33333% !important;
    }

    .pull-lg-2 {
        margin-right: 16.66667% !important;
    }

    .pull-lg-3 {
        margin-right: 25% !important;
    }

    .pull-lg-4 {
        margin-right: 33.33333% !important;
    }

    .pull-lg-5 {
        margin-right: 41.66667% !important;
    }

    .pull-lg-6 {
        margin-right: 50% !important;
    }

    .pull-lg-7 {
        margin-right: 58.33333% !important;
    }

    .pull-lg-8 {
        margin-right: 66.66667% !important;
    }

    .pull-lg-9 {
        margin-right: 75% !important;
    }

    .pull-lg-10 {
        margin-right: 83.33333% !important;
    }

    .pull-lg-11 {
        margin-right: 91.66667% !important;
    }

    .pull-lg-12 {
        margin-right: 100% !important;
    }

}

@media screen and (min-width: 1100px) {
    .pull-xl-1 {
        margin-right: 8.33333% !important;
    }

    .pull-xl-2 {
        margin-right: 16.66667% !important;
    }

    .pull-xl-3 {
        margin-right: 25% !important;
    }

    .pull-xl-4 {
        margin-right: 33.33333% !important;
    }

    .pull-xl-5 {
        margin-right: 41.66667% !important;
    }

    .pull-xl-6 {
        margin-right: 50% !important;
    }

    .pull-xl-7 {
        margin-right: 58.33333% !important;
    }

    .pull-xl-8 {
        margin-right: 66.66667% !important;
    }

    .pull-xl-9 {
        margin-right: 75% !important;
    }

    .pull-xl-10 {
        margin-right: 83.33333% !important;
    }

    .pull-xl-11 {
        margin-right: 91.66667% !important;
    }

    .pull-xl-12 {
        margin-right: 100% !important;
    }

}

@media screen and (max-width: 500px) {
    .hide-xs {
        display: none !important;
    }
}

@media screen and (min-width: 500px) {
    .hide-sm {
        display: none !important;
    }
}

@media screen and (min-width: 700px) {
    .hide-md {
        display: none !important;
    }
}

@media screen and (min-width: 900px) {
    .hide-lg {
        display: none !important;
    }
}

@media screen and (min-width: 1100px) {
    .hide-xl {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    .show-xs {
        display: block !important;
    }
}

@media screen and (min-width: 500px) {
    .show-sm {
        display: block !important;
    }
}

@media screen and (min-width: 700px) {
    .show-md {
        display: block !important;
    }
}

@media screen and (min-width: 900px) {
    .show-lg {
        display: block !important;
    }
}

@media screen and (min-width: 1100px) {
    .show-xl {
        display: block !important;
    }
}

