body {
    padding-bottom: 50px !important;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body,
input:not([type=checkbox]),
button,
select,
option,
textarea {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.message {
    color: #ec3f3f;
    margin: 5px 0px;
    padding: 5px 8px;
    font-size: 0.9em;
    border: 2px solid #e8bfbf;
    border-radius: 3px;
    position: relative;
    font-weight: 500;
    margin-bottom: 10px;
}

.message .close {
    position: absolute;
    right: 2px;
    top: 4px;
    font-size: 1.5em;
    cursor: pointer;
}

button {
    border: 1px solid #fff !important;
    background: rgba(0, 0, 0, 0.1) !important;
    padding: 4px 8px;
    outline: none;
    cursor: pointer;
    border-radius: 3px !important;
    font-weight: 300 !important;
}

button:hover {
    background: rgba(0, 0, 0, 0.2) !important;
}

#logo {
    font-family: 'Righteous', cursive;
    font-size: 4em;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

#logo .red {
    color: #ff7171;
}

header a {
    font-size: 1.25em;
    margin: 0px 10px;
}

header {
    padding: 0px 15px;
    position: relative;
    padding-bottom: 5px;
    text-align: center;
}

div.input {
    margin-bottom: 15px;
    box-sizing: border-box;
}

input:not([type=checkbox]),
select,
option,
textarea {
    outline: none;
    width: 100%;
    padding: 3px 6px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff !important;
    color: #fff;
}

a,
a:focus,
a:active,
a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

.preloader {
    z-index: 1000;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50% !important;
    width: 100px;
    height: 100px;
    margin: -53px 0 0 -53px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

label {
    font-size: 0.85em;
}

input[type=checkbox] {
    position: relative;
    top: 3px;
}

.center {
    text-align: center;
}

ng-view {
    max-width: 1400px;
    display: block;
    margin: auto;
}

footer {
    margin-top: 50px;
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

footer a {
    margin: 0px 10px;
}

footer .copywright {
    margin-top: 50px;
    font-size: 0.8em;
    color: #ddd;
}

footer .copywright b {
    color: #fff;
}

.card {
    width: 500px;
    border: 1px solid #fff;
    padding: 25px;
    margin-top: 50px;
    display: block;
    box-sizing: border-box;
    float: left;
    left: 50%;
    position: relative;
    margin-left: -250px;
    border-radius: 5px;
}

.card h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 300;
}