body {
    margin: 0px;
}

red-action-editor {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    top: 0px;
    padding: 0px;
}

page {
    float: left;
    display: block;
    position: relative;
    left: 0px;
    width: 100%;
    top: 0px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

view view-body .selected:not(pagination),
view view-header .selected,
view view-footer .selected,
view left-sidebar .selected,
view right-sidebar .selected {
    outline-style: auto !important;
    outline-color: rgba(120, 160, 255, 0.8) !important;
    position: relative;
    background: rgba(120, 160, 255, 0.2);
}

.dndPlaceholder {
    border: 1px dashed #aaa;
    margin: 3px 1.5%;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 0.95em;
    text-align: center;
    font-weight: 300;
    background: #e8ecf1;
    color: #1e4763;
    float: left;
    width: 97%;
    box-sizing: border-box;
    position: relative;
    list-style: none;
    z-index: 10;
}

.dndPlaceholder:after {
    content: 'upuść tu element aby go dodać do strony';
}

view-body {
    flex: 6;
}

left-sidebar,
right-sidebar {
    flex: 2;
}

wrapper {
    float: left;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

view{
    transform-origin: top;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6{
    outline: none;
}