body {
    padding-bottom: 50px !important;
    float: left;
    width: 100%;
    color: #333;
    user-select: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.modal-window {
    position: fixed;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}

.modal-window .modal {
    width: 70%;
    margin: 75px 15%;
    float: left;
    border-radius: 5px;
    filter: drop-shadow(1px 0px 5px #fff);
    overflow: hidden;
    border: 1px solid #eee;
}

.modal-window .modal .title {
    font-size: 1.35em;
    position: relative;
    font-weight: 400;
}

.modal-window .footer {
    border-top: 1px solid rgb(147, 179, 255);
    padding: 5px 15px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.modal-window .header:not(.row) {
    position: relative;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-bottom: 1px solid #ddd;
}

.modal-window .modal .body {
    width: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    position: relative;
    float: left;
}

.modal-window .modal .body .mask {
    position: absolute;
    z-index: 25;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}

.modal-window .material-icons.close {
    position: absolute;
    top: 0px;
    right: -8px;
    color: #ddd;
}

.modal-window .material-icons.close:hover {
    color: #fff;
}

editor button,
.modal-window button {
    background: transparent;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #8eb0c7;
    padding: 5px 6px;
    font-size: 0.9em;
    color: #fff;
}

editor button:hover,
.modal-window button:hover {
    background: rgba(0, 0, 0, 0.1);
}

#buttons,
#page-settings-buttons {
    position: fixed;
    width: 100%;
    padding: 3px;
    bottom: 250px;
    z-index: 10;
    right: 0;
    height: 41px;
    padding-left: 15px;
    box-sizing: border-box;
    padding-right: 15px;
    background: #111;
    color: #fff;
}

panel {
    float: left;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    width: 290px;
    left: 0;
    top: 51px;
    background: transparent;
    z-index: 200;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #bbb;
}

view {
    left: 0px !important;
    top: 34px !important;
}

#buttons div,
#page-settings-buttons div {
    display: inline-block;
    font-weight: 700;
    padding: 10px 10px;
    cursor: pointer;
}

.modal .input {
    margin-bottom: 10px;
    padding: 0px 5px;
}

.table {
    width: 100%;
    box-sizing: border-box;
    float: left;
}

.table .row {
    margin-bottom: 6px;
    border-bottom: 1px solid #fff;
    padding-bottom: 6px;
    padding-left: 2px;
    padding-right: 2px;
}

.table .row.header {
    font-weight: 400;
    color: #333;
    font-size: 0.85em;
}

.table .row .col {
    display: inline-block;
    float: left;
    position: relative;
    min-height: 1px;
}

editor .save-name,
editor .page-url {
    font-weight: 300;
    position: relative;
    font-size: 0.75em;
    top: -2px;
}

editor .page-url {
    position: relative;
    left: 2px;
    top: -8px;
    font-weight: 500;
    font-size: 0.85em;
    color: #000;
}

editor .page-url .small {
    font-size: 0.8em;
    color: #888;
    margin-right: 5px;
}

editor select,
editor option {
    color: #fff;
    background: #333;
    border: 1px solid #666;
    margin-top: -2px;
    outline: none;
}

editor #buttons .right {
    float: right;
    position: absolute;
    right: 10px;
    font-size: 0.75em !important;
    font-weight: 300;
    padding: 0;
}

editor #buttons .right.close {
    bottom: 8px;
}

editor #buttons .right.delete {
    top: 6px;
}

editor #buttons .right.down,
editor #buttons .right.up {
    right: 65px;
}

editor #buttons .right.down {
    bottom: 8px;
}

editor #buttons .right.up {
    top: 6px;
}

editor #buttons .right.parent {
    top: 15px;
    right: 115px;
}

.material-icons {
    color: #ddd;
    cursor: pointer;
    user-select: none;
}

.material-icons:hover {
    color: #fff;
}

header .breadcumb .material-icons.link {
    font-size: 1.25em;
    position: relative;
    top: -4px;
}

editor .table.table-mini {
    font-size: 0.85em;
}

editor .table.table-mini .delete {
    cursor: pointer;
    font-size: 0.85em;
    font-weight: 700;
}

editor .table.table-mini .col.buttons {
    text-align: right;
    right: 6px;
    top: 1px;
}

editor .table.table-mini .row {
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}

button.delete {
    background: rgba(240, 80, 140, 0.15) !important;
    padding: 2px 4px !important;
}

.material-icons.delete {
    color: rgb(255, 195, 195) !important;
}

.material-icons.delete:hover {
    color: rgb(255, 220, 220) !important;
}

.buttons {
    margin-bottom: 0px;
    margin-top: 5px;
}

.buttons .material-icons {
    font-size: 1.6em;
}

.material-icons.delete {
    font-size: 1.15em;
    position: relative;
    top: -3px;
    left: 3px;
}

.input select {
    height: 29px;
}

menu {
    padding: 0px 15px;
    margin: 10px 0px;
    border-bottom: 1px dashed #aaa;
    position: relative;
    height: 32px;
}

menu .material-icons {
    font-size: 1.5em;
}

#selected-buttons {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 10px;
}

menu .material-icons.delete {
    left: 0px;
    font-size: 1.1em;
    top: -3px;
}

#menu-selected {
    display: inline-block;
    position: relative;
    top: -3px;
}

#menu-selected .title {
    font-weight: 300;
    font-size: 0.8em;
    color: #333;
}

#menu-selected .element-null {
    font-size: 0.9em;
}

#menu-selected .element {
    font-size: 0.9em;
    font-weight: 500;
}

#menu-selected .element span {
    font-size: 0.9em;
    font-weight: 400;
    color: #777;
}

panels {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

panels .title h3 {
    padding: 15px 0px 10px 0px;
    position: relative;
    font-weight: 400;
    color: #555;
}

panels .title h3 .material-icons.close {
    position: absolute;
    right: 0px;
    top: 16px;
    font-size: 1.15em;
}

.message {
    color: #f00;
    margin: 5px 0px;
    padding: 5px 8px;
    font-size: 0.9em;
    border: 2px solid #ff9292;
    border-radius: 3px;
    position: relative;
    font-weight: 500;
}

button {
    border: 1px solid #fff !important;
    background: #fff;
    padding: 4px 8px;
    outline: none;
    cursor: pointer;
    border-radius: 5px !important;
    font-weight: 300 !important;
    color: #fff;
}

button:hover {
    background: rgba(0, 0, 0, 0.2) !important;
}

.buttons {
    margin-bottom: 25px;
    float: left;
}

ng-view {
    max-width: 1400px;
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 0;
    padding-top: 0px !important;
}

.table .row .col.right {
    float: right;
}

.table .row .col.buttons {
    position: absolute;
    margin: 0;
    right: 6px;
    top: 9px;
}

.table .row .col button {
    padding: 2px 4px;
    top: -3px;
    position: relative;
}

input:not([type=checkbox]):not(.col),
select,
option,
textarea {
    outline: none;
    width: 100%;
    padding: 3px 6px;
    box-sizing: border-box;
    border: 1px solid #fff !important;
    padding-top: 7px;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.input label {
    top: 6px;
    position: relative;
    background: #346f9f;
    padding: 0px 4px;
    left: 3px;
    color: #fff;
    font-weight: 400;
    border-radius: 6px;
}

.input.tiny label {
    top: 0px;
    z-index: 10;
}

label {
    width: 100%;
    font-size: 0.75em;
}

.input,
button{
    padding: 0 5px;
}

div.input:not(.col) {
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 100%;
    float: left;
}

.table .row {
    position: relative;
    padding: 0px 6px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 3px;
}

.table .row:not(:first-child):last-child {
    border: none;
}

popup {
    position: fixed;
    z-index: 100;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    padding-bottom: 0px;
    text-align: center;
}

popup .buttons {
    margin-bottom: 6px;
    width: 100%;
}

popup button.red {
    background: rgba(220, 60, 60, 0.2);
}

popup .body {
    font-size: 1.1em;
    font-weight: 500;
}

#logo {
    font-family: 'Righteous', cursive;
    font-size: 4em;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

#logo .red {
    color: #ff7171;
}

#sidebar a,
header a {
    font-size: 1.25em;
    margin: 0px 10px;
    font-weight: 300;
    position: relative;
}

#sidebar,
header {
    position: relative;
    box-shadow: 1px 1px 5px #ddd;
    z-index: 1000;
    float: left;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    flex-basis: 250px;
}

#sidebar .right,
header .right {
    float: right;
    padding-top: 15px;
    padding-bottom: 0px;
}

a,
a:focus,
a:active,
a:hover,
a.red,
a.red:focus,
a.red:active,
a.red:hover {
    color: #af177e;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
}

ng-view.user-logged a,
ng-view.user-logged a:focus,
ng-view.user-logged a:active,
ng-view.user-logged a:hover {
    color: #000 !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

editor a,
editor a:focus,
editor a:active,
editor a:hover {
    color: #000 !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.preloader {
    z-index: 1000;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50% !important;
    width: 100px;
    height: 100px;
    margin: -53px 0 0 -53px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rzslider {
    margin: 30px 0 15px 0;
}

.rzslider .rz-pointer:after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
}

.rzslider .rz-pointer {
    top: -12px;
    z-index: 3;
    width: 14px;
    height: 14px;
}

.rzslider .rz-bar {
    height: 3px;
}

.rzslider .rz-bar-wrapper {
    padding-top: 12px;
    margin-top: -18px;
}

.rzslider span {
    font-weight: 500;
    font-size: 0.85em;
}

.color-picker-wrapper .input-group .input-group-addon:first-child {
    border-right-width: unset;
    border: 2px solid #8eb0c7;
}

.color-picker-wrapper .input-group .color-picker-input-swatch {
    padding-left: 3px;
    margin-left: 0px;
    width: 150px;
}

.left {
    float: left;
}

.input.left {
    padding: 0px 5px;
}

popup button {
    background: transparent;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #8eb0c7;
    padding: 1px 4px;
    font-size: 0.9em;
    margin: 0px 3px;
}

.center {
    text-align: center;
}

b.red {
    color: #f00;
}

input:not([type=checkbox]).red,
select.red,
option.red,
textarea.red {
    background: rgba(255, 100, 60, 0.15);
}

input[type=checkbox] {
    position: absolute;
    top: 3px;
    left: 0px;
}

.input.checkbox {
    position: relative;
    padding-left: 20px;
}

.message .material-icons.close {
    color: #888;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 1.5em;
}

.animate {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

add-elements .section {
    margin-bottom: 15px;
}

panel panels {
    margin: 0;
    padding: 0;
    padding-right: 40px;
    min-height: 100%;
}

.dragging {
    z-index: 2000;
    border: 1px dashed #aaa;
    border-radius: 3px;
}

.drag-show {
    display: none;
}

.drag-show.drag {
    display: block;
}

panels h1,
.panel h1 {
    font-size: 1.35em;
    font-weight: 400;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: #fff;
    margin-bottom: 10px;
}

body.md ng-view,
body.md #sidebar:not(.editor) {
    padding: 25px 25px;
}

body.xl ng-view,
body.xl #sidebar:not(.editor) {
    padding: 25px 25px;
}

body.xs ng-view,
body.xs #sidebar:not(.editor) {
    padding: 25px 15px;
}

#sidebar a,
header {
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
}

panel-body {
    padding-left: 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    margin-top: 25px;
}

a,
a:focus,
a:hover,
a:active {
    color: #fff;
}

.title h2 {
    font-weight: 100;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 2em;
    text-align: center;
    width: 100%;
    user-select: none;
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

header a:first-child {
    margin-left: 0px;
}

header a:last-child {
    margin-right: 0px;
}

#sidebar i.material-icons.user-panel,
header i.material-icons.user-panel {
    font-size: 2em;
    position: relative;
    top: -6px;
    background: #8eb0c7;
    border-radius: 50%;
    color: #fff;
}

#sidebar i.material-icons.user-panel:hover,
header i.material-icons.user-panel:hover {
    background: #8eb0c7;
    color: #fff;
}

#sidebar .user-name {
    position: relative;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#sidebar .user-expand {
    background: transparent;
    font-size: 1.25em;
    position: relative;
    top: -12px;
}

.popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header.editor .expand.rounded {
    border: 1px solid rgb(147, 179, 255);
    top: 0px;
    padding: 5px 10px;
}

header.editor .expand {
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 10px;
    padding-right: 30px;
    top: 1px;
}

#sidebar nav,
header nav {
    position: relative;
    padding-left: 5px;
}

#sidebar i.link,
header i.link {
    position: absolute;
    top: 11px;
    font-size: 2.25em;
}

#sidebar i.save,
header i.save {
    right: 42px;
}

#sidebar i.exit,
header i.exit {
    right: 0px;
}

header.editor a,
header.editor a:hover,
header.editor a:focus,
header.editor a:active {
    margin-right: 15px !important;
    float: left;
    text-decoration: none;
    padding: 16px 0px;
}

div.input {
    margin-bottom: 10px;
}

iframe {
    position: relative;
    left: 300px;
    right: 300px;
    bottom: 0px;
    display: block;
    border: none;
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
}

.my-scroll-area-left,
.my-scroll-area-right {
    height: 100%;
    overflow: hidden;
}

.ps__rail-y {
    position: absolute;
    width: 6px;
    right: 5px !important;
    left: auto !important;
    background: rgba(0, 0, 0, 0.1);
    top: 30px !important;
    margin-right: 2px;
    border-radius: 3px;
}

.ps__thumb-y {
    background: #88b8e2;
    position: relative;
    width: 10px;
    right: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-window .footer button {
    margin: 5px 0px;
    margin-right: 10px;
    font-size: 1.15em;
    padding: 5px 12px;
}

.modal-window .modal.xs {
    width: 26%;
    margin: 75px 36%;
}

.modal-window .modal.sm {
    width: 42%;
    margin: 75px 29%;
}

.modal-window .modal.md {
    width: 58%;
    margin: 75px 21%;
}

body,
input:not([type=checkbox]),
button,
select,
option,
textarea {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

input:not([type=checkbox]),
button,
select,
option,
textarea {
    outline: none;
    padding: 4px 8px;
}

input[type=checkbox] {
    position: absolute;
    top: 3px;
    z-index: 10;
}

view {
    right: auto;
    left: auto;
    z-index: 0;
    top: 0;
    width: 100%;
}

view a,
view a:focus,
view a:active,
view a:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

view-body .element {
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

view-body .element.lookup,
view-body .element:hover.lookup {
    padding-bottom: 0px;
}

view-body center {
    border-top: 1px solid #000;
}

view-body .input {
    outline: none;
    float: left;
}

view {
    float: none;
    box-sizing: border-box;
    overflow-y: auto;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: block;
}

wrapper {
    position: absolute;
    float: left;
    width: 100%;
    display: flex;
    min-height: 100%;
}

h1 {
    margin: 0;
    padding: 18px 0px;
}

h2 {
    margin: 0;
    padding: 16px 0px;
}

h3 {
    margin: 0;
    padding: 14px 0px;
}

h4 {
    margin: 0;
    padding: 12px 0px;
}

h5 {
    margin: 0;
    padding: 10px 0px;
}

h6 {
    margin: 0;
    padding: 8px 0px;
}

p {
    margin: 0;
    padding: 15px 0px;
}

button {
    border: 1px solid #aaa;
    background: rgba(0, 0, 0, 0.1) !important;
    padding: 5px 8px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.set {
    float: left;
}

pagination {
    min-height: 25px;
    margin-bottom: 25px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

#viewLook {
    width: 100%;
    left: 0px;
    right: 0px;
    float: left;
    top: 0px;
    margin: 0;
    box-shadow: none;
    border-radius: unset;
}

header.editor {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 0px 35px;
    height: 51px;
    background: #3a7bb1;
}

panel.elements {
    width: 390px;
}

panel.configure {
    width: 390px;
}

panel tabs {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

asc {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: rgb(147, 179, 255);
    padding: 2px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 3px 3px 5px #bbb;
}

asc i.material-icons {
    font-size: 2.5em;
    color: #fff !important;
    margin-top: 1px;
}

.row {
    width: 100%;
    box-sizing: border-box;
    float: left;
}

.form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.form-group label {
    margin-top: 7px;
    font-size: 0.9em;
    margin-right: 8px;
    width: auto;
}

.form-group input {
}

.hide {
    display: none;
}

.panel {
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
}

panel-body .panel {
    border: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

#logo {
    height: 25px;
    margin-top: -5px;
    margin-right: 25px;
    width: auto;
}

resize {
    text-align: center;
    display: block;
    margin-bottom: 25px;
    margin-top: 100px;
}

resize span {
    font-size: 1.25em;
    font-weight: 400;
    margin: 0px 5px;
    color: #ddd;
    cursor: pointer;
}

resize span.active {
    color: #fff;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    float: left;
}

.card .header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 1.25em;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}

.card .body {
    padding: 10px;
}

#add-links {
    text-align: center;
}

#add-links .link {
    display: inline-block;
    margin: 0px 10px;
}

#sidebar a {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#sidebar {
    text-align: center;
    padding-left: 0px !important;
}

#sidebar .logout.right {
    padding-left: 45px;
}

textarea {
    min-height: 125px;
    border: 1px solid #fff;
}

ng-view a,
ng-view a:focus,
ng-view a:hover,
ng-view a:active {
    text-decoration: underline;
}

.table .row .material-icons {
    font-size: 1.15em;
    margin-right: 5px;
}

option{
    color: #000;
    background: #fff;
}