<style>
    #styles-edit .title h2 {
        font-weight: 400;
        color: #333;
        padding-top: 25px;
        padding-left: 10px;
    }

    #styles-edit .element {
        float: left;
        padding: 2px 5px;
        margin: 5px;
        border: 2px solid #ccc;
    }

    #styles-edit .element.active {
        border: 2px solid #8eb0c7;
    }

    #styles-edit i.material-icons {
        margin-top: 2px;
    }

    #styles-edit .color-picker-input-wrapper.input-group {
        display: none;
    }

    #styles-edit h3 {
        font-weight: 400;
        font-size: 1.3em;
        text-align: center;
        padding: 8px 8px;
        color: rgb(221, 227, 241);
        margin: 2px 0px;
        cursor: pointer;
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 4px;
        border: 2px solid rgb(147, 179, 255);
    }

    #styles-edit .active {
    }

    #styles-edit .params {
        margin: 0;
        float: left;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    #styles-edit .elements {
        margin-bottom: 10px;
    }

    #styles-edit .elements .element {
        cursor: pointer;
        opacity: 0.5;
    }

    #styles-edit .elements .element.active {
        opacity: 1;
    }

    #styles-edit .input.checkbox label {
        margin-right: 15px;
        top: 3px;
        position: relative;
        font-size: 0.9em;
        font-weight: 400;
    }

    #styles-edit .options {
        margin-bottom: 15px;
    }

    header {
        display: none;
    }

    header.editor {
        display: block;
    }

    #styles-edit .elements .material-icons {
        float: left;
        position: relative;
        top: 4px;
    }

    #styles-edit .scroll-container {
        position: fixed;
        left: 75px;
        padding-right: 20px;
        width: 250px;
        top: 75px;
        bottom: 25px;
        overflow: hidden;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 5px 5px 5px #ccc;
    }

    #styles-edit .scroll-area {
        float: left;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 10px;
        padding-right: 25px;
        margin: 10px 0px;
    }

    #styles-edit .ps__rail-y {
        top: auto !important;
        position: fixed;
        left: 333px !important;
        right: auto !important;
    }

    #styles-edit .elements .input input {
        margin-bottom: 0;
    }

    #styles-edit .input input {
        margin-bottom: 0px;
    }

    #styles-edit .input {
        margin-bottom: 0px;
    }

    #styles-edit .elements.center {
        text-align: center;
    }

    #styles-edit .elements.center .element.active {
        float: none;
        width: auto;
        display: inline-block;
        font-size: 1.1em;
        border-radius: 4px;
        padding: 4px 8px;
    }

    #styles-edit .input input.short {
        width: 88%;
    }

    #styles-edit .material-icons.style {
        top: 16px;
        position: relative;
        left: 4px;
    }
</style>
<panel-body id="styles-edit">
    <div class="scroll-container">
        <div class="scroll-area">
            <div class="row elements" ng-class="{'center': $root.styleId}">
                <i ng-if="$root.showElements&&!$root.styleId" class="material-icons" ng-if="$root.showElements"
                   ng-click="$root.showElements=false">keyboard_arrow_down</i>
                <i ng-if="!$root.showElements&&!$root.styleId" class="material-icons" ng-if="!$root.showElements"
                   ng-click="$root.showElements=true">keyboard_arrow_right</i>
                <div class="element"
                     ng-if="!$root.styleId"
                     ng-repeat="element in elements"
                     ng-click="$root.selectedCssElement=element.name"
                     ng-class="{'active': $root.selectedCssElement==element.name}"
                     ng-show="($root.selectedElement==element.name)||$root.showElements">
                    {{element.name}}
                </div>
                <div class="element active">
                    {{$root.selectedElement.altId?('#id'+$root.selectedElement.altId):($root.selectedElement.id?('#id'+$root.selectedElement.id):$root.selectedCssElement)}}
                </div>
                <div class="input">
                    <label>Klasa elementu</label>
                    <input ng-model="$root.selectedElement.class">
                </div>
            </div>
            <div class="options col col-xs-6">
                <div class="input checkbox col">
                    <input ng-model="$root.hover" type="checkbox" ng-change="checkboxClick('hover', $root.hover)"
                           value="1"/>
                    <label>Hover</label>
                </div>
                <div class="input checkbox col">
                    <input ng-model="$root.focus" type="checkbox" ng-change="checkboxClick('focus', $root.focus)"
                           value="1"/>
                    <label>Focus</label>
                </div>
                <div class="input checkbox col">
                    <input ng-model="$root.active" type="checkbox" ng-change="checkboxClick('active', $root.active)"
                           value="1"/>
                    <label>Active</label>
                </div>
            </div>
            <div class="options col col-xs-6">
                <div class="input checkbox col">
                    <input ng-model="$root.firstChild" type="checkbox"
                           ng-change="checkboxChildClick('firstChild', $root.firstChild)" value="1"/>
                    <label>First child</label>
                </div>
                <div class="input checkbox col">
                    <input ng-model="$root.lastChild" type="checkbox"
                           ng-change="checkboxChildClick('lastChild', $root.lastChild)" value="1"/>
                    <label>Last child</label>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="body">
                        <div class="col col-xs-12" ng-repeat="param in cssParams">
                            <h3 ng-click="param.selectedParam=!param.selectedParam;$root.rebuildPanelLeftScrollbar();"
                                ng-class="{'active': param.selectedParam}">{{param.name}}</h3>
                            <div class="params" ng-show="param.selectedParam">
                                <div class="col col-xs-12" ng-repeat="item in param.items">
                                    <div class="input">
                                        <label class="col">{{item.title}}</label>
                                        <input ng-class="{'short': item.color||item.font||item.image}"
                                               ng-if="$root.selectedElement"
                                               class="col" type="text"
                                               ng-model="$root.customCssStyle['#id-'+$root.selectedElement.elementPositionId+'-'+($root.selectedElement.altId?$root.selectedElement.altId:($root.selectedElement.id?$root.selectedElement.id:$root.selectedCssElement))][$root.kindSuffix][item.param]"
                                               ng-change="$root.changeCustomCss()"
                                               ng-model-options="{debounce: 500}">
                                        <input ng-class="{'short': item.color||item.font||item.image}"
                                               ng-if="!($root.selectedElement)"
                                               class="col" type="text"
                                               ng-model="$root.cssStyle[$root.selectedCssElement][$root.kindSuffix][item.param]"
                                               ng-change="$root.changeCss()"
                                               ng-model-options="{debounce: 500}">
                                        <i class="material-icons style" ng-if="item.color"
                                           ng-click="openColor(item.param)">color_lens</i>
                                        <color-picker ng-if="item.color"
                                                      ng-model="color" options="colorPickerOptions"
                                                      api="pickerApi[item.param]"
                                                      event-api="pickerEventApi"></color-picker>
                                        <i class="material-icons style" ng-if="item.font"
                                           ng-click="showSelectFont(item)">font_download</i>
                                        <i class="material-icons style" ng-if="item.image&&$root.selectedElement"
                                           ng-click="selectImageSource('customCssStyle', '#id-'+$root.selectedElement.elementPositionId+'-'+($root.selectedElement.altId?$root.selectedElement.altId:($root.selectedElement.id?$root.selectedElement.id:$root.selectedCssElement)), $root.kindSuffix, item.param)">picture_in_picture</i>
                                        <i class="material-icons style" ng-if="item.image&&!$root.selectedElement"
                                           ng-click="selectImageSource('cssStyle', $root.selectedCssElement, $root.kindSuffix, item.param)">picture_in_picture</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</panel-body>