<panel-body id="select-element">
    <style>
        #select-element .element p {
            font-size: 0.85em;
            margin: 0;
            margin-top: 5px;
            padding: 0;
        }

        #select-element .component h4 {
            margin: 0px;
            margin-bottom: 5px;
            padding: 0;
            font-weight: 400;
            position: relative;
            float: left;
            width: 100%;
            user-select: none;
        }

        #select-element .component h4 {
            width: auto;
            margin: 0px;
            padding: 3px;
            cursor: pointer;
            font-weight: 300;
        }

        #select-element .component h4 button {
            padding: 2px 4px;
            position: relative;
            font-weight: 400;
            margin-left: 10px;
            top: -1px;
        }

        #select-element .component p {
            margin: 0px;
            font-size: 0.85em;
            color: #555;
            padding: 0;
        }

        #select-element p {
            margin: 0;
            padding: 5px;
            font-size: 0.8em;
            text-align: justify;
        }

        #select-element .component{
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
            padding: 0px 6px;
            margin: 3px;
        }
        #select-element .components{
            text-align: center;
            margin-top: 15px;
        }
    </style>
    <div class="panel">
        <div class="body">
            <h1>Elementy składowe</h1>
            <p>Kliknij w edytorze w przycisk elementu aby dodać go do strony.</p>
            <div class="components">
                <div ng-repeat="component in components" class="component" title="{{component.description}}">
                    <h4 ng-click="addNewComponentToSelectedElement($event, component)">{{component.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</panel-body>