<style>
    #select-style .image img {
        width: 100%;
        position: absolute;
        top: 0px;
    }

    #select-style .image {
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
    }

    #select-style .card {
        margin: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 0px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        border: 2px solid transparent;
    }

    #select-style .card.add .title {
        border-top: none;
    }
    #select-style .card.add .title {
        padding: 6px;
    }

    #select-style .card:hover,
    #select-style .card.active {
        border: 2px solid #fff;
    }

    #select-style .card:hover:not(.add) .title,
    #select-style .card.active:not(.add) .title {
        border-top: 2px solid #fff;
    }

    #select-style p{
        padding-top: 0;
    }
</style>
<panel-body id="select-style">
    <div class="scroll-container">
        <div class="scroll-area">
            <h1>Wybór głównego stylu</h1>
            <p>Kliknij w główny styl aby zobaczyć jak będzie wyglądał element strony kiedy strona będzie korzystała z wybranego stylu.</p>
            <div class="cards">
                <div class="" ng-repeat="style in styles">
                    <div class="card" ng-click="$root.styleId=style.id;selectStyleChooseClick(style, this);"
                         ng-class="{'active': $root.styleId==style.id}">
                        <div class="body">
                            <div class="image">
                                <img ng-src="/pliki/{{style.image.id}}/{{style.image.name}}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</panel-body>