<panel-body id="structure">
    <style>
        #structure .type {
            margin-left: 20px;
            font-size: 1em;
            margin-top: -4px;
            margin-bottom: -4px;
        }

        #structure .row:hover,
        #structure .row.active {
            font-weight: 500;
            color: #5bc3ff;
        }

        #structure .element-name {
            margin-left: 10px;
            font-size: 1.15em;
            font-weight: 400;
            margin-top: 25px;
            margin-bottom: 5px;
        }

        #structure .type .material-icons {
            position: relative;
            font-size: 1.1em;
            top: 3px;
            left: 5px;
            margin-right: -4px;
        }

        #structure .type .row .material-icons {
            opacity: 0;
        }

        #structure .type .row:hover .material-icons {
            opacity: 1;
        }

        #structure .type .row span {
            font-size: 0.75em;
            position: relative;
            top: 0px;
            color: #888;
        }

        #structure .type .row span.blue,
        #structure .type .row span.green {
            font-size: 0.75em;
            position: relative;
            top: 0px;
            color: #7c7cf3;
        }

        #structure .type .row span.green {
            color: #13b313;
        }

        #structure .element-container:last-child {
            margin-bottom: 25px;
        }

        #structure .buttons {
            margin-top: 25px;
            float: left;
        }
    </style>
    <div class="scroll-container">
        <div class="scroll-area">
            <h1>Struktura strony</h1>
            <p>Z pomocą tej karty możesz zarządzać strukturą edytowanego elementu.</p>
            <script type="text/ng-template" id="showElement.html">
                <div class="type">
                    <div class="row" ng-class="{'active': element.id==$root.selectedElement.id}">
                        {{element.type}} <span>{{element.class}}</span>
                        <span class="blue" ng-if="element.dataSetActive">DS</span>
                        <span class="green" ng-if="element.backgroundActive">BG</span>
                        <i class="material-icons"
                           ng-click="$root.selectElement($event, element)" title="Edycja wskazanego elementu">edit</i>
                        <i class="material-icons" ng-click="$root.copyElement(element, null)"
                           title="Skopiowanie wybranego elementu.">filter_2</i>
                        <i class="material-icons" ng-click="$root.cutElement(null, element);$root.resizeView()"
                           title="Wycięcie wybranego elementu.">flip_to_front</i>
                        <i class="material-icons" ng-click="$root.pasteElement(element);$root.resizeView()"
                           title="Wklejenie wybranego elementu.">flip_to_back</i>
                        <i class="material-icons delete"
                           ng-click="$root.deleteElement($event, element)"
                           title="Usunięcie wskazanego elementu">delete</i>
                    </div>
                    <div ng-repeat="element in element.childrens" ng-include="'showElement.html'"></div>
                </div>
            </script>
            <div class="element">
                <div class="element-container">
                    <div ng-repeat="element in viewBody.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
            <div class="buttons">
                <button class="sm" ng-click="rootAddContainer()">Dodaj do roota</button>
                <button class="sm" ng-click="pasteToRoot()">Wklej do roota</button>
            </div>
        </div>
    </div>
</panel-body>