<style>
    /*body {
        overflow: hidden;
    }

    #tags h3 {
        font-weight: 400;
        margin-top: 0px;
        padding-top: 0px;
    }*/

    /*#tags .style {
        cursor: pointer;
        font-size: 1.2em;
        margin: 3px 0px;
        font-weight: 300;
    }

    #tags .style:hover,
    #tags .style.selected {
        font-weight: 500;
        color: #8eb0c7;
    }*/

    /*#tags iframe {
        width: 99%;
        float: left;
        box-sizing: border-box;
        min-height: 500px;
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 5px;
        right: 0px;
        box-shadow: none;
        border-radius: 0;
    }*/

    /*#tags .image img {
        width: 100%;
        position: absolute;
        top: 0px;
    }

    #tags .image {
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
    }

    #tags .card {
        margin: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 0px;
        border: 2px solid #ddd;
        border-radius: 3px;
        position: relative;
        box-shadow: 5px 5px 5px #bbb;
    }*/

    /*#tags .footer {
        text-align: right;
        padding: 0px 10px;
    }*/

    /*#tags .card .title {
        font-weight: 500;
        margin: 0px;
        font-size: 1.25em;
        padding: 5px 10px 5px 10px;
        user-select: none;
        position: absolute;
        bottom: 0px;
        width: 100%;
        box-sizing: border-box;
        border-top: 2px solid #ddd;
        background: rgba(255, 255, 255, 0.85);
    }

    #tags .card .title .menu {
        position: absolute;
        top: 3px;
        font-size: 1.35em;
        right: 0px;
        left: auto;
    }*/

    /*#tags .add-button {
        float: left;
        position: absolute;
        top: 50%;
        margin-top: -28px;
        left: 50%;
        margin-left: -28px;
    }*/

    /*#tags .add-button .material-icons {
        font-size: 4em;
    }

    #tags .card .body:hover .material-icons {
        color: #8eb0c7;
    }*/

    /*#tags .material-icons.loading {
        font-size: 12em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -84px;
        margin-left: -84px;
    }*/

    /*#tags .card.add .title {
        border-top: none;
    }*/

    /*#tags .card.add {
        padding: 0;
    }*/

    /*#tags .card.add .title {
        padding: 6px;
    }

    #tags .card:hover,
    #tags .card.active {
        border: 2px solid #8eb0c7;
    }

    #tags .card:hover:not(.add) .title,
    #tags .card.active:not(.add) .title {
        border-top: 2px solid #8eb0c7;
    }*/

    /*#tags .card .edit-button-container {
        position: absolute;
        top: 0;
        bottom: 32px;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.75);
        opacity: 0;
        z-index: 1;
        text-align: center;
    }*/

    /*#tags .card:hover .edit-button-container,
    #tags .card.active .edit-button-container {
        opacity: 1;
    }

    #tags .card .edit-button-container button {
        position: relative;
        top: 50%;
        margin-top: -46px;
    }*/

    /*#tags .modal .cards .body {
        width: auto;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        float: none;
    }*/

    #tags p{
        padding-top: 0;
    }
</style>
<panel-body id="tags">
    <div class="scroll-container">
        <div class="scroll-area">
            <h1>Edycja tagów</h1>
            <p>Wprowadź tagi które będą przypisane do edytowanego elementu.</p>
            <div class="col col-xs-12 tags">
                <div class="input">
                    <label>Tagi projektu</label>
                    <textarea ng-model="$root.tags"></textarea>
                </div>
            </div>
        </div>
    </div>
</panel-body>