<popup id="element-menu-popup" ng-controller="simpleMenuPopupController">
    <style>
        #element-menu-popup {
            position: absolute;
            padding: 5px;
        }

        #element-menu-popup .body{
            width: 25px;
        }

        #element-menu-popup .material-icons.delete {
            top: 0;
            left: 0;
        }
    </style>
    <div class="body">
        <i class="material-icons" ng-click="moveUp()"
           title="Przesuwa wybrany element w górę.">arrow_drop_up</i>
        <i class="material-icons" ng-click="moveDown()"
           title="Przesuwa wybrany element w doł.">arrow_drop_down</i>
        <i class="material-icons delete" ng-click="deleteElement(close);$root.resizeView()" title="Usunięcie wybranego elementu.">delete</i>
    </div>
</popup>