<html lang="pl">
<head>

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="/Public/Css/Grid.css" rel="stylesheet">

<link href="/Public/Css/RedActionAdminFrame.css" rel="stylesheet">

</head>
<body>
<script type="text/ng-template" id="element.html">
    <span ng-repeat="component in components"
          ng-include="'/Public/Templates/EditorComponents/'+component.file"
          ng-if="(element.type==component.key)&&(component.key!='container')"></span>
    <span ng-if="element.selector" ng-repeat="dataSet in $root.dataSet[element.elementPositionId][element.selector] as data"
          ng-class="{'selected': ($root.selectedElement.id==element.childrens[0].id)&&(element.childrens[0].type=='container')}"
          id="id{{element.childrens[0].id}}" ng-click="change($event, element.childrens[0])">
        <span ng-repeat="element in element.childrens" ng-include="'element.html'"></span>
    </span>
    <span ng-if="!data" ng-repeat="element in element.childrens"
          ng-include="'/Public/Templates/EditorComponents/container.html'"
          ng-if="(element.type=='container')">
    </span>
</script>
<red-action-editor id="editor">
        <view>
                <view-body dnd-list="viewBody.childrens" dnd-drop="dropComplete(viewBody, index)">
                    <span class="view-container" ng-repeat="element in viewBody.childrens">
                        <span ng-include="'/Public/Templates/EditorComponents/container.html'"
                              ng-if="(element.type=='container')"></span>
                    </span>
                </view-body>
        </view>
</red-action-editor>
</body>
</html>