<style>
    .table .row {
        margin-bottom: 2px;
        border-bottom: 1px solid #666;
        padding-bottom: 2px;
        padding-left: 2px;
        padding-right: 2px;
        padding: 0;
    }

    .table .row .buttons {
        margin-bottom: 0;
    }

    header.main {
        display: none;
    }

    wrapper .sidebar {
        display: none;
    }

    ng-view {
        width: 100%;
        max-width: 100%;
        padding: 0 !important;
        position: relative;
        left: 0;
        right: 0;
    }

    panel #styles-edit .scroll-area {
        float: left;
        overflow: hidden;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        padding-right: 0;
        margin: 0;
    }

    panel #styles-edit .scroll-container {
        width: 255px;
        overflow: hidden;
        float: left;
        position: relative;
        left: 0;
        padding-right: 0;
        top: 0;
        bottom: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    iframe {
        top: 0px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #888;
    }

    panel.left {
        top: 51px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 15px;
        border: none;
        border-radius: 0;
        padding-top: 11px;
        border-right: 1px solid #aaa;
    }

    .ps__rail-y {
        top: 11px !important;
    }

    panel.left panel-body {
        padding-left: 0;
    }
</style>
<header class="editor">
    <nav>
        <a href="{{baseUrl}}/"><img id="logo" src="/Public/Img/logo.png"></a>
        <a href="" ng-click="selectStyle()">Styl</a>
        <a href="" ng-click="showElements()">Struktura</a>
        <a href="" ng-click="showTags()">Tagi</a>
        <i class="material-icons link exit" ng-click="closePage()"
           title="Wyjście z edytora. Powrót do listy projektów.">power_settings_new</i>
        <i class="material-icons link save" ng-click="savePage()" title="Zapis całej strony do bazy danych.">cloud_upload</i>
    </nav>
</header>
<panel class="left animate" ng-show="$root.leftPanel"
       ng-class="{'elements': (($root.leftPanel=='elements')&&($root.selectedElementsShow=='elements'))
            ||($root.leftPanel=='structure')}">
    <editor-left scroll="$root.scrollPanels()">
        <div class="my-scroll-area-left">
            <panels>
                <div ng-show="$root.leftPanel=='elements'"
                     ng-include="'/Public/Templates/ElementEditor/Panels/SelectElementPanel.html'"></div>
                <div ng-show="$root.leftPanel=='styles'" ng-controller="stylesEditController"
                     ng-include="'/Public/Templates/ElementEditor/Panels/ChangeStylePanel.html'"></div>
                <div ng-show="$root.leftPanel=='selectStyle'"
                     ng-include="'/Public/Templates/ElementEditor/Panels/SelectStylePanel.html'"></div>
                <div ng-show="$root.leftPanel=='tags'"
                     ng-include="'/Public/Templates/ElementEditor/Panels/TagsPanel.html'"></div>
                <div ng-show="$root.leftPanel=='structure'"
                     ng-include="'/Public/Templates/ElementEditor/Panels/ShowStructurePanel.html'"></div>
            </panels>
        </div>
    </editor-left>
</panel>

<resize class="animate">
    <span ng-click="$root.resizeView(0, 1280)" ng-class="{'active': $root.screenWidth==1280}">1280</span>
    <span ng-click="$root.resizeView(0, 890)" ng-class="{'active': $root.screenWidth==890}">890</span>
    <span ng-click="$root.resizeView(0, 690)" ng-class="{'active': $root.screenWidth==690}">690</span>
    <span ng-click="$root.resizeView(0, 490)" ng-class="{'active': $root.screenWidth==490}">490</span>
    <span ng-click="$root.resizeView(0, 320)" ng-class="{'active': $root.screenWidth==320}">320</span>
</resize>

<iframe class="animate" src="/Public/Templates/ElementEditor/EditorView.html" name="viewFrame" id="viewFrame"></iframe>