<h1 ng-bind="sentences[0]" style="font-weight: 100;"></h1>
<h2 ng-bind="sentences[1]" style="font-weight: 300;"></h2>
<h3 ng-bind="sentences[2]"></h3>
<div><p ng-bind="paragraphs[0]" style="font-weight: 700;"></p></div>
<div><p ng-bind="paragraphs[1]"></p></div>
<div><p ng-bind="paragraphs[2]" style="font-weight: 300;"></p></div>