<style>
    #activate a {
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 20px;
    }

    @media only screen and (max-width: 520px) {
        #activate {
            left: auto;
            margin-left: 0;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            border: none;
            margin-top: 0;
        }

        body {
            background: #fff;
        }
    }
</style>
<div id="activate" class="card">
    <h1 ng-show="success">Aktywowano konto</h1>
    <div ng-show="success" class="justify">Dodano nowego użytkownika aby aktywować konto sprawdz swoją skrzynkę pocztową i kliknij w link aby móc korzystać z serwisu.</div>
    <h1 ng-show="accountIsActive&&!success">Konto już było aktywowane</h1>
    <div ng-show="accountIsActive&&!success" class="justify">Konto które próbujesz aktywować było już aktywowane. Przejdz do logowania aby korzystać z konta.</div>
    <a href="{{baseUrl}}/logowanie">Przejdź do logowania</a>
</div>