<style>
    @media only screen and (max-width: 520px) {
        #after-reset {
            left: auto;
            margin-left: 0;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            border: none;
            margin-top: 0;
        }
        body {
            background: #fff;
        }
    }
</style>
<div id="after-reset" class="card">
    <h1>Wysłano link</h1>
    <div class="justify">Mail z linkiem do zresetowania hasła został wysłany na podany adres. Sprawdz skrzynkę pocztową i kliknij w otrzymany link.</div>
</div>