<style>
    @media only screen and (max-width: 520px) {
        #after-register {
            left: auto;
            margin-left: 0;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            border: none;
            margin-top: 0;
        }
        body {
            background: #fff;
        }
    }
</style>
<div id="after-register" class="card">
    <h1>Dodano użytkownika</h1>
    <div class="justify">Dodano nowego użytkownika aby aktywować konto sprawdz swoją skrzynkę pocztową i kliknij w link aby móc korzystać z serwisu.</div>
</div>