<style>
    #login #login-form{
        padding-left: 25px;
        border-left: 1px solid #ccc;
    }

    #login #info{
        padding-right: 25px;
    }

    #login #login-form,
    #login #info{
        float: left;
        width: 50%;
        box-sizing: border-box;
    }
    #login #terms{
        text-align: justify;
        font-size: 0.9em;
        margin-top: 35px;
    }
    #login .links a{
        margin: 0px 15px;
    }
    #login .links{
        margin-top: 25px;
        float: left;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
    #login .send-button{
        left: 50%;
        position: relative;
        margin-left: -43px;
    }
    @media only screen and (max-width: 520px) {
        #login {
            left: auto;
            margin-left: 0;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            border: none;
            margin-top: 0;
        }
        body {
            background: #fff;
        }
    }
    @media only screen and (max-width: 420px) {
        #login #login-form, #login #info {
            float: none;
            width: 100%;
            padding: 0;
            border: none;
            margin-bottom: 25px;
        }
    }
    @media only screen and (max-width: 360px) {
        #login .links a {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            margin-bottom: 5px;
            display: block;
        }
    }
</style>
<div id="login" class="card">
    <h1>Logowanie</h1>
    <div ng-show="message" class="message">{{message}}<i ng-click="message=''" class="material-icons close">close</i></div>
    <div id="info">
        <div id="terms">Logowanie akceptację regulaminu w jego aktualnym brzmieniu i późniejszymi modyfikacjami - <a href="/regulamin">Regulamin</a>.</div>
    </div>
    <div id="login-form">
        <div class="input">
            <label>Adres mailowy</label>
            <input type="text" ng-model="mail">
        </div>
        <div class="input">
            <label>Hasło do strony</label>
            <input type="password" ng-model="password">
        </div>
        <button ng-click="send()" class="send-button">Zaloguj</button>
    </div>
    <div class="links">
        <a href="{{baseUrl}}/reset-hasla">Zresetuj hasło</a>
    </div>
</div>