<style>
    #new-password #new-password-form{
        padding-left: 25px;
        border-left: 1px solid #ccc;
    }

    #new-password #info{
        padding-right: 25px;
        margin-top: 40px;
    }

    #new-password #new-password-form,
    #new-password #info{
        float: left;
        width: 50%;
        box-sizing: border-box;
    }
    #new-password #terms{
        text-align: justify;
        font-size: 0.9em;
    }
    #new-password .links a{
        margin: 0px 15px;
    }
    #new-password .send-button{
        left: 50%;
        position: relative;
        margin-left: -43px;
    }
    @media only screen and (max-width: 520px) {
        #new-password {
            left: auto;
            margin-left: 0;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            border: none;
            margin-top: 0;
        }
        body {
            background: #fff;
        }
    }
    @media only screen and (max-width: 420px) {
        #new-password #new-password-form, #new-password #info {
            float: none;
            width: 100%;
            padding: 0;
            border: none;
        }
    }
    @media only screen and (max-width: 360px) {
        #new-password .links a {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            margin-bottom: 5px;
            display: block;
        }
    }
</style>
<div id="new-password" class="card">
    <h1>Resetowanie hasła</h1>
    <div ng-show="message" class="message">{{message}}<i ng-click="message=''" class="material-icons close">close</i></div>
    <div id="info">
        <div id="terms">Wprowadz nowe hasło którego będziesz używał do logowania się w serwisie</div>
    </div>
    <div id="new-password-form">
        <div class="input">
            <label>Nowe hasło do strony</label>
            <input type="password" ng-model="password">
        </div>
        <div class="input">
            <label>Potwierdz hasło</label>
            <input type="password" ng-model="repeatedPassword">
        </div>
        <button ng-click="send()" class="send-button">Zapisz</button>
    </div>
</div>