<style>
    #password-changed .links a{
        margin: 0px 15px;
    }
    #password-changed .links{
        margin-top: 25px;
        float: left;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
    @media only screen and (max-width: 520px) {
        body {
            background: #fff;
        }
    }
</style>
<div id="password-changed" class="card">
    <h1>Hasło zostało zmienione</h1>
    <div>
        Hasło zostało poprawnie zmienione. Możesz teraz przejść do logowania i używać nowego hasła.
    </div>
    <div class="links">
        <a href="{{baseUrl}}/logowanie">Przejdz do logowania</a>
    </div>
</div>