<style>
    #register #register-form {
        padding-left: 25px;
        margin-top: 27px;
        border-left: 1px solid #ccc;
    }

    #register #info {
        padding-right: 25px;
        padding-top: 53px;
    }

    #register #register-form,
    #register #info {
        float: left;
        width: 50%;
        box-sizing: border-box;
    }

    #register #terms {
        text-align: justify;
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    #register .links a {
        margin: 0px 15px;
    }

    #register .links {
        margin-top: 25px;
        float: left;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    #register .send-button {
        left: 50%;
        position: relative;
        margin-left: -43px;
    }

    @media only screen and (max-width: 520px) {
        #register {
            left: auto;
            margin-left: 0;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            border: none;
            margin-top: 0;
        }

        body {
            background: #fff;
        }
    }

    @media only screen and (max-width: 420px) {
        #register #register-form, #register #info {
            float: none;
            width: 100%;
            padding: 0;
            border: none;
        }
    }

    @media only screen and (max-width: 360px) {
        #register .links a {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            margin-bottom: 5px;
            display: block;
        }
    }
</style>
<div id="register" class="card">
    <h1>Rejestracja</h1>
    <div ng-show="message" class="message">{{message}}<i ng-click="message=''" class="material-icons close">close</i>
    </div>
    <div id="info">
        <div id="terms">Rejestracja oznacza akceptację regulaminu w jego aktualnym brzmieniu i późniejszymi
            modyfikacjami - <a href="/regulamin">Regulamin</a>.<br><br>Jednocześnie musisz wyrazić zgodę na
            przetwarzanie danych osobowych - <a href="/polityka-prywatnosci">Polityka prywatności</a></div>
        <div class="input checkbox">
            <input type="checkbox" ng-model="terms">
            <label>Akceptuję regulamin</label>
        </div>
        <div class="input checkbox">
            <input type="checkbox" ng-model="personalData">
            <label>Wyrażam zgodę na przetwarzanie danych osobowych</label>
        </div>
        <div class="input checkbox">
            <input type="checkbox" ng-model="newsletter">
            <label>Chcę otrzymywać newsletter</label>
        </div>
    </div>
    <div id="register-form">
        <div class="input">
            <label>Adres mailowy</label>
            <input type="text" ng-model="mail" name="mail">
        </div>
        <div class="input">
            <label>Imię</label>
            <input type="text" ng-model="firstName" name="firstName">
        </div>
        <div class="input">
            <label>Nazwisko</label>
            <input type="text" ng-model="lastName" name="lastName">
        </div>
        <div class="input">
            <label>Hasło do strony</label>
            <input type="password" ng-model="password" name="password">
        </div>
        <div class="input">
            <label>Potwierdz hasło</label>
            <input type="password" ng-model="repeatedPassword" name="repeatedPassword">
        </div>
        <button ng-click="send()" class="send-button">Zarejestruj</button>
    </div>
    <div class="links">
        <a href="{{baseUrl}}/logowanie">Przejdź do logowania</a>
        <a href="{{baseUrl}}/reset-hasla">Zresetuj hasło</a>
    </div>
</div>