<style>
    #reset #reset-form{
        padding-left: 25px;
        border-left: 1px solid #ccc;
    }

    #reset #info{
        padding-right: 25px;
    }

    #reset #reset-form,
    #reset #info{
        float: left;
        width: 50%;
        box-sizing: border-box;
    }
    #reset #terms{
        text-align: justify;
        font-size: 0.9em;
        margin-top: 20px;
    }
    #reset .send-button{
        left: 50%;
        position: relative;
        margin-left: -43px;
    }
    @media only screen and (max-width: 520px) {
        #reset {
            left: auto;
            margin-left: 0;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            border: none;
            margin-top: 0;
        }
        body {
            background: #fff;
        }
    }
    @media only screen and (max-width: 420px) {
        #reset #reset-form, #reset #info {
            float: none;
            width: 100%;
            padding: 0;
            border: none;
            margin-bottom: 25px;
        }
    }
</style>
<div id="reset" class="card">
    <h1>Resetowanie hasła</h1>
    <div ng-show="message" class="message">{{message}}<i ng-click="message=''" class="material-icons close">close</i></div>
    <div id="info">
        <div id="terms">Podaj adres mailowy na który wyślemy link do zresetowania hasła.</div>
    </div>
    <div id="reset-form">
        <div class="input">
            <label>Adres mailowy</label>
            <input type="text" ng-model="mail">
        </div>
        <button ng-click="send()" class="send-button">Wyślij link</button>
    </div>
</div>