<!DOCTYPE html>
<html lang="pl" ng-app="RedActionAccount">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RedAction</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/Public/Css/angularjs-color-picker.min.css" rel="stylesheet">

    <link href="/Public/Css/Grid.css" rel="stylesheet">
    <link href="/Public/Css/RedAction.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.min.js"></script>

    <script src="/Public/Js/Custom/Modal.js"></script>
    <script src="/Public/Js/Custom/Popup.js"></script>

    <script src="/Public/Js/SimpleEditor/SimpleMenuPopup.js"></script>
    <script src="/Public/Js/SimpleEditor/SimpleEditor.js"></script>

    <script src="/Public/Js/ng-file-upload-shim.min.js"></script>
    <script src="/Public/Js/ng-file-upload.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/Public/Js/angular-chart.min.js"></script>
    <script src="/Public/Js/tinycolor-min.js"></script>
    <script src="/Public/Js/angularjs-color-picker.min.js"></script>
    <script src="/Public/Js/perfect-scrollbar.min.js"></script>
    <script src="/Public/Js/sha512.js"></script>

    <script src="/Public/Js/LoremIpsum.js"></script>

    <script src="/Public/Js/RedActionAccount.js"></script>

    <base href="/">
</head>
<body ng-class="{'xs': $root.gridStyle=='xs','sm': $root.gridStyle=='sm',
      'md': $root.gridStyle=='md','lg': $root.gridStyle=='lg','xl': $root.gridStyle=='xl',}">
<div id="bg">
    <style>
        #bg,
        #preloader,
        .modal,
        panels,
        popup,
        tips{
            background: #80aded;
            background: -moz-radial-gradient(center, ellipse cover, #80aded 0%, #247bb5 100%);
            background: -webkit-radial-gradient(center, ellipse cover, #80aded 0%,#247bb5 100%);
            background: radial-gradient(ellipse at center, #80aded 0%,#247bb5 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80aded', endColorstr='#247bb5',GradientType=1 );
        }
        #bg {
            position: fixed;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    </style>
</div>
<wrapper class="animate">
    <div id="sidebar" ng-if="user.logged" class="main">
        <nav>
            <a class="logout right" ng-click="showUserMenu()">
                <div class="center"><i class="material-icons user-panel">person</i></div>
                <span class="user-name">{{$root.user.firstName}} {{$root.user.lastName}}</span>
            </a>
            <a href="{{baseUrl}}/start">Start</a>
            <a href="{{baseUrl}}/projekt">Projekt</a>
        </nav>
    </div>
    <ng-view></ng-view>
</wrapper>
<div id="preloader">
    <style>
        #preloader {
            position: fixed !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            display: none;
        }

        #loader {
            display: block;
            position: relative;
            left: 50%;
            top: 50% !important;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: rgba(255, 255, 255, 0.2);
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: rgba(255, 255, 255, 0.6);
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }

        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: rgba(255, 255, 255, 1);
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
    <div id="loader"></div>
</div>
</body>
</html>