<style>
    #dashboard h1 {
        font-size: 2.25em;
        font-weight: 100;
        text-align: center;
        margin: 30px 0px;
    }

    #dashboard .content {
        float: left;
        position: relative;
        width: 100%;
    }

    #dashboard .content .box h3 {
        font-weight: 300;
        text-align: center;
    }

    #dashboard .content .border {
        width: 3px;
        height: 200px;
        position: absolute;
        background: #fff;
        left: 50%;
        padding: 0px;
        border-radius: 5px;
    }

    #dashboard .content .box {
        padding: 15px 20px;
        height: 220px;
        position: relative;
    }

    #dashboard .content .box button {
        position: absolute;
        left: 50%;
        margin-left: -68px;
        bottom: 50px;
    }

    #dashboard .content .box button.first {
        margin-left: -56px;
    }

    #dashboard .body {
    }

    #dashboard .content.xs .box {
        height: 175px;
    }

    #dashboard .content.xs .box h3 {
        font-size: 1.05em;
    }

    #dashboard .content.xs h1 {
        margin-top: 50px;
    }

    #sidebar{
        display: none;
    }
</style>
<div id="dashboard">
    <div class="content center" ng-class="{'xs': $root.gridStyle=='xs'}" ng-if="$root.user.projectsCount==0">
        <div class="body">
            <h1>Nie posiadasz jeszcze projektu!</h1>
            <div class="box center col col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0">
                <h3>Aby rozpocząć proces tworzenia projektu od podstaw kliknij w poniższy link.</h3>
                <a href="{{baseUrl}}/projekt/nowy">
                    <button class="first">Zacznij od zera</button>
                </a>
            </div>
            <div class="border col hide-xs hide-sm show-md"></div>
            <div class="box center col col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0">
                <h3>Zawsze możesz zacząć swój projekt od już intniejącego, przerabiając go na własny.</h3>
                <a href="{{baseUrl}}/projekty">
                    <button>Przeglądaj projekty</button>
                </a>
            </div>
        </div>
    </div>
    <div class="content" ng-if="$root.user.projectsCount>0">
        <div class="title"><h2>Dashboard</h2></div>
    </div>
</div>