<popup>
    <style>
    </style>
    <div class="body">
        <span ng-if="!title">Czy potwierdzasz usunięcie elementu?</span>
        <span ng-if="title">{{title}}</span>
    </div>
    <div class="buttons">
        <button class="{{button.class}}" ng-repeat="button in buttons" ng-click="button.click()">{{button.title}}</button>
    </div>
</popup>