<style>
    .red{
        background: red;
    }
    .blue{
        background: blue;
    }
    .green{
        background: green;
    }
    .row{
        margin-bottom: 15px;
    }
</style>
<div class="row">
    <div class="col-xs-6 red">kuku</div>
    <div class="col-xs-6 blue">kuku</div>
</div>
<div class="row">
    <div class="col-xs-4 red"><div style="height: 100px;">kuku</div></div>
    <div class="col-xs-8 blue"><div>kuku</div></div>
</div>

<div class="row middle">
    <div class="col-xs-4 red"><div style="height: 100px;">kuku</div></div>
    <div class="col-xs-8 blue"><div>kuku</div></div>
</div>

<div class="row">
    <div class="col-xs-2 offset-xs-2 green"><div>kuku</div></div>
    <div class="col-xs-5 offset-xs-3 red"><div>kuku</div></div>
</div>

<div class="row">
    <div class="col-xs-2 pull-xs-4 green"><div>kuku</div></div>
    <div class="col-xs-6 red"><div>kuku</div></div>
</div>