<style>
    #landing-page .card img {
        width: 100%;
    }

    #landing-page .card {
        vertical-align: top;
        position: relative;
        margin: 10px;
        box-shadow: 5px 5px 5px #bbb;
    }

    #landing-page .content {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding-top: 100%;
        overflow: hidden;
        position: relative;
    }

    #landing-page .card .container {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1;
        opacity: 0;
        border: 2px solid transparent;
    }

    #landing-page .card:hover .container,
    #landing-page .card.active .container {
        border: 2px solid #8eb0c7;
        opacity: 1;
        border-radius: 3px;
    }

    #landing-page .card .container .buttons {
        position: absolute;
        bottom: 0px;
        padding: 10px 15px;
        background-color: rgba(255, 255, 255, 0.5);
        border-top: 2px solid #8eb0c7;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    #landing-page .cover button {
    }

    #landing-page .title h2 {
        font-weight: 300;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    #landing-page .cards {
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding: 0px 50px;
    }

    body.md #landing-page .cards {
        padding: 0px 35px;
    }

    body.xl #landing-page .cards {
        padding: 0px 75px;
    }

    body.xs #landing-page .cards {
        padding: 0px 15px;
    }

    #landing-page .card .content {
        padding-top: 100%;
    }
</style>
<div id="landing-page">
    <div class="title">
        <h2 class="center">Niżej znajduje się lista stron wyedytowanych za pomocą edytora redAction.</h2>
    </div>
    <div class="cards">
        <div class="col col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 col-xl-3"
             ng-repeat="project in projects">
            <div class="card" ng-click="projects.activeCard=project.id"
                 ng-class="{'active': projects.activeCard==project.id}" image-scroll>
                <div class="content">
                    <div class="image"><img src="/pliki/{{project.thumb.id}}/{{project.thumb.name}}"></div>
                </div>
                <div class="container animate">
                    <div class="buttons">
                        <a href="{{baseUrl}}/podglad/{{project.id}}" target="_blank">
                            <button>Podgląd</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>