<!DOCTYPE html>
<html lang="pl" ng-app="RedActionLookup">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RedAction Lookup</title>

    <link href="/Public/Css/Grid.css" rel="stylesheet">

    [[fonts]]

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.min.js"></script>

    <script src="[[runScript]]"></script>
    <script src="[[routesScript]]"></script>
    <script src="/Public/Js/RedActionLookup.js"></script>

    <link href="[[rootStyle]]" rel="stylesheet">
    <link href="[[customStyle]]" rel="stylesheet">

    <base href="/">
</head>
<body>
<wrapper>
    <view>
        <view-header><span ng-include="'[[projectPath]]/Templates/header.html'"></span></view-header>
        <left-sidebar ng-if="$root.showLeftSidebar" id="id{{showLeftSidebar.id}}"><span ng-include="'[[projectPath]]/Templates/sidebar-left.html'"></span></left-sidebar>
        <view-body ng-class="{'left-sidebar': $root.showLeftSidebar, 'right-sidebar': $root.showRightSidebar}">
            <ng-view>
            </ng-view>
        </view-body>
        <right-sidebar ng-if="$root.showRightSidebar" id="id{{showRightSidebar.id}}"><span ng-include="'[[projectPath]]/Templates/sidebar-right.html'"></span></right-sidebar>
        <view-footer><span ng-include="'[[projectPath]]/Templates/footer.html'"></span></view-footer>
    </view>
</wrapper>
<div id="preloader">
    <style>
        #preloader {
            position: fixed !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background: #fff;
        }

        #loader {
            display: block;
            position: relative;
            left: 50%;
            top: 50% !important;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #9370DB;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #BA55D3;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }

        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #FF00FF;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
    <div id="loader"></div>
</div>
</body>
</html>