<style>
    #profile .title h2 {
        padding-top: 25px;
        padding-left: 10px;
    }

    #profile .content {
        padding: 10px;
    }

    #profile .panel {
        margin-top: 25px;
    }
</style>
<div id="profile">
    <div class="title"><h2>Edycja danych konta</h2></div>
    <div class="content">
    <div class="cards">
        <div class="col col-xs-6">
            <div class="card">
                <div class="header">
                    Moje dane
                </div>
                <div class="body">
                    <div class="input">
                        <label>Imię</label>
                        <input ng-model="firstName">
                    </div>
                    <div class="input">
                        <label>Nazwisko</label>
                        <input ng-model="lastName">
                    </div>
                    <div class="center">
                        <button class="xl" ng-click="save()">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xs-6">
            <div class="card">
                <div class="header">
                    Zmiana hasła do konta
                </div>
                <div class="body">
                    <div class="input">
                        <label>Stare hasło</label>
                        <input type="password" ng-model="oldPassword">
                    </div>
                    <div class="input">
                        <label>Nowe hasło</label>
                        <input type="password" ng-model="newPassword">
                    </div>
                    <div class="input">
                        <label>Powtórz nowe hasło</label>
                        <input type="password" ng-model="repeatedPassword">
                    </div>
                    <div class="center">
                        <button class="xl" ng-click="savePassword()">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>