<style>
    #project .title h2 {
        padding-top: 25px;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    #project .content {
        padding: 10px;
    }

    #project b {
        font-weight: 400;
    }

    #project div.change {
        font-size: 0.85em;
        font-weight: 400;
        position: relative;
        margin-top: 5px;
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }

    #project .domain {
        font-size: 0.95em;
        font-weight: 400;
        float: left;
        width: 100%;
        margin: 0;
    }

    #project div.change span {
        margin-right: 10px;
        cursor: pointer;
    }

    #project div.change span a {
        font-weight: 400;
    }

    #project p {
        font-size: 0.85em;
        padding-top: 10px;
        width: 100%;
    }

    #project .change .delete a {
        font-size: 0.8em;
        color: #ffc1c1;
    }

    #project .link {
        display: inline-block;
        text-align: center;
    }

    #project .link a {
        font-weight: 400;
    }

    #project .panel {
        padding: 0px;
        float: left;
        margin-right: 15px;
        box-sizing: border-box;
        width: 100%;
        position: relative;
        background: rgba(0, 0, 0, 0.05);
    }
    #project .panel:hover {
        box-shadow: 3px 3px 3px rgba(255,255,255,0.4);
    }

    #project .padding {
        padding: 10px;
    }

    #project .padding:first-child {
        padding-left: 0px;
    }

    #project .image {
        width: 100%;
        height: 260px;
        overflow: hidden;
        float: left;
        position: relative;
        top: -10px;
    }

    #project .image img {
        width: 100%;
    }

    #project .panels .description {
        padding: 10px;
        left: 160px;
        right: 0;
        bottom: 0;
        top: 0;
    }

    #project .style h4 {
        padding: 0;
        margin-bottom: 10px;
        font-size: 1.15em;
        font-weight: 400;
    }

    #project .style .select {
        float: right;
        bottom: 10px;
        width: auto;
    }

    #project .w100 .style-name{
        float: left;
    }

    #project .panels .edit {
        position: absolute;
        bottom: 10px;
        left: 160px;
    }

    #project .content-counter {
        max-width: 160px;
        height: 120px;
        overflow: hidden;
        float: left;
        position: relative;
        width: 100%;
    }

    #project .content-counter span {
        font-size: 5em;
        position: absolute;
        top: 50%;
        margin-top: -41px;
        width: 100%;
        text-align: center;
        font-weight: 600;
    }

    #project .content-counter span b {
        font-size: 0.45em;
        color: rgba(255, 255, 255, 0.5);
    }

    #project .description p {
        padding-top: 0;
    }

    #project .panel.w100{
        padding-top: 10px;
        position: relative;
    }

    #project .panel.graph{
        width: 100%;
        margin: 0px 0px;
        box-sizing: border-box;
        float: left;
        padding: 10px;
    }
    #project .padding.graph {
        position: relative;
        float: left;
    }
    #project canvas{
        height: 138px !important;
    }
</style>
<div id="project">
    <div class="title"><h2>Projekt <b>{{project.name}}</b></h2></div>
    <div class="content">
        <div class="change">
            <span><a href="{{baseUrl}}/projekty">Zmień</a></span>
            <span><a target="_blank" href="/podglad/{{project.id}}">Podgląd</a></span>
            <span><a href="{{baseUrl}}/projekt/{{project.id}}">Edycja</a></span>
            <span class="delete" ng-click="delete()"><a>Usuń</a></span>
        </div>
        <div ng-if="project.domain" class="domain">{{project.domain}}</div>
        <p ng-if="project.description" class="description">{{project.description}}</p>
        <div class="col col-xs-12 panels">
            <div class="col col-xs-4 padding style">
                <div class="panel w100">
                    <div class="image">
                        <img src="pliki/{{project.styleImage.thumb.id}}/{{project.styleImage.thumb.name}}">
                    </div>
                    <div class="description">
                        <div class="style-name"><h4>{{project.styleName}}</h4></div>
                        <div class="link select"><a href="{{baseUrl}}/projekt/{{project.id}}/style">Wybierz</a> styl
                            strony
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-xs-4 padding">
                <div class="panel">
                    <div class="content-counter">
                        <span>{{project.pagesCount}}<b>/{{project.elementsCount}}</b></span>
                    </div>
                    <div class="description">
                        <p>Ilość stron w projekcie łamana na ilość elementów z których składa się projekt.</p>
                        <div class="link edit"><a href="{{baseUrl}}/projekt/{{project.id}}/edycja">Edycja</a> treści
                            strony
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-xs-4 padding">
                <div class="panel">
                    <div class="content-counter">
                        <span>{{project.datasetsCount}}<b>/{{project.datasetsFieldsCount}}</b></span>
                    </div>
                    <div class="description">
                        <p>Ilość datasetów łamana na ilość pól w datasetach.</p>
                        <div class="link edit"><a href="{{baseUrl}}/projekt/{{project.id}}/datasety">Edycja</a> datasetów
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-xs-8 padding graph">
                <div class="panel graph">
                    <canvas id="dataset" class="chart chart-line" chart-data="$root.datasetData"
                            chart-labels="$root.datasetLabels" chart-series="$root.datasetSeries" chart-options="$root.datasetOptions"
                            chart-dataset-override="$root.datasetDatasetOverride"
                            height="155px">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>