<popup id="user-menu-popup">
    <style>
        #user-menu-popup {
            position: absolute;
            width: 150px;
            padding-top: 7px;
            font-size: 1.15em;
        }

        #user-menu-popup #menu a{
            display: block;
            margin-top: 5px;
            cursor: pointer;
        }

        #user-menu-popup #menu span {
            position: relative;
            top: -6px;
            left: 2px;
            font-size: 0.85em;
            font-weight: 300;
        }

        #user-menu-popup #menu {
            text-align: left;
        }

        #user-menu-popup #menu a:last-child{
            margin-bottom: 0px;
        }
    </style>
    <div class="body" id="menu">
        <a href="{{$root.baseUrl}}/profil"><span>Ustawienia konta</span></a>
        <a ng-click="$root.logout()"><span>Wyloguj</span></a>
    </div>
</popup>