<style>
    #edit-datasets .input.src .left {
        width: 175px;
        float: left;
    }

    #edit-datasets .input.src .right {
        width: 55px;
        float: right;
        top: 15px;
        position: relative;
    }

    #edit-datasets .material-icons.link {
        position: relative;
        top: 6px;
        margin-top: -6px;
    }

    #edit-datasets h4 {
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

    #edit-datasets .inline {
        display: inline-block;
    }

    #edit-datasets .selector {
        font-weight: 700;
    }

    #edit-datasets .card p {
        margin: 0;
        padding: 5px;
        font-size: 0.8em;
        text-align: justify;
        color: #666;
    }

    #edit-datasets .card .margin {
        margin: 0px 5px;
    }
</style>
<panel-body id="edit-datasets">
    <div class="body">
        <h1>Źródła danych</h1>
        <div class="card" ng-if="selectedElement.type=='container'">
            <p>Wybierz dataset który będzie rotował treścią wybranego kontenera</p>
            <div class="margin">
                <div class="inline selector">{{selectedElement.selector}}</div>
                <i class="material-icons link inline" ng-click="selectDataSetModal(selectedElement)">dns</i>
            </div>
        </div>

        <div class="card" ng-if="(selectedElement.type!='container')&&(selectedElement.type!='image')">
            <p>Wybierz pole z dataseta które będzie wartością wybranego elementu</p>
            <div class="margin">
                <div class="inline selector">{{selectedElement.field}}</div>
                <i class="material-icons link inline" ng-click="selectDataSetModal(selectedElement)">dns</i>
            </div>
        </div>

        <div class="card" ng-if="(selectedElement.type!='container')&&(selectedElement.type!='image')">
            <p>Kliknij aby przypisać losową wartość wybranemu elementowi.</p>
            <div class="margin">
                <button class="inline selector" ng-click="setRandomValue(selectedElement, 'word')">1-2word</button>
                <button class="inline selector" ng-click="setRandomValue(selectedElement, 'sentence')">sentence</button>
                <button class="inline selector" ng-click="setRandomValue(selectedElement, 'paragraph')">paragraph
                </button>
            </div>
        </div>

        <div class="card" ng-if="(selectedElement.type=='image')">
            <div ng-if="selectedElement.type=='image'">
                <div class="input src">
                    <div class="left">
                        <label>Źródła obrazka</label>
                        <input class="dataset" type="text" ng-model="dataSet[selectedElement.src]">
                    </div>
                    <div class="right">
                        <i class="material-icons link" ng-click="selectImageSource(selectedElement)">link</i>
                        <i class="material-icons link" ng-click="selectDataSetModal(selectedElement)">dns</i>
                    </div>
                </div>
                <div class="input"><label>Tytuł obrazka</label>
                    <input class="dataset" type="text" ng-model="dataSet[selectedElement.picTitle]">
                </div>
                <div class="input"><label>Alt obrazka</label>
                    <input class="dataset" type="text" ng-model="dataSet[selectedElement.alt]">
                </div>
            </div>
        </div>

        <div class="card" ng-if="selectedElement.type=='link'">
            <div class="input">
                <label>Adres URL</label>
                <input ng-model="selectedElement.href" ng-model-options="{debounce: 500}">
            </div>
        </div>

        <div class="card" ng-if="selectedElement.type=='pagination'">
            <div class="input">
                <label>Url paginacji np. /produkty - na końcu dopisze /1</label>
                <input ng-model="$root.paginationUrl" ng-model-options="{debounce: 500}">
            </div>
        </div>
        <div class="card" ng-if="selectedElement.type=='pagination'">
            <div class="input">
                <label>Page number - Url param etc. 1 or 2</label>
                <input ng-model="$root.paginationUrlParam" ng-model-options="{debounce: 500}">
            </div>
            <div class="input">
                <label>Page selectedElements limit</label>
                <input ng-model="$root.paginationLimit" ng-model-options="{debounce: 500}">
            </div>
            <button ng-click="setPaginationPage()">Save</button>
        </div>


        <div class="card" ng-if="selectedElement.type=='html'">
            <div class="input">
                <label>Treść kodu html</label>
                <textarea ng-model="selectedElement.html" ng-model-options="{debounce: 500}"
                          ng-change="changeHtml()"></textarea>
            </div>
        </div>
    </div>
</panel-body>