<panel-body id="structure">
    <style>
        #structure .type {
            margin-left: 20px;
            font-size: 1em;
            margin-top: -4px;
            margin-bottom: -4px;
        }

        #structure .row:hover,
        #structure .row.active {
            font-weight: 500;
            color: #5bc3ff;
        }

        #structure .material-icons {
            position: relative;
            font-size: 1.1em;
            top: 3px;
            left: 5px;
            margin-right: -4px;
        }

        #structure .row .material-icons {
            opacity: 0;
        }

        #structure .row:hover .material-icons {
            opacity: 1;
        }

        #structure .type .row span {
            font-size: 0.75em;
            position: relative;
            top: 0px;
            color: #888;
        }

        #structure .element-container:last-child {
            margin-bottom: 20px;
            float: left;
            width: 100%;
            box-sizing: border-box;
        }

        #structure .element .title {
            font-weight: 600;
            margin-bottom: 5px;
        }
    </style>
    <div class="scroll-container">
        <div class="scroll-area">
            <h1>Struktura strony</h1>
            <p>Z pomocą tej karty możesz zarządzać strukturą edytowanego elementu.</p>
            <script type="text/ng-template" id="showElement.html">
                <div class="type">
                    <div class="row" ng-class="{'active': element.id==$root.selectedElement.id}">
                        {{element.type}} <span>{{element.class}}</span>
                        <i class="material-icons"
                           ng-click="selectElement($event, element)" title="Edycja wskazanego elementu">edit</i>
                        <i class="material-icons" ng-click="$root.copyElement(element, null)"
                           title="Skopiowanie wybranego elementu.">filter_2</i>
                        <i class="material-icons" ng-click="$root.cutElement(null, element);$root.resizeView()"
                           title="Wycięcie wybranego elementu.">flip_to_front</i>
                        <i class="material-icons" ng-click="$root.pasteElement(element);$root.resizeView()"
                           title="Wklejenie wybranego elementu.">flip_to_back</i>
                        <i class="material-icons delete"
                           ng-click="$root.deleteElement(null, element)"
                           title="Usunięcie wskazanego elementu">delete</i>
                    </div>
                    <div ng-repeat="element in element.childrens" ng-include="'showElement.html'"></div>
                </div>
            </script>
            <div class="element">
                <div class="element-container">
                    <div class="title">
                        Header
                        <i class="material-icons" ng-click="addToRootElement(viewHeader)"
                           title="Dodanie nowego kontenera.">add_circle_outline</i>
                        <i class="material-icons" ng-click="pasteToRoot(viewHeader)" title="Wklejenie elementu.">flip_to_back</i>
                    </div>
                    <div ng-repeat="element in viewHeader.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
            <div class="element">
                <div class="element-container">
                    <div class="title">
                        Sidebar Left
                        <i class="material-icons" ng-click="addToRootElement(viewSidebarLeft)"
                           title="Dodanie nowego kontenera.">add_circle_outline</i>
                        <i class="material-icons" ng-click="pasteToRoot(viewSidebarLeft)" title="Wklejenie elementu.">flip_to_back</i>
                    </div>
                    <div ng-repeat="element in viewSidebarLeft.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
            <div class="element">
                <div class="element-container">
                    <div class="title">
                        Body
                        <i class="material-icons" ng-click="addToRootElement(viewBody)"
                           title="Dodanie nowego kontenera.">add_circle_outline</i>
                        <i class="material-icons" ng-click="pasteToRoot(viewBody)" title="Wklejenie elementu.">flip_to_back</i>
                    </div>
                    <div ng-repeat="element in viewBody.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
            <div class="element">
                <div class="element-container">
                    <div class="title">
                        Sidebar Right
                        <i class="material-icons" ng-click="addToRootElement(viewSidebarRight)"
                           title="Dodanie nowego kontenera.">add_circle_outline</i>
                        <i class="material-icons" ng-click="pasteToRoot(viewSidebarRight)" title="Wklejenie elementu.">flip_to_back</i>
                    </div>
                    <div ng-repeat="element in viewSidebarRight.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
            <div class="element">
                <div class="element-container">
                    <div class="title">
                        Footer
                        <i class="material-icons" ng-click="addToRootElement(viewFooter)"
                           title="Dodanie nowego kontenera.">add_circle_outline</i>
                        <i class="material-icons" ng-click="pasteToRoot(viewFooter)" title="Wklejenie elementu.">flip_to_back</i>
                    </div>
                    <div ng-repeat="element in viewFooter.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
        </div>
    </div>
</panel-body>