<popup id="element-menu-popup" ng-controller="menuPopupController">
    <style>
        #element-menu-popup {
            position: absolute;
        }

        #element-menu-popup .close {
            font-size: 1.2em;
            position: relative;
            top: -3px;
            right: -2px;
        }
    </style>
    <div class="body">
        <i class="material-icons" ng-click="$root.selectAddElement($event, true, $root.selectedElement);$root.resizeView();" title="Dodanie nowego elementu.">add_circle_outline</i>
        <i class="material-icons" ng-click="selectStyleElement($event, $root.selectedElement);$root.resizeView();" title="Edycja stylu elementu.">color_lens</i>
        <i class="material-icons" ng-click="$root.selectDataSetModal($root.selectedElement)" title="Podpięcie dataSeta.">dns</i>
        <i class="material-icons" ng-click="$root.viewElement($root.selectedElement)" title="Podgląd elementu w osobnym oknie.">zoom_in</i>
        <i class="material-icons" ng-click="selectParent($event)" title="Przejście do rodzica elementu.">arrow_upward</i>
        <i class="material-icons" ng-click="moveUp($event)"
           title="Przesuwa wybrany element w górę.">arrow_drop_up</i>
        <i class="material-icons" ng-click="moveDown($event)"
           title="Przesuwa wybrany element w doł.">arrow_drop_down</i>
        <i class="material-icons" ng-click="$root.copyElement(null, close)" title="Skopiowanie wybranego elementu.">filter_2</i>
        <i class="material-icons" ng-click="$root.cutElement(close);$root.resizeView()" title="Wycięcie wybranego elementu.">flip_to_front</i>
        <i class="material-icons" ng-click="$root.pasteElement();$root.resizeView()" title="Wklejenie wybranego elementu.">flip_to_back</i>
        <i class="material-icons link" ng-click="saveElementModal($root.selectedElement)" title="Zapis elementu do listy elementów.">cloud_upload</i>
        <i class="material-icons delete" ng-click="$root.deleteElement(close);$root.resizeView()" title="Usunięcie wybranego elementu.">delete</i>
        <i class="material-icons close" ng-click="close();$root.selectedElement=null;elementsKind='body';" title="Zamknięcie paska edycji elementu">close</i>
    </div>
</popup>