<style>
    #projects .title h2,
    #projects .title i {
        display: inline-block;
    }

    #projects .title i {
        font-size: 1.75em;
        position: relative;
        top: 5px;
        left: 8px;
    }

    #projects .image img {
        width: 100%;
        position: absolute;
        top: 0px;
    }

    #projects .image {
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
    }

    #projects .card {
        margin: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 0px;
        border: 2px solid #ddd;
        border-radius: 3px;
        position: relative;
        box-shadow: 5px 5px 5px #bbb;
    }

    #projects .card .body {
        padding: 0;
    }

    #projects .footer {
        text-align: right;
        padding: 0px 10px;
    }

    #projects .card .title {
        font-weight: 500;
        margin: 0px;
        font-size: 1.25em;
        padding: 5px 10px 5px 10px;
        user-select: none;
        position: absolute;
        bottom: 0px;
        width: 100%;
        box-sizing: border-box;
        border-top: 2px solid #ddd;
        background: rgba(255, 255, 255, 0.85);
    }

    #projects .card .title .menu {
        position: absolute;
        top: 3px;
        font-size: 1.35em;
        right: 0px;
        left: auto;
    }

    #projects .add-button {
        float: left;
        position: absolute;
        top: 50%;
        margin-top: -28px;
        left: 50%;
        margin-left: -28px;
    }

    #projects .add-button .material-icons {
        font-size: 4em;
    }

    #projects .card .body:hover .material-icons {
        color: #8eb0c7;
    }

    #projects .material-icons.loading {
        font-size: 12em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -84px;
        margin-left: -84px;
    }

    #projects .card.add .title {
        border-top: none;
    }

    #projects .card.add {
        padding: 0;
    }

    #projects .card.add .title {
        padding: 6px;
    }

    #projects .card:hover,
    #projects .card.active {
        border: 2px solid #8eb0c7;
    }

    #projects .card:hover:not(.add) .title,
    #projects .card.active:not(.add) .title {
        border-top: 2px solid #8eb0c7;
    }

    #projects .card .edit-button-container {
        position: absolute;
        top: 0;
        bottom: 32px;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.75);
        opacity: 0;
        z-index: 1;
        text-align: center;
    }

    #projects .card:hover .edit-button-container,
    #projects .card.active .edit-button-container {
        opacity: 1;
    }

    #projects .card .edit-button-container button {
        position: relative;
        top: 50%;
        margin-top: -46px;
    }

    .material-icons.loading {
        color: #ddd;
    }
</style>
<div id="projects">
    <div class="title"><h2>Lista moich projektów</h2></div>
    <div class="buttons">
        <a href="{{baseUrl}}/projekt/nowy">
            <button>Dodaj nowy projekt</button>
        </a>
    </div>
    <div class="table">
        <div class="row" ng-repeat="project in projects">
            <div class="">
                <div class="col"><i class="material-icons" ng-click="setActiveProject(project.id)">cloud_download</i></div>
                <div class="col">{{project.name}}</div>
            </div>
        </div>
        <div class="loader" ng-if="page<=pages">
            <div class="add">
                <div class="body" style="cursor: pointer;" ng-click="loadNext()" title="Wczytanie kolejnych projektów.">
                    <div class="image">
                        <i class="material-icons loading">autorenew</i>
                        <div class="title">&nbsp</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>