<pagination id="id{{element.altId}}" class="{{element.class}}" ng-if="element.show">
    <a class="link not-important"
       ng-if="pageId>1">1</a>
    <a class="link unactive" ng-if="pageId>1">...</a>
    <a class="link not-important"
       ng-if="pageId-30>=1">{{pageId-30}}</a>
    <a class="link not-important"
       ng-if="pageId-20>=1">{{pageId-20}}</a>
    <a class="link not-important"
       ng-if="pageId-10>=1">{{pageId-10}}</a>
    <a class="link unactive" ng-if="pageId-10>=1">...</a>
    <a class="link"
       ng-if="pageId-2>=1">{{pageId-2}}</a>
    <a class="link"
       ng-if="pageId-1>=1">{{pageId-1}}</a>
    <a class="link active">{{pageId}}</a>
    <a class="link"
       ng-if="pageId+1<=pagesTotal">{{pageId+1}}</a>
    <a class="link"
       ng-if="pageId+2<=pagesTotal">{{pageId+2}}</a>
    <a class="link unactive" ng-if="pageId+10<=pagesTotal">...</a>
    <a class="link not-important"
       ng-if="pageId+10<=pagesTotal">{{pageId+10}}</a>
    <a class="link not-important"
       ng-if="pageId+20<=pagesTotal">{{pageId+20}}</a>
    <a class="link not-important"
       ng-if="pageId+30<=pagesTotal">{{pageId+30}}</a>
    <a class="link unactive" ng-if="pageId+11<=pagesTotal">...</a>
    <a class="link not-important"
       ng-if="pageId+11<=pagesTotal">{{pagesTotal}}</a>
</pagination>