<panel-body id="configure-element">
    <style>
        #configure-element textarea {
            min-height: 75px;
        }

        #configure-element label {
            min-height: 75px;
            font-weight: 600;
            margin: 0px 4px;
            top: 8px;
        }

        #configure-element p {
            margin: 0;
            padding: 15px 0px;
            padding-top: 0;
            padding-bottom: 30px;
            text-align: center;
            font-size: 0.9em;
        }

        #configure-element input[type=checkbox] {
            position: relative;
            top: 22px;
            float: left;
        }

        #configure-element .element {
            float: left;
            width: 100%;
            box-sizing: border-box;
        }

        #configure-element input.margin-top {
            top: 22px;
        }

        #configure-element .source {
            margin-bottom: 25px;
            text-align: center;
        }

        #configure-element .source .material-icons {
            position: relative;
            top: 7px;
        }

        #configure-element .source span {
            font-weight: 600;
        }

        #configure-element .input.checkbox input {
            left: 5px;
            top: -1px;
        }

        #configure-element .input.checkbox label {
            top: 0px;
            font-size: 0.9em;
            font-weight: 400;
            background: transparent;
        }

        #configure-element .color-picker-wrapper .input-group .color-picker-input-swatch,
        #configure-element .color-picker-wrapper .input-group .input-group-addon:first-child {
            display: none;
        }

        #configure-element .input .color {
            border: 1px solid #8eb0c7;
            width: 18px;
            height: 18px;
            float: left;
            position: relative;
            top: 21px;
            margin-right: 4px;
        }

        #configure-element .input .input {
            width: 77%;
            float: left;
            margin-bottom: 0px;
        }

        #configure-element .input {
            margin-bottom: 0px;
        }

        #configure-element .input .material-icons.picture {
            float: left;
            position: relative;
            top: 20px;
            margin-right: 5px;
        }

        #configure-element .input.background {
            width: 77%;
        }

        #configure-element .input.image input {

        }

        #configure-element .input.image .input {
            width: 85%;
        }

        #configure-element .input.image input[type=checkbox] {

        }

        #configure-element .input .material-icons.dataset {
            float: left;
            position: relative;
            top: 20px;
            margin-right: 4px;
        }
    </style>
    <div class="panel">
        <div class="body">
            <h1>Ustawienia komponentu</h1>
            <p>W tym miejscu możesz wprowadzać treść strony.</p>
            <div class="source" ng-if="dataSetRotator" ng-click="selectDataSetModal(dataSetRotator)">
                Wybierz źródło danych <i class="material-icons">dns</i> <span ng-if="dataSetRotator.selector">{{dataSetRotator.selector}}</span>
            </div>
            <div ng-if="rootKind=='header'">
                <div class="input checkbox">
                    <input type="checkbox" ng-model="fixed" ng-click="setFixed(fixed)">
                    <label>Element pływający</label>
                </div>
            </div>
            <div class="input" ng-if="backgroundSetter">
                <div class="input background">
                    <label>Tło elementu</label>
                    <input type="text"
                           ng-model="$root.customCssStyle[backgroundSetter.tag]['default']['backgroundImage']">
                </div>
                <i class="material-icons picture"
                   ng-click="selectImageSource('customCssStyle', backgroundSetter.tag, 'default', 'backgroundImage')">picture_in_picture</i>
                <div ng-click="openColorRoot(backgroundSetter)"
                     style="background-color: {{backgroundSetter.color}}"
                     class="color"></div>
                <color-picker ng-model="color"
                              options="colorPickerOptionsRoot"
                              api="pickerApiRoot"
                              event-api="pickerEventApiRoot"></color-picker>
            </div>
            <div class="elements">
                <div class="element" ng-repeat="element in elementsEditor">
                    <div ng-if="element.kind=='text'">
                        <div class="input">
                            <div class="input">
                                <label>{{element.type}}</label>
                                <input type="text" ng-model="$root.dataSet[element.elementPositionId][element.field]">
                            </div>
                            <i class="material-icons dataset" ng-click="selectDataSetModal(element.element)">dns</i>
                            <div ng-click="openColor(element)"
                                 style="background-color: {{element.color}}"
                                 class="color"></div>
                            <color-picker ng-model="color"
                                          options="colorPickerOptions"
                                          api="pickerApi[element.tag]"
                                          event-api="pickerEventApi"></color-picker>
                            <input type="checkbox" ng-model="element.element.show">
                        </div>
                    </div>
                    <div ng-if="element.kind=='textarea'">
                        <div class="input">
                            <div class="input">
                                <label>{{element.type}}</label>
                                <textarea ng-model="$root.dataSet[element.elementPositionId][element.field]"></textarea>
                            </div>
                            <i class="material-icons dataset" ng-click="selectDataSetModal(element.element)">dns</i>
                            <div ng-click="openColor(element)"
                                 style="background-color: {{element.color}}"
                                 class="color"></div>
                            <color-picker ng-model="color"
                                          options="colorPickerOptions"
                                          api="pickerApi[element.tag]"
                                          event-api="pickerEventApi"></color-picker>
                            <input class="margin-top" type="checkbox" ng-model="element.element.show">
                        </div>
                    </div>
                    <div ng-if="element.kind=='image'">
                        <div class="input image">
                            <div class="input">
                                <label>{{element.type}}</label>
                                <input type="text" ng-model="$root.dataSet[element.elementPositionId][element.element.src]">
                            </div>
                            <i class="material-icons picture"
                               ng-click="selectImageSource('customCssStyle', element.element)">picture_in_picture</i>
                            <input type="checkbox" ng-model="element.element.show">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</panel-body>