<panel-body id="select-element">
    <style>
        #select-element .element p {
            font-size: 0.85em;
            margin: 0;
            margin-top: 5px;
            color: #555;
            padding: 0;
        }

        #select-element h2 {
            display: inline-block;
            font-size: 1.15em;
            font-weight: 400;
            cursor: pointer;
            padding: 5px;
        }

        #select-element h2.active {
            font-weight: 900;
            color: rgb(108, 128, 175);
        }

        #select-element h2 .material-icons {
            position: absolute;
            right: -5px;
            top: 3px;
        }

        #select-element .component h4,
        #select-element .element h4 {
            margin: 0px;
            margin-bottom: 5px;
            padding: 0;
            font-weight: 400;
            position: relative;
            float: left;
            width: 100%;
            user-select: none;
        }

        #select-element .component h4 {
            width: auto;
            margin: 0px;
            padding: 3px;
            cursor: pointer;
            font-weight: 300;
        }

        #select-element .component:hover h4.no-padding-right {
            padding-right: 3px;
        }

        #select-element .component:hover h4 {
            padding-right: 30px;
        }

        #select-element .component:hover {
            background: rgb(223, 233, 255);
        }

        #select-element .component h4 button {
            padding: 2px 4px;
            position: relative;
            font-weight: 400;
            margin-left: 10px;
            top: -1px;
        }

        #select-element .component p {
            margin: 0px;
            font-size: 0.85em;
            color: #555;
            padding: 0;
        }

        #select-element .material-icons.select {
            position: absolute;
            top: 2px;
            right: 4px;
            font-size: 1.35em;
            display: none;
        }

        #select-element .component:hover .material-icons.select {
            display: block;
        }

        #select-element .element {
            box-sizing: border-box;
        }

        #select-element .element .body {
            margin: 0px;
            border-radius: 3px;
            border: 2px solid transparent;
            border-bottom: 1px solid #aaa;
            margin-bottom: 5px;
            position: relative;
            float: left;
            width: 100%;
            box-sizing: border-box;
            min-height: 40px;
        }

        #select-element .element .body:first-child {
            margin-top: 5px;
        }

        #select-element .element:hover .body {
            border: 2px solid #8eb0c7;
        }

        #select-element .element .image img {
            max-width: 100%;
            width: auto;
        }

        #select-element .elements {
            margin: 0px 0px 15px 0px;
            float: left;
            width: 100%;
        }

        #select-element .elements .element:hover .buttons-container {
            opacity: 1;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.75);
        }

        #select-element .elements .buttons-container {
            opacity: 0;
            cursor: pointer;
        }

        #select-element .elements .buttons {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -13px;
            right: 0;
            text-align: center;
        }

        #select-element p {
            margin: 0;
            padding: 5px;
            font-size: 0.8em;
            text-align: justify;
        }

        #select-element .elements {
            width: 100%;
            float: left;
            margin-left: 8px;
            box-sizing: border-box;
        }

        #select-element .tags {
            width: 100%;
            float: left;
            padding: 10px 5px;
            box-sizing: border-box;
            text-align: center;
        }

        #select-element .tag {
            border: 1px solid #aaa;
            border-radius: 10px;
            padding: 2px 8px;
            display: inline-block;
            margin-bottom: 5px;
            font-size: 0.825em;
            cursor: pointer;
            margin: 2px 4px;
        }

        #select-element .tag.active {
            background: rgba(120, 160, 255, 0.2);
        }

        #select-element .component {
            float: left;
            border: 1px solid #ccc;
            border-radius: 15px;
            overflow: hidden;
            padding: 0px 6px;
            margin: 3px 0px;
        }

        #select-element .elements.width100 {
            width: 100%;
            box-sizing: border-box;
            margin: 0;
        }
    </style>
    <div class="panel">
        <div class="body">
            <h1>Elementy składowe</h1>
            <p>Możesz przeciągnąć element do projektu aby dodać go do głównego elementu strony. Lub kliknać w edytorze w
                jakiś element a następnie w ikonkę chmury w liście aby został dodany.</p>
            <div class="tags">
                <div class="tag" ng-repeat="tag in elementsTags"
                     ng-click="rebuildPanelLeftScrollbar();$root.resizeView();$root.elementsTag=tag.name;"
                     ng-class="{'active': $root.elementsTag==tag.name}">{{tag.caption}}
                </div>
            </div>
            <div class="elements" ng-class="{'width100': elementsKind!='body'}">
                <div class="element col col-xs-12" ng-repeat="element in elements | filter: filterElements">
                    <div class="body">
                        <div class="image"><img src="/pliki/{{element.image.id}}/{{element.image.name}}"></div>
                        <div class="buttons-container animate">
                            <div class="buttons">
                                <i class="material-icons" ng-show="$root.selectedElement"
                                   ng-click="addNewElementToSelectedElement($event, element)">cloud_download</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</panel-body>