<div id="edit-component" class="modal-window">
    <style>
        body{
            overflow: hidden;
        }
    </style>
    <div class="modal xs">
        <div class="header">
            <div class="title">
                Edycja stylu
                <i class="material-icons close" ng-click="close()">close</i>
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="input">
                        <label>Nazwa stylu</label>
                        <input type="text" ng-model="style.name">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <button ng-repeat="button in buttons" ng-click="button.callback(this)">{{button.title}}</button>
        </div>
    </div>
</div>