<div id="edit-component" class="modal-window">
    <style>
        body{
            overflow: hidden;
        }
    </style>
    <div class="modal xs">
        <div class="header">
            <div class="title">
                Edycja komponentu
                <i class="material-icons close" ng-click="close()">close</i>
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="input">
                        <label>Nazwa komponentu</label>
                        <input type="text" ng-model="component.name">
                    </div>
                </div>
                <div class="col col-xs-12">
                    <div class="input">
                        <label>Klucz komponentu</label>
                        <input type="text" ng-model="component.key">
                    </div>
                </div>
                <div class="col col-xs-12">
                    <div class="input">
                        <label>Rodzaj komponentu</label>
                        <select ng-model="component.kind">
                            <option value="text">Text</option>
                            <option value="textarea">Textarea</option>
                            <option value="image">Image</option>
                        </select>
                    </div>
                </div>
                <div class="col col-xs-12">
                    <div class="input checkbox">
                        <label>Edytowalny w SimpleEditor</label>
                        <input type="checkbox" ng-model="component.simpleView">
                    </div>
                </div>
                <div class="col col-xs-12">
                    <div class="input">
                        <label>Plik komponentu</label>
                        <input type="text" ng-model="component.file">
                    </div>
                </div>
                <div class="col col-xs-12">
                    <div class="input">
                        <label>Opis komponentu</label>
                        <textarea type="text" ng-model="component.description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <button ng-repeat="button in buttons" ng-click="button.callback(this)">{{button.title}}</button>
        </div>
    </div>
</div>