<style>
    #projects-edit .title h2 {
        font-weight: 400;
        color: #333;
        padding-top: 25px;
        padding-left: 10px;
    }

    #projects-edit .content {
        padding: 10px;
    }

    #projects-edit .panel {
        margin-top: 25px;
    }
</style>
<div id="projects-edit">
    <div class="title"><h2>Edycja projektu</h2></div>
    <div class="content">
        <div class="col col-xs-6 offset-xs-3">
            <div class="panel">
                <div class="input">
                    <label>Nazwa projektu<b class="red"> *</b></label>
                    <input ng-model="project.name" ng-class="{'red': require.name&&(!project.name)}">
                </div>
                <div class="input">
                    <label>Domena projektu</label>
                    <input ng-model="project.domain">
                </div>
                <div class="center">
                    <button class="xl" ng-click="save()">Zapisz</button>
                </div>
            </div>
        </div>
    </div>
</div>