<div id="edit-datasets" class="modal-window">
    <style>
        body{
            overflow: hidden;
        }
        #edit-datasets .dataset {
            border: 1px solid #ccc;
            box-sizing: border-box;
            padding: 5px 10px;
            margin: 5px;
            margin-bottom: 10px;
        }

        #edit-datasets .dataset h4 {
            margin: 0px;
            font-weight: 500;
            font-size: 1.15em;
            display: inline-block;
            padding: 0px;
        }

        #edit-datasets .new-dataset {
            margin: 0px 10px 25px 0px;
        }

        #edit-datasets .new-dataset-field {
            margin-top: 15px;
            clear: both;
            display: table;
            width: 100%;
        }

        #edit-datasets .new-dataset-field select {
            top: -1px;
        }

        #edit-datasets .new-dataset-field button {
            position: relative;
            top: 10px;
        }

        #edit-datasets .new-dataset-field-list {
            margin-top: 15px;
        }

        #edit-datasets .table .row .col.buttons {
            top: -1px;
            font-size: 1.15em;
        }

        #edit-datasets .table .row .col.right {
            text-align: right;
        }

        #edit-datasets .buttons .material-icons {
            font-size: 1.15em;
            top: 1px;
            position: relative;
        }

        #edit-datasets .table-icons {
            display: inline-block;
            position: relative;
            top: 5px;
            margin-left: 5px;
        }

        #edit-datasets .table-icons .material-icons {
            font-size: 1.45em;
        }

        .message.message {
            margin-bottom: -5px;
            margin-top: 10px;
        }

        .table .row {
            margin-bottom: 4px;
            border: none;
            border-bottom: 1px dashed #aaa;
            padding-bottom: 4px;
            padding-left: 2px;
            padding-right: 2px;
            padding-top: 0px;
        }

        .table .row:hover {
            border: none;
            border-bottom: 1px dashed #aaa;
            box-shadow: none;
        }

        #edit-datasets .table-icons .material-icons.dataset-delete {
            font-size: 1.1em;
            position: relative;
            top: -3px;
        }

        #edit-datasets .table .row.header .col {
            font-size: 0.9em;
            font-weight: 500;
        }

        #edit-datasets .add-dataset-button {
            margin-top: 10px;
        }

        #edit-datasets .input {
            padding: 0px;
        }
    </style>
    <div class="modal">
        <div class="header">
            <div class="title">
                Edycja datasetów
                <i class="material-icons close" ng-click="close()">close</i>
            </div>
        </div>
        <div class="body">
            <div class="col col-xs-6 pull-xs-6">
                <div class="new-dataset">
                    <div class="col col-xs-9">
                        <div class="input">
                            <label>Nazwa nowego dataseta</label>
                            <input ng-model="newDataSet.name" ng-model-options="{debounce: 500}">
                        </div>
                    </div>
                    <div class="col col-xs-3">
                        <button class="add-dataset-button" ng-if="newDataSet.name"
                                ng-click="addDataSet(newDataSet, datasets)">
                            Dodaj dataset
                        </button>
                    </div>
                </div>
            </div>
            <div class="col col-xs-6" ng-repeat="dataset in dataSets">
                <div class="dataset">
                    <h4>{{dataset.name}}</h4>
                    <div class="table-icons">
                        <i class="material-icons" ng-click="demoDataSet(dataset)"
                           title="Wygenerowanie danych demonstracyjnych.">refresh</i>
                        <i class="material-icons" ng-click="demoClearDataSet(dataset)"
                           title="Wyczyszczenie danych demonstracyjnych.">clear_all</i>
                        <i class="material-icons delete dataset-delete" ng-click="deleteDataSet(datasets, dataset)"
                           title="Usunięcie dataset'u.">delete</i>
                    </div>
                    <div class="new-dataset-field-list table table-mini" ng-if="dataset.fields.length>0">
                        <div class="row header" ng-if="datasets.length>0">
                            <div class="col col-xs-4">Nazwa</div>
                            <div class="col col-xs-4">Rodzaj</div>
                        </div>
                        <div class="row" ng-repeat="field in dataset.fields">
                            <div class="col col-xs-4">{{field.name}}</div>
                            <div class="col col-xs-4">{{field.type}}</div>
                            <div class="col col-xs-4 buttons right">
                                <i class="material-icons delete"
                                   ng-click="deleteDataSetField(dataset, dataset.fields, field)">delete</i>
                            </div>
                        </div>
                    </div>
                    <div class="message" ng-if="message.text">{{message.text}}</div>
                    <div class="new-dataset-field">
                        <div class="input col col-xs-4">
                            <label>Nazwa</label>
                            <input ng-model="dataset.newDataSetField.name" ng-model-options="{debounce: 500}">
                        </div>
                        <div class="input col col-xs-4">
                            <label>Rodzaj</label>
                            <select ng-model="dataset.newDataSetField.type" ng-model-options="{debounce: 500}">
                                <option value="text">Text</option>
                                <option value="textarea">TextArea</option>
                                <option value="image">Image</option>
                                <option value="date">Date</option>
                            </select>
                        </div>
                        <button class="col col-xs-4"
                                ng-click="addDataSetField(message, dataset.newDataSetField, dataset)">
                            Dodaj pole
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>