<div id="save-element" class="modal-window">
    <style>
    </style>
    <div class="modal xs">
        <div class="header">
            <div class="title">
                <span>Zapis elementu</span>
                <i class="material-icons close" ng-click="close()">close</i>
            </div>
        </div>
        <div class="body">
            <div class="input">
                <label>Rodzaj treści</label>
                <select ng-model="newElement.kind">
                    <option value="header">header</option>
                    <option value="body">body</option>
                    <option value="sidebar">sidebar</option>
                    <option value="footer">footer</option>
                </select>
            </div>
        </div>
        <div class="footer">
            <button ng-repeat="button in buttons" ng-click="button.click(this)">{{button.title}}</button>
        </div>
    </div>
</div>