<div id="select-font" class="modal-window">
    <style>
        body {
            overflow: hidden;
        }

        #select-font h3 {
            font-weight: 400;
            margin-top: 0px;
            padding-top: 0px;
        }

        #select-font .font {
            cursor: pointer;
            font-size: 1.2em;
            margin: 3px 0px;
            font-weight: 300;
        }

        #select-font .font:hover,
        #select-font .font.selected {
            font-weight: 500;
            color: #8eb0c7;
        }

        #select-font iframe {
            width: 99%;
            float: left;
            box-sizing: border-box;
            min-height: 500px;
            position: relative;
            top: 0px;
            left: 0px;
            margin-bottom: 5px;
            right: 0px;
            box-shadow: none;
            border-radius: 0;
        }
    </style>
    <div class="modal">
        <div class="header">
            <div class="title">Rodzaje czcionek
                <i class="material-icons close" ng-click="close()">close</i>
            </div>
        </div>
        <div class="body">
            <div class="col col-xs-3">
                <h3>Wybierz czcionkę z listy</h3>
                <div class="font" ng-class="{'selected': $root.selectedFontActiveElement==font}"
                     ng-repeat="font in fonts.list" ng-click="selectFont(font, this)">{{font.name}}
                </div>
                <div class="buttons">
                    <button ng-if="fonts.page>1" ng-click="prev(this)">Poprzednie</button>
                    <button ng-if="(fonts.page*20)<totalCount" ng-click="next(this)">Kolejne</button>
                </div>
            </div>
            <div class="col col-xs-9">
                <h3>Wygląd elementów</h3>
                <iframe src="/Public/Templates/Editor/SelectFontDemo.html" name="previewFrame" id="previewFrame"></iframe>
            </div>
        </div>
        <div class="footer">
            <button ng-click="selectFontChooseClick($root.selectedFontActiveElement, this)">Wybierz</button>
        </div>
    </div>
    <div elem-ready="ready(this)"></div>
</div>