<div id="select-dataset" class="modal-window">
    <style>
        body{
            overflow: hidden;
        }

        #select-dataset h4 {
            font-weight: 400;
            margin: 0;
            padding: 0;
        }

        #select-dataset .dataset-title {
            cursor: pointer;
            margin-top: 5px;
        }

        #select-dataset .dataset-field {
            cursor: pointer;
            margin-top: 5px;
        }
    </style>
    <div class="modal">
        <div class="header">
            <div class="title">Dostępne datasety<i class="material-icons close" ng-click="close()">close</i></div>
        </div>
        <div class="body">
            <h4 ng-if="selectedElement.type=='container'">Wybierz dataset do którego chcesz podpiąć kontener</h4>
            <div class="dataset" ng-repeat="dataset in dataSets">
                <div ng-if="selectedElement.type=='container'">
                    <h4 class="dataset-title" ng-click="selectDataSet(dataset, selectedElement);close()">{{dataset.name}}</h4>
                </div>
                <div ng-if="(selectedElement.type!='container')&&(dataset.name==getParentsSelector(selectedElement.id))">
                    <h4>Wybierz pole do którego chcesz podpiąć element</h4>
                    <div class="dataset-field" ng-repeat="field in dataset.fields"
                         ng-click="selectDataSetField(field, selectedElement);close()">
                        {{field.name}}: {{field.type}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>