<div id="show-elements" class="modal-window">
    <style>
        body {
            overflow: hidden;
        }

        #show-elements .type {
            margin-left: 25px;
            font-size: 1.05em;
            margin-top: -4px;
            margin-bottom: -4px;
        }

        #show-elements .type .row:hover {
            font-weight: 700;
        }

        #show-elements .element-name {
            margin-left: 10px;
            font-size: 1.15em;
            font-weight: 400;
            margin-top: 25px;
            margin-bottom: 5px;
        }

        #show-elements .type .material-icons {
            position: relative;
            font-size: 1.1em;
            top: 3px;
            left: 5px;
            margin-right: -4px;
        }

        #show-elements .type .row .material-icons {
            opacity: 0;
        }

        #show-elements .type .row:hover .material-icons {
            opacity: 1;
        }

        #show-elements .type .row span {
            font-size: 0.75em;
            position: relative;
            top: 0px;
            color: #888;
        }

        #show-elements .element-container:last-child {
            margin-bottom: 25px;
        }
    </style>
    <div class="modal">
        <div class="header">
            <div class="title">Struktura strony
                <i class="material-icons close" ng-click="close()">close</i>
            </div>
        </div>
        <div class="body">
            <script type="text/ng-template" id="showElement.html">
                <div class="type">
                    <div class="row">
                        {{element.type}} <span>{{element.class}}</span>
                        <i class="material-icons"
                           ng-click="selectElement($event, element);click(button[1].callback)">edit</i>
                        <i class="material-icons delete"
                           ng-click="deleteElement($event, element);click(button[1].callback)">delete</i>
                    </div>
                    <div ng-repeat="element in element.childrens" ng-include="'showElement.html'"></div>
                </div>
            </script>
            <div class="element">
                <div class="element-name" ng-if="viewHeader.childrens.length>0">Header</div>
                <div class="element-container">
                    <div ng-repeat="element in viewHeader.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
            <div class="element" ng-if="$root.showLeftSidebar">
                <div class="element-name" ng-if="viewSidebarLeft.childrens.length>0">Sidebar Left</div>
                <div class="element-container">
                    <div ng-repeat="element in viewSidebarLeft.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
            <div class="element">
                <div class="element-name" ng-if="viewBody.childrens.length>0">Body</div>
                <div class="element-container">
                    <div ng-repeat="element in viewBody.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
            <div class="element" ng-if="$root.showRightSidebar">
                <div class="element-name" ng-if="viewSidebarRight.childrens.length>0">Sidebar right</div>
                <div class="element-container">
                    <div ng-repeat="element in viewSidebarRight.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
            <div class="element">
                <div class="element-name" ng-if="viewFooter.childrens.length>0">Footer</div>
                <div class="element-container">
                    <div ng-repeat="element in viewFooter.childrens" ng-include="'showElement.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>