<style>
</style>
<wrapper>
    <view>
        <style ng-bind="$root.systemStyle"></style>
        <style ng-bind="$root.css"></style>
        <view-header>
            <span class="element view-container" id="id{{element.id}}" ng-repeat="element in viewHeader.childrens"
                  ng-include="'element.html'"></span>
        </view-header>
        <left-sidebar ng-if="$root.showLeftSidebar" id="id{{showLeftSidebar.id}}">
                <span class="element view-container"
                      ng-repeat="element in viewSidebarLeft.childrens" ng-include="'element.html'"
                      id="id{{element.id}}"></span>
        </left-sidebar>
        <view-body ng-class="{'left-sidebar': $root.showLeftSidebar, 'right-sidebar': $root.showRightSidebar}">
            <script type="text/ng-template" id="element.html">
                <span id="id{{element.altId}}" class="{{element.class}}" ng-if="(element.type=='html')" ng-bind-html="element.trustedHtml"></span>
                <label id="id{{element.altId}}" class="{{element.class}}" ng-if="(element.type=='label')" ng-bind-html="dataSet[element.field]"></label>
                <input id="id{{element.altId}}"
                       class="{{element.class}}" ng-if="(element.type=='input')"
                       placeholder="{{dataSet[element.placeholder]}}"/>
                <button id="id{{element.altId}}" class="input" ng-if="(element.type=='button')">
                    {{dataSet[element.field]}}
                </button>
                <h1 id="id{{element.altId}}" class="{{element.class}}" ng-if="(element.type=='header-1')" ng-bind-html="dataSet[element.field]"></h1>
                <h2 id="id{{element.altId}}" class="{{element.class}}" ng-if="(element.type=='header-2')" ng-bind-html="dataSet[element.field]"></h2>
                <h3 id="id{{element.altId}}" class="{{element.class}}" ng-if="(element.type=='header-3')" ng-bind-html="dataSet[element.field]"></h3>
                <h4 id="id{{element.altId}}" class="{{element.class}}" ng-if="(element.type=='header-4')" ng-bind-html="dataSet[element.field]"></h4>
                <h5 id="id{{element.altId}}" class="{{element.class}}" ng-if="(element.type=='header-5')" ng-bind-html="dataSet[element.field]"></h5>
                <h6 id="id{{element.altId}}" class="{{element.class}}" ng-if="(element.type=='header-6')" ng-bind-html="dataSet[element.field]"></h6>
                <p id="id{{element.altId}}" class="{{element.class}}" ng-if="(element.type=='paragraph')" ng-bind-html="dataSet[element.field]"></p>
                <img ng-if="element.type=='image'" src="{{dataSet[element.src]}}" title="{{dataSet[element.picTitle]}}"
                     alt="{{dataSet[element.alt]}}" id="id{{element.altId}}" class="{{element.class}}"/>
                <a class="{{element.class}}" id="id{{element.altId}}" ng-if="(element.type=='link')" href="{{baseUrl+element.href}}">{{dataSet[element.field]}}</a>
                <pagination id="id{{element.altId}}"
                            ng-if="((element.type=='pagination')&&(pagesTotal>1))"
                            ng-click="changeStyle($event, element)"
                            class="{{element.class}}">
                    <a class="link not-important" href="{{baseUrl+paginationUrl}}/1"
                       ng-if="pageId>31">1</a>
                    <a class="link unactive" ng-if="pageId>31">...</a>
                    <a class="link not-important" href="{{baseUrl+paginationUrl}}/{{pageId-30}}"
                       ng-if="pageId-30>=1">{{pageId-30}}</a>
                    <a class="link not-important" href="{{baseUrl+paginationUrl}}/{{pageId-20}}"
                       ng-if="pageId-20>=1">{{pageId-20}}</a>
                    <a class="link not-important" href="{{baseUrl+paginationUrl}}/{{pageId-10}}"
                       ng-if="pageId-10>=1">{{pageId-10}}</a>
                    <a class="link unactive" ng-if="pageId-10>=1">...</a>
                    <a class="link" href="{{baseUrl+paginationUrl}}/{{pageId-2}}"
                       ng-if="pageId-2>=1">{{pageId-2}}</a>
                    <a class="link" href="{{baseUrl+paginationUrl}}/{{pageId-1}}"
                       ng-if="pageId-1>=1">{{pageId-1}}</a>
                    <a class="link active" href="{{baseUrl+paginationUrl}}/{{pageId}}">{{pageId}}</a>
                    <a class="link" href="{{baseUrl+paginationUrl}}/{{pageId+1}}"
                       ng-if="pageId+1<=pagesTotal">{{pageId+1}}</a>
                    <a class="link" href="{{baseUrl+paginationUrl}}/{{pageId+2}}"
                       ng-if="pageId+2<=pagesTotal">{{pageId+2}}</a>
                    <a class="link unactive" ng-if="pageId+10<=pagesTotal">...</a>
                    <a class="link not-important" href="{{baseUrl+paginationUrl}}/{{pageId+10}}"
                       ng-if="pageId+10<=pagesTotal">{{pageId+10}}</a>
                    <a class="link not-important" href="{{baseUrl+paginationUrl}}/{{pageId+20}}"
                       ng-if="pageId+20<=pagesTotal">{{pageId+20}}</a>
                    <a class="link not-important" href="{{baseUrl+paginationUrl}}/{{pageId+30}}"
                       ng-if="pageId+30<=pagesTotal">{{pageId+30}}</a>
                    <a class="link unactive" ng-if="pageId+31<=pagesTotal">...</a>
                    <a class="link not-important" href="{{baseUrl+paginationUrl}}/{{pagesTotal}}"
                       ng-if="pageId+31<=pagesTotal">{{pagesTotal}}</a>
                </pagination>
                <span ng-if="element.selector" ng-repeat="dataSet in dataSet[element.selector]"
                      id="id{{element.childrens[0].id}}" class="{{element.childrens[0].class}}">
                    <span ng-repeat="element in element.childrens" ng-include="'element.html'"></span>
                </span>
                <span ng-if="!element.selector">
                    <span class="{{element.class}}" ng-repeat="element in element.childrens"
                          ng-include="'element.html'" id="id{{element.id}}"></span>
                </span>
            </script>
            <span class="element view-container" ng-repeat="element in viewBody.childrens" ng-include="'element.html'"
                  id="id{{element.id}}"></span>
        </view-body>
        <right-sidebar ng-if="$root.showRightSidebar" id="id{{showRightSidebar.id}}">
                <span class="element view-container"
                      ng-repeat="element in viewSidebarRight.childrens" ng-include="'element.html'"
                      id="id{{element.id}}"></span>
        </right-sidebar>
        <view-footer>
            <span class="element view-container" ng-repeat="element in viewFooter.childrens" ng-include="'element.html'"
                  ng-class="{'selected': (selectedElement.id==element.id)&&(element.type=='div')}"
                  id="id{{element.id}}" ng-click="changeStyle($event, element)"></span>
        </view-footer>
    </view>
</wrapper>