<div id="select-image" class="modal-window">
    <style>
        body {
            overflow: hidden;
        }

        #select-image .tabs {
            padding: 0px 10px;
        }

        #select-image h2 {
            display: inline-block;
            font-size: 1.15em;
            margin-right: 15px;
            font-weight: 400;
            margin-top: 0px;
            margin-bottom: 20px;
            cursor: pointer;
        }

        #select-image h2.active {
            text-decoration: underline;
            text-underline-position: under;
            font-weight: 700;
        }

        #select-image .file {
            width: 120px;
            display: inline-block;
            position: relative;
            text-align: center;
            border: 1px dashed #aaa;
            vertical-align: top;
            min-height: 110px;
            margin: 5px;
            padding: 0px;
        }

        #select-image .file img {
            width: 100%;
            max-height: 78px;
            max-width: 118px;
        }

        #select-image .file .material-icons.add {
            font-size: 3em;
            color: #888;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -21px;
            margin-top: -21px;
        }

        #select-image .file p {
            font-size: 0.85em;
            padding: 10px;
            margin-top: 25px;
            color: #666;
        }

        #select-image .images {
            text-align: center;
        }

        #select-image .buttons {
            margin: 0px;
            width: 100%;
        }

        #select-image .uploader {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            cursor: pointer;
        }

        #select-image .loader {
            width: 80px;
            height: 80px;
            margin: -40px 0 0 -39px;
        }

        #select-image .images.search .button {
            text-align: left;
            position: relative;
            top: -3px;
        }

        #select-image .images.search .img {
            width: 153px;
            float: left;
            padding: 4px;
            position: relative;
            height: 117px;
        }

        #select-image .images.search .img img {
            width: 100%;
        }

        #select-image .images.search .img .hover {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 2px solid transparent;
            opacity: 0;
        }

        #select-image .images.search .img:hover .hover,
        #select-image .images.search .img .hover.active {
            background: rgba(255, 255, 255, 0.85);
            border: 2px solid #8eb0c7;
            opacity: 1;
        }

        #select-image .images.search .img .hover button {
            top: 35%;
            position: relative;
        }

        #select-image .images.search .search-box {
            margin-bottom: 20px;
        }

        .modal-window .modal button.next-page {
            margin-top: 25px;
        }
    </style>
    <div class="modal">
        <div class="header">
            <div class="title">Dostępne obrazki
                <i class="material-icons close" ng-click="close()">close</i>
            </div>
        </div>
        <div class="body">
            <div class="tabs">
                <h2 ng-class="{'active': $root.activeSelectImageTab=='templates'}"
                    ng-click="$root.activeSelectImageTab='templates'" class="tab">
                    Obrazki</h2>
                <h2 ng-class="{'active': ($root.activeSelectImageTab=='myImages')||!$root.activeSelectImageTab}"
                    ng-click="$root.activeSelectImageTab='myImages'"
                    class="tab">Moje obrazki</h2>
                <h2 ng-class="{'active': ($root.activeSelectImageTab=='search')}"
                    ng-click="$root.activeSelectImageTab='search'"
                    class="tab">Szukaj</h2>
            </div>
            <div class="images" ng-if="($root.activeSelectImageTab=='myImages')||!$root.activeSelectImageTab">
                <div class="row">
                    <div class="col file">
                        <div class="image">
                            <div class="uploader" ngf-select="select($event, files)" ngf-drop="drop()"
                                 ngf-multiple="true"
                                 ng-model="files"
                                 id="uploadBorderBox" ngf-pattern="'image/*'" ngf-max-size="2MB" ngf-accept="'image/*'">
                                <div class="upload">
                                    <i ng-show="!files.uploading" class="material-icons add">add_a_photo</i>
                                    <div ng-show="files.uploading" class="preloader">
                                        <div class="loader"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col file" ng-repeat="image in $root.customImages">
                        <div class="image" ng-if="image.name">
                            <img ng-src="/pliki/{{image.thumb.id}}/{{image.thumb.name}}"/>
                        </div>
                        <div class="buttons">
                            <i class="material-icons" ng-click="selectImage(element, image, target);close()">link</i>
                            <i class="material-icons delete"
                               ng-click="deleteImage(element, customImages, image)">delete</i>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12">
                    <button class="prev-page" ng-click="customImagesPrevPage()"
                            ng-if="($root.customImages.length>0)&&($root.customImagesPage>1)">Poprzednia strona
                    </button>
                    <button class="next-page" ng-click="customImagesNextPage()"
                            ng-if="($root.customImages.length>0)&&(ceil($root.customImagesTotalCount/20)>$root.customImagesPage)">
                        Następna strona
                    </button>
                </div>
            </div>
            <div class="images" ng-if="$root.activeSelectImageTab=='templates'">
                <div class="row">
                    <div ng-repeat="image in $root.systemImages">
                        <div class="col file">
                            <div class="image" ng-if="image.name">
                                <img ng-src="/pliki/{{image.thumb.id}}/{{image.thumb.name}}"/>
                            </div>
                            <div class="buttons">
                                <i class="material-icons"
                                   ng-click="selectImage(element, image, target);close()">link</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12">
                    <button class="prev-page" ng-click="systemImagesPrevPage()"
                            ng-if="($root.systemImages.length>0)&&($root.systemImagesPage>1)">Poprzednia strona
                    </button>
                    <button class="next-page" ng-click="systemImagesNextPage()"
                            ng-if="($root.systemImages.length>0)&&(ceil($root.systemImagesTotalCount/20)>$root.systemImagesPage)">
                        Następna strona
                    </button>
                </div>
            </div>
            <div class="images search" ng-if="$root.activeSelectImageTab=='search'">
                <div class="col col-xs-12 search-box">
                    <div class="col col-xs-5"><input ng-model="searchKey" type="text"></div>
                    <div class="col col-xs-3 button">
                        <button ng-click="searchImages(searchKey)">Szukaj</button>
                    </div>
                </div>
                <div class="col col-xs-12">
                    <div class="image" ng-if="image.id" ng-repeat="image in $root.searchedImages">
                        <div class="img">
                            <img src="/pliki/{{image.id}}/{{image.name}}">
                            <div class="hover animate"
                                 ng-class="{'active': $root.searchedImagesSelected==image.id}"
                                 ng-click="$root.searchedImagesSelected=image.id">
                                <button ng-click="selectSearchedImage(element, image.id);close()">Wybierz</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12">
                    <button class="next-page" ng-click="searchImagesNextPage(searchKey)"
                            ng-if="$root.searchedImages.length>0">Następna strona
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>