<div id="select-page" class="modal-window">
    <style>
        #select-page .table {
            margin-top: 25px;
        }

        #select-page .table .row {
            margin-bottom: 0px;
            border-bottom: 1px solid #aaa;
            padding-left: 4px;
            padding-right: 4px;
            font-size: 1.05em;
            padding-bottom: 3px;
            padding-top: 3px;
        }

        #select-page .table .row .material-icons {
            font-size: 1.15em;
            position: relative;
        }

        .material-icons.delete {
            left: 0px;
            margin-right: 3px;
        }

        #select-page .new-page button{
            top: 10px;
            position: relative;
        }
        #select-page .col.url:hover{
            font-weight: 400;
            cursor: pointer;
        }

        #select-page .table .col.url{
            margin-left: 5px;
        }
    </style>
    <div class="modal sm" ng-scrollbar rebuild-on-resize rebuild-on="rebuild:scrollbars">
        <div class="header">
            <div class="title">Wybierz stronę do edycji
                <i class="material-icons close" ng-click="close()">close</i>
            </div>
        </div>
        <div class="body">
            <div class="new-page col col-xs-8">
                <div class="col col-xs-9">
                    <div class="input">
                        <label>Wprowadź adres nowej podstrony</label>
                        <input ng-model="page.url" ng-model-options="{debounce: 500}">
                    </div>
                </div>
                <div class="col col-xs-3">
                    <button ng-if="page.url">
                        <span ng-if="!page.id" ng-click="addPage(pages, page)">Dodaj</span>
                        <span ng-if="page.id" ng-click="addPage(pages, page)">Zapisz</span>
                    </button>
                </div>
            </div>
            <div class="table col col-xs-6">
                <div class="row" ng-repeat="pageToSelect in pages">
                    <div class="col">
                        <i class="material-icons" ng-click="editPage(pageToSelect);close();">zoom_in</i>
                    </div>
                    <div class="col url" ng-click="editPage(pageToSelect);close();">{{pageToSelect.url}}</div>
                    <div class="col right">
                        <i class="material-icons" ng-click="changePageData(page, pageToSelect)">edit</i>
                        <i class="material-icons delete" ng-click="deletePage(pages, pageToSelect)">delete</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <button ng-click="close()">Zamknij</button>
        </div>
    </div>
</div>