<html lang="pl">

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="/Public/Css/Grid.css" rel="stylesheet">

<link href="/Public/Css/RedActionFrame.css" rel="stylesheet">

<body>
<style>
    element-buffor{
        display: block;
        float: left;
        width: 100%;
    }
</style>
<script type="text/ng-template" id="element.html">
    <span ng-repeat="component in components"
          ng-include="'/Public/Templates/EditorComponents/'+component.file"
          ng-if="(element.type==component.key)&&(component.key!='container')"></span>
    <span ng-if="element.selector" ng-repeat="dataSet in $root.dataSet[element.selector] as data"
          ng-class="{'selected': ($root.selectedElement.id==element.childrens[0].id)&&(element.childrens[0].type=='container')}"
          id="id{{element.childrens[0].id}}" ng-click="change($event, element.childrens[0])"
          class="{{element.childrens[0].class}}">
        <span class="element" ng-repeat="element in element.childrens" ng-include="'element.html'"></span>
    </span>
    <span ng-if="!data" ng-repeat="element in element.childrens"
          ng-include="'/Public/Templates/EditorComponents/container.html'"
          ng-if="(element.type=='container')">
    </span>
</script>
<element-buffor>
    <span class="element" ng-repeat="element in viewModal.childrens">
        <span ng-include="'element.html'" class="{{element.class}}"
              ng-class="{'selected': ($root.selectedElement.id==element.id)&&(element.type=='container')}"
              id="id{{element.id}}" ng-click="change($event, element)"></span>
    </span>
</element-buffor>
</body>
</html>