<style>
    .table .row {
        margin-bottom: 2px;
        border-bottom: 1px solid #666;
        padding-bottom: 2px;
        padding-left: 2px;
        padding-right: 2px;
        padding: 0;
    }

    .table .row .buttons {
        margin-bottom: 0;
    }

    header.main {
        display: none;
    }

    wrapper .sidebar {
        display: none;
    }

    ng-view {
        width: 100%;
        max-width: 100%;
        padding: 0 !important;
        position: relative;
        left: 0;
        right: 0;
    }

    panel #styles-edit .scroll-area {
        float: left;
        overflow: hidden;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        padding-right: 0;
        margin: 0;
    }

    panel #styles-edit .scroll-container {
        width: 255px;
        overflow: hidden;
        float: left;
        position: relative;
        left: 0;
        padding-right: 0;
        top: 0;
        bottom: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    panel {
        margin: 0;
        top: 51px;
        border-radius: 0px;
    }
</style>
<header class="editor">
    <nav>
        <a href="{{baseUrl}}/"><img id="logo" src="/Public/Img/logo.png"></a>
        <a href="" class="expand rounded" ng-click="changePage()">
            Strona: {{config.defaultPageUrl}}
            <i class="material-icons">expand_more</i>
        </a>
        <a href="" ng-click="selectStyle()">Styl</a>
        <a href="" ng-click="showDataSets()">Datasety</a>
        <a href="" ng-click="showElements()">Struktura</a>
        <i class="material-icons link save" ng-click="savePage()" title="Zapis całej strony do bazy danych.">cloud_upload</i>
        <i class="material-icons link exit" ng-click="closePage()"
           title="Wyjście z edytora. Powrót do listy projektów.">power_settings_new</i>
    </nav>
</header>
<panel class="animate" ng-show="$root.leftPanel" ng-class="{'elements': (($root.leftPanel=='elements')&&($root.selectedElementsShow=='elements'))
        ||($root.leftPanel=='structure')}">
    <editor-left scroll="$root.scrollPanels()">
        <div class="my-scroll-area-left">
            <panels>
                <div ng-show="$root.leftPanel=='elements'"
                     ng-include="'/Public/Templates/Editor/Panels/SelectElementPanel.html'"></div>
                <div ng-show="$root.leftPanel=='selectStyle'"
                     ng-include="'/Public/Templates/Editor/Panels/SelectStylePanel.html'"></div>
                <div ng-show="$root.leftPanel=='editStyle'"
                     ng-controller="stylesEditController"
                     ng-include="'/Public/Templates/ElementEditor/Panels/ChangeStylePanel.html'"></div>
                <div ng-show="$root.leftPanel=='structure'"
                     ng-include="'/Public/Templates/Editor/Panels/ShowStructurePanel.html'"></div>
                <div ng-show="$root.leftPanel=='dataSet'" ng-include="'/Public/Templates/Editor/Panels/DataSetPanel.html'"></div>
            </panels>
        </div>
    </editor-left>
</panel>

<resize class="animate">
    <span ng-click="$root.resizeView(0, 1280)" ng-class="{'active': $root.screenWidth==1280}">1280</span>
    <span ng-click="$root.resizeView(0, 890)" ng-class="{'active': $root.screenWidth==890}">890</span>
    <span ng-click="$root.resizeView(0, 690)" ng-class="{'active': $root.screenWidth==690}">690</span>
    <span ng-click="$root.resizeView(0, 490)" ng-class="{'active': $root.screenWidth==490}">490</span>
    <span ng-click="$root.resizeView(0, 320)" ng-class="{'active': $root.screenWidth==320}">320</span>
</resize>

<iframe class="animate" src="/Public/Templates/Editor/EditorView.html" name="viewFrame" id="viewFrame"></iframe>

<view-modal>
    <div class="modal-window" ng-show="viewModal.childrens.length>0">
        <div class="modal">
            <div class="header">
                <div class="title">Podgląd elementu
                    <i class="material-icons close" ng-click="viewModal.childrens=[]">close</i>
                </div>
            </div>
            <div class="body">
                <iframe src="/Public/Templates/Editor/EditorLook.html" name="viewLook" id="viewLook"></iframe>
                <div class="mask"></div>
            </div>
            <div class="footer">
                <button ng-show="elementToAddNewElement"
                        ng-click="addNewElementToSelectedElement();viewModal.childrens=[]">
                    Dodaj do strony
                </button>
                <button ng-click="viewModal.childrens=[]">Zamknij</button>
            </div>
        </div>
    </div>
</view-modal>

<tips ng-if="$root.tipsShow&&!$root.rightPanel">
    <div class="my-scroll-tips">
        <div class="header">
            <i class="material-icons close" ng-click="$root.tipsShow=false">close</i>
        </div>
        <div class="tip" ng-if="tips.headerCreate"><span><b
                ng-click="$root.tipsShow=false;rebuildPanelLeftScrollbar();tips.headerCreateFunction($event)">Utwórz</b> nagłówek strony</span>
        </div>
        <div class="tip" ng-if="tips.sidebarLeftCreate"><span><b
                ng-click="t$root.tipsShow=false;rebuildPanelLeftScrollbar();tips.sidebarLeftCreateFunction($event)">Utwórz</b> lewy panel</span>
        </div>
        <div class="tip" ng-if="tips.bodyCreate"><span><b
                ng-click="$root.tipsShow=false;rebuildPanelLeftScrollbar();tips.bodyCreateFunction($event)">Utwórz</b> ciało strony</span>
        </div>
        <div class="tip" ng-if="tips.sidebarRightCreate"><span><b
                ng-click="$root.tipsShow=false;rebuildPanelLeftScrollbar();tips.sidebarRightCreateFunction($event)">Utwórz</b> prawy panel</span>
        </div>
        <div class="tip" ng-if="tips.footerCreate"><span><b
                ng-click="$root.tipsShow=false;rebuildPanelLeftScrollbar();tips.footerCreateFunction($event)">Utwórz</b> stopkę strony</span>
        </div>
    </div>
</tips>
<asc ng-if="!$root.rightPanel" ng-click="$root.tipsShow=!$root.tipsShow">
    <i class="material-icons">plus_one</i>
</asc>

<div elem-ready="$root.scrollPanels();setupTips();"></div>