<head>
    <link href="/Public/Css/Grid.css" rel="stylesheet">

    <style>
        .margin {
            margin-top: 30px;
            float: left;
            width: 100%;
            box-sizing: border-box;
        }
        .card-padding{
            padding: 5px;
        }
    </style>
</head>
<body ng-click="select($event, 'body')">
<view ng-click="select($event, 'view')">
    <view-header ng-click="select($event, 'view-header')">
        <div class="menu" ng-click="select($event, '.menu')">
            <a href="" ng-bind="words[4]" ng-click="select($event, '.menu a')"></a>
            <a href="" ng-bind="words[5]" ng-click="select($event, '.menu a')"></a>
            <a href="" ng-bind="words[6]" ng-click="select($event, '.menu a')"></a>
        </div>
    </view-header>
    <wrapper ng-click="select($event, 'wrapper')">
        <left-sidebar ng-click="select($event, 'left-sidebar')">
            <div class="menu vertical" ng-click="select($event, '.menu.vertical')">
                <div class="title" ng-click="select($event, '.menu.vertical .title')">{{words[9]}}</div>
                <a href="" ng-bind="words[1]" ng-click="select($event, '.menu.vertical a')"></a>
                <a href="" ng-bind="words[2]" ng-click="select($event, '.menu.vertical a')"></a>
                <a href="" ng-bind="words[3]" ng-click="select($event, '.menu.vertical a')"></a>
                <a href="" ng-bind="words[4]" ng-click="select($event, '.menu.vertical a')"></a>
            </div>
        </left-sidebar>
        <view-body class="left-sidebar right-sidebar" ng-click="select($event, 'view-body')">
            <div class="container">
                <h1 ng-bind="sentences[0]" ng-click="select($event, 'h1')"></h1>
                <h2 ng-bind="sentences[1]" ng-click="select($event, 'h2')"></h2>
                <h3 ng-bind="sentences[2]" ng-click="select($event, 'h3')"></h3>
                <h4 ng-bind="sentences[3]" ng-click="select($event, 'h4')"></h4>
                <h5 ng-bind="sentences[4]" ng-click="select($event, 'h5')"></h5>
                <h6 ng-bind="sentences[5]" ng-click="select($event, 'h6')"></h6>
                <div>
                    <article ng-bind="paragraphs[1]" ng-click="select($event, 'article')"></article>
                </div>
                <div><p ng-bind="paragraphs[0]" ng-click="select($event, 'p')"></p></div>
                <div>
                    <div>
                        <label ng-bind="words[6]" ng-click="select($event, 'label')"></label>
                        <input ng-model="words[1]" ng-click="select($event, 'input')">
                    </div>
                    <div class="margin">
                        <label ng-bind="words[2]" ng-click="select($event, 'label')"></label>
                        <select ng-click="select($event, 'select')">
                            <option>{{words[2]}}</option>
                            <option>{{words[3]}}</option>
                        </select>
                    </div>
                </div>
                <div class="margin">
                    <label ng-bind="words[8]" ng-click="select($event, 'label')"></label>
                    <textarea ng-click="select($event, 'textarea')">{{paragraphs[1]}}</textarea>
                </div>
                <div class="margin" class="form-group" ng-click="select($event, '.form-group')">
                    <input type="checkbox" ng-click="select($event, 'input[type=checkbox]')">
                    <label ng-bind="words[8]" ng-click="select($event, 'label.checkbox')" class="checkbox"></label>
                </div>
                <div class="margin" style="margin-bottom: 15px;">
                    <button ng-click="select($event, 'button.sm')" class="sm">button.sm</button>
                    <button ng-click="select($event, 'button')">button</button>
                    <button ng-click="select($event, 'button.xl')" class="xl">button.xl</button>
                </div>
                <div class="group" ng-click="select($event, '.group')">
                    <button ng-click="select($event, '.group button')">.group button</button>
                    <button ng-click="select($event, '.group button')">.group button</button>
                    <button ng-click="select($event, '.group button')">.group button</button>
                </div>
                <div class="margin">
                    <button ng-click="select($event, 'button')">button</button>
                    <button ng-click="select($event, 'button.primary')" class="primary">button.primary</button>
                    <button ng-click="select($event, 'button.secondary')" class="secondary">button.secondary</button>
                    <button ng-click="select($event, 'button.alert')" class="alert">button.alert</button>
                </div>
                <div class="margin">
                    Link: <a href="" ng-bind="words[9]" ng-click="select($event, 'a')"></a>
                </div>
                <pagination class="margin" ng-click="select($event, 'pagination')">
                    <a class="link not-important" ng-click="select($event, 'pagination .link.not-important')">1</a>
                    <a class="link unactive" ng-click="select($event, 'pagination .link.unactive')">...</a>
                    <a class="link not-important" ng-click="select($event, 'pagination .link.not-important')">10</a>
                    <a class="link not-important" ng-click="select($event, 'pagination .link.not-important')">20</a>
                    <a class="link not-important" ng-click="select($event, 'pagination .link.not-important')">30</a>
                    <a class="link unactive" ng-click="select($event, 'pagination .link.unactive')">...</a>
                    <a class="link" ng-click="select($event, 'pagination .link')">38</a>
                    <a class="link" ng-click="select($event, 'pagination .link')">39</a>
                    <a class="link active" ng-click="select($event, 'pagination .link.active')">40</a>
                    <a class="link" ng-click="select($event, 'pagination .link')">41</a>
                    <a class="link" ng-click="select($event, 'pagination .link')">42</a>
                    <a class="link unactive" ng-click="select($event, 'pagination .link.unactive')">...</a>
                    <a class="link not-important" ng-click="select($event, 'pagination .link.not-important')">50</a>
                    <a class="link not-important" ng-click="select($event, 'pagination .link.not-important')">60</a>
                    <a class="link not-important" ng-click="select($event, 'pagination .link.not-important')">70</a>
                    <a class="link unactive" ng-click="select($event, 'pagination .link.unactive')">...</a>
                    <a class="link not-important" ng-click="select($event, 'pagination .link.not-important')">142</a>
                </pagination>
                <div class="margin">
                    <div class="col col-xs-3 card-padding">
                        <div class="card" ng-click="select($event, '.card')">
                            <div class="header" ng-click="select($event, '.card .header')">
                                <div class="title">{{words[1]}}</div>
                            </div>
                            <div class="body" ng-click="select($event, '.card .body')">{{paragraphs[2]}}</div>
                            <div class="footer" ng-click="select($event, '.card .footer')">
                                {{words[2]}}
                                {{words[3]}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-xs-3 card-padding">
                        <div class="card" ng-click="select($event, '.card')">
                            <div class="header image" ng-click="select($event, '.card .header.image')">
                                <img class="responsive" src="/Files/default.jpg"
                                     ng-click="select($event, '.card .header img')">
                            </div>
                            <div class="body" ng-click="select($event, '.card .body')">{{paragraphs[3]}}</div>
                            <div class="footer" ng-click="select($event, '.card .footer')">
                                {{words[4]}}
                                {{words[5]}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-xs-3 card-padding">
                        <div class="card" ng-click="select($event, '.card')">
                            <div class="header" ng-click="select($event, '.card .header')">
                                <div class="title">{{words[2]}}</div>
                            </div>
                            <div class="body" ng-click="select($event, '.card .body')">{{paragraphs[4]}}</div>
                        </div>
                    </div>
                    <div class="col col-xs-3 card-padding">
                        <div class="card" ng-click="select($event, '.card')">
                            <div class="header image" ng-click="select($event, '.card .header.image')">
                                <img class="responsive" src="/Files/default.jpg"
                                     ng-click="select($event, '.card .header img')">
                            </div>
                            <div class="footer" ng-click="select($event, '.card .footer')">
                                {{words[8]}}
                                {{words[9]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin">
                    <div class="table" ng-click="select($event, '.table')">
                        <div class="header" ng-click="select($event, '.table .header')">
                            <div class="col col-xs-2">{{words[1]}}</div>
                            <div class="col col-xs-2">{{words[2]}}</div>
                            <div class="col col-xs-2">{{words[3]}}</div>
                            <div class="col col-xs-2">{{words[4]}}</div>
                            <div class="col col-xs-2">{{words[5]}}</div>
                            <div class="col col-xs-2">{{words[6]}}</div>
                        </div>
                        <div class="body">
                            <div class="row" ng-click="select($event, '.table .body .row')">
                                <div class="col col-xs-2">{{words[1]}}</div>
                                <div class="col col-xs-2">{{words[2]}}</div>
                                <div class="col col-xs-2">{{words[3]}}</div>
                                <div class="col col-xs-2">{{words[4]}}</div>
                                <div class="col col-xs-2">{{words[5]}}</div>
                                <div class="col col-xs-2">{{words[6]}}</div>
                            </div>
                            <div class="row" ng-click="select($event, '.table .body .row')">
                                <div class="col col-xs-2">{{words[9]}}</div>
                                <div class="col col-xs-2">{{words[8]}}</div>
                                <div class="col col-xs-2">{{words[7]}}</div>
                                <div class="col col-xs-2">{{words[6]}}</div>
                                <div class="col col-xs-2">{{words[5]}}</div>
                                <div class="col col-xs-2">{{words[4]}}</div>
                            </div>
                            <div class="row" ng-click="select($event, '.table .body .row')">
                                <div class="col col-xs-2">{{words[1]}}</div>
                                <div class="col col-xs-2">{{words[2]}}</div>
                                <div class="col col-xs-2">{{words[3]}}</div>
                                <div class="col col-xs-2">{{words[4]}}</div>
                                <div class="col col-xs-2">{{words[5]}}</div>
                                <div class="col col-xs-2">{{words[6]}}</div>
                            </div>
                            <div class="row" ng-click="select($event, '.table .body .row')">
                                <div class="col col-xs-2">{{words[9]}}</div>
                                <div class="col col-xs-2">{{words[8]}}</div>
                                <div class="col col-xs-2">{{words[7]}}</div>
                                <div class="col col-xs-2">{{words[6]}}</div>
                                <div class="col col-xs-2">{{words[5]}}</div>
                                <div class="col col-xs-2">{{words[4]}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin">
                    <div class="table" ng-click="select($event, '.table')">
                        <div class="header" ng-click="select($event, '.table .header')">
                            <div class="col col-xs-2">{{words[1]}}</div>
                            <div class="col col-xs-2">{{words[2]}}</div>
                            <div class="col col-xs-2">{{words[3]}}</div>
                            <div class="col col-xs-2">{{words[4]}}</div>
                            <div class="col col-xs-2 right">{{words[5]}}</div>
                            <div class="col col-xs-2 right">{{words[6]}}</div>
                        </div>
                        <div class="body">
                            <div class="row" ng-click="select($event, '.table .body .row')">
                                <div class="col col-xs-2">
                                    <img class="responsive" src="/Files/default.jpg"
                                         ng-click="select($event, '.table .body .row img')">
                                </div>
                                <div class="col col-xs-2">{{words[2]}}</div>
                                <div class="col col-xs-2">{{words[3]}}</div>
                                <div class="col col-xs-2">{{words[4]}}</div>
                                <div class="col col-xs-2 right">{{floats[1]}}</div>
                                <div class="col col-xs-2 right">{{floats[2]}}</div>
                            </div>
                            <div class="row" ng-click="select($event, '.table .body .row')">
                                <div class="col col-xs-2">
                                    <img class="responsive" src="/Files/default.jpg"
                                         ng-click="select($event, '.table .body .row img')">
                                </div>
                                <div class="col col-xs-2">{{words[8]}}</div>
                                <div class="col col-xs-2">{{words[7]}}</div>
                                <div class="col col-xs-2">{{words[6]}}</div>
                                <div class="col col-xs-2 right">{{floats[3]}}</div>
                                <div class="col col-xs-2 right">{{floats[4]}}</div>
                            </div>
                            <div class="row" ng-click="select($event, '.table .body .row')">
                                <div class="col col-xs-2">
                                    <img class="responsive" src="/Files/default.jpg"
                                         ng-click="select($event, '.table .body .row img')">
                                </div>
                                <div class="col col-xs-2">{{words[2]}}</div>
                                <div class="col col-xs-2">{{words[3]}}</div>
                                <div class="col col-xs-2">{{words[4]}}</div>
                                <div class="col col-xs-2 right">{{floats[5]}}</div>
                                <div class="col col-xs-2 right">{{floats[6]}}</div>
                            </div>
                            <div class="row" ng-click="select($event, '.table .body .row')">
                                <div class="col col-xs-2">
                                    <img class="responsive" src="/Files/default.jpg"
                                         ng-click="select($event, '.table .body .row img')">
                                </div>
                                <div class="col col-xs-2">{{words[8]}}</div>
                                <div class="col col-xs-2">{{words[7]}}</div>
                                <div class="col col-xs-2">{{words[6]}}</div>
                                <div class="col col-xs-2 right">{{floats[7]}}</div>
                                <div class="col col-xs-2 right">{{floats[8]}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin">
                    <div class="col col-xs-3 card-padding">
                        <div class="panel" ng-click="select($event, '.panel')">
                            <div class="header" ng-click="select($event, '.panel .header')">
                                <div class="title">{{words[1]}}</div>
                            </div>
                            <div class="body" ng-click="select($event, '.panel .body')">{{paragraphs[1]}}</div>
                            <div class="footer" ng-click="select($event, '.panel .footer')">
                                {{words[2]}}
                                {{words[3]}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-xs-3 card-padding">
                        <div class="panel" ng-click="select($event, '.panel')">
                            <div class="header" ng-click="select($event, '.panel .header')">
                                <div class="title">{{words[2]}}</div>
                            </div>
                            <div class="body" ng-click="select($event, '.panel .body')">{{paragraphs[2]}}</div>
                            <div class="footer" ng-click="select($event, '.panel .footer')">
                                {{words[4]}}
                                {{words[5]}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-xs-3 card-padding">
                        <div class="panel" ng-click="select($event, '.panel')">
                            <div class="header" ng-click="select($event, '.panel .header')">
                                <div class="title">{{words[3]}}</div>
                            </div>
                            <div class="body" ng-click="select($event, '.panel .body')">{{paragraphs[3]}}</div>
                            <div class="footer" ng-click="select($event, '.panel .footer')">
                                {{words[6]}}
                                {{words[7]}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-xs-3 card-padding">
                        <div class="panel" ng-click="select($event, '.panel')">
                            <div class="header" ng-click="select($event, '.panel .header')">
                                <div class="title">{{words[4]}}</div>
                            </div>
                            <div class="body" ng-click="select($event, '.panel .body')">{{paragraphs[4]}}</div>
                            <div class="footer" ng-click="select($event, '.panel .footer')">
                                {{words[8]}}
                                {{words[9]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin">
                    <div class="col col-xs-12">
                        <div class="tabs" ng-click="select($event, '.tabs')">
                            <div class="tab active" ng-click="select($event, '.tabs .tab.active')">{{words[1]}}</div>
                            <div class="tab" ng-click="select($event, '.tabs .tab')">{{words[2]}}</div>
                            <div class="tab" ng-click="select($event, '.tabs .tab')">{{words[3]}}</div>
                            <div class="tab" ng-click="select($event, '.tabs .tab')">{{words[4]}}</div>
                            <div class="tab" ng-click="select($event, '.tabs .tab')">{{words[5]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </view-body>
        <right-sidebar ng-click="select($event, 'right-sidebar')">Right sidebar</right-sidebar>
    </wrapper>
    <view-footer class="margin" ng-click="select($event, 'view-footer')">
        <footer ng-click="select($event, 'footer')">Footer - All rights reserved</footer>
    </view-footer>
</view>
</body>